<div class="uk-height-viewport uk-flex uk-flex-column uk-flex-space-between">
    <div>
        <h2 class="uk-container uk-container-center uk-width-1-1 uk-margin-bottom-remove"{%- if editable -%} data-dirty="false" id="{{ global_block_id }}_header" data-field="header" contenteditable="true"{%- endif -%}>{{ block_data.header|safe }}</h2>
    </div>
    <div class="uk-grid uk-container uk-container-center uk-width-1-1">
        <div class="uk-width-1-1 uk-width-medium-1-2"{%- if editable -%} data-dirty="false" id="{{ global_block_id }}_left_text" data-field="left_text" contenteditable="true"{%- endif -%}>{{ block_data.left_text|safe }}</div>

        <div class="uk-width-1-2 uk-width-medium-1-4"{%- if editable -%} data-dirty="false" id="{{ global_block_id }}_right_text" data-field="right_text" contenteditable="true"{%- endif -%}>{{ block_data.right_text|safe }}</div>
        <div class="uk-width-1-2 uk-width-medium-1-4">
    		<img src="{{ url_for('public_dir', filename='images/blocks_ct/calc.png') }}" alt="" />
    	</div>
    </div>
    <div></div>
</div>