{% extends 'admin/common.html' %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li class="active">{{ _('Permissions list header') }}</li>
        </ol>
    </h4>

    <form class="form-inline" action="{{ url_for('.permissions') }}" method="post">
        <div class="table-responsive table-container">
            <table class="table table-condensed table-hover table-striped rbac_permissions">
                <thead>
                    <tr>
                        <th>{{ _('Operation column') }}</th>
                        {% for role in roles -%}
                            <th>{{ role.title }}</th>
                        {%- endfor %}
                    </tr>
                </thead>
                {% for obj in objects -%}
                    <tr class="info">
    					<td style="font-weight:bold">{{ _(obj.title) }}</td>
    					{% for role in roles -%}
    						<td></td>
    					{%- endfor %}
    				</tr>
                    {% for perm in permissions[obj.name] -%}
                        <tr>
                            <td>{{ _(perm.title) or perm.op_name }}</td>
                            {% for role in roles -%}
                                <td class="text-center"><input type="checkbox" name="permission" value="{{ role.id }},{{ perm.op_name }},{{perm.obj_name}}" {{ 'checked="checked"' if (perm.op_name, perm.obj_name) in granted[role.id] }} /></td>
                            {%- endfor %}
                        </tr>
                    {%- endfor %}
                {%- endfor %}
            </table>
        </div>

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                <button type="submit" class="btn btn-primary">{{ _('Grant RBAC permissions button') }}</button>
            </div>
        </div>
    </form>
{% endblock %}