{% set items = [
    "Выбор участка",
    "Проектирование",
    "Металлоконструкции",
    "Согласование
    и строительство",
    "Сервисная
    поддержка"
] %}
{% if prefix == "icons" %}
    {% set items = items[:2] %}
{% endif %}

{# metroline | content | simple #}
{% set prefix = prefix|default("simple") %}

    {% if prefix == "metroline" %}
    <div class="metroline">
        {% for item in items %}
        <label class="metroline-item{% if loop.first %} current{% endif %}" for="{{ prefix }}_tab{{ loop.index }}">
            {{ item }}
            <span class="metroline-item-dot"></span>
        </label>
        {% endfor %}
    </div>
    {% elif prefix == "content" %}
    <div class="contentmenu common-wrapper">
        <div class="contentmenu-items">
            {% for item in items %}
            <label class="contentmenu-items-item{% if loop.first %} current{% endif %}" for="{{ prefix }}_tab{{ loop.index }}">{{ item }}</label>
            {% endfor %}
        </div>
    </div>
    {% elif prefix == "icons" %}
    <div class="contentmenu common-wrapper">
        <div class="contentmenu-items common-width_100">
            {% for item in items %}
            <label class="contentmenu-items-item common-align_bottom{% if loop.first %} current{% endif %}" for="{{ prefix }}_tab{{ loop.index }}">
                <div class="labelitem">
                    <div class="labelitem-text"><h2>{{ item }}</h2></div>
                    <div class="labelitem-icon"><img alt="" src="{{ url_for('static', filename='images/%s.png'|format('menu_calc')) }}" /></div>
                </div>
            </label>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="tabs-head">
        {% for item in items %}
            <label class="tabs-head-item{% if loop.first %} current{% endif %}" for="{{ prefix }}_tab{{ loop.index }}">{{ item }}</label>
        {% endfor %}
    </div>
    {% endif %}

    {% for item in items %}
    <input class="css-tabs-select js-tabs-select"
        type="radio" name="{{ prefix }}_tab" id="{{ prefix }}_tab{{ loop.index }}"{% if loop.first %} checked="checked"{% endif %} autocomplete="off" />
    <div class="css-tabs-item js-tabs-item">
        {{ loop.index }}
    </div>
    {% endfor %}
