{% from "elements/forms.html" import render_label  %}
{% set prefix = "faq" %}
{% set items = [
    "Какова минимальная рекомендуемая температура воды для мойки, чтобы она не вышла из строя? Если ли информация об этом в инструкции?",
    "Подскажите, пожалуйста, у меня пятидверный седан, мою его несколько раз в неделю. Какую лучше мойку приобрести?",
    "Можно ли подключать мойку к насосу, который качает воду из скважины и не сломается ли насос при этом?",
    "Можно ли мойку включать без воды, и если нет, то как удалить воду если мойку оставлять на зиму в холодном помещении?",
    "При мойке автомобиля небольшая часть воды (брызги) попадают на аппарат, чем это грозит?",
    "Слышал, что минимойку Karcher K 5.20 надо использовать строго в горизонтальном положении. Так ли это? Если да, то почему?",
    "Почему для питания мойки из системы водоснабжения шланг должен быть не меньше 7.5 метров?",
    "Интегрированный фильтр тонкой очистки воды. Что это, где он стоит, почему интегрированный?",
    "Что обозначает номенклатурная классификация бытовых аппаратов высокого давления (АВД) Karcher?",
] %}
<div class="common-wrapper">
<table class="content common-height_auto">
    <tr class="content-row">
        <td class="content-row-cell"><h4>Вопросы</h4></td>
        <td class="content-row-cell"><h4>Ответ</h4></td>
    </tr>
    <tr class="content-row">
        <td class="content-row-cell">
            <ul class="faq">
                {% for item in items %}
                <li class="faq-item">{{ render_label(for="%s_tab%s"|format(prefix, loop.index), class="faq-item-label", value=item) }}</li>
                {% endfor %}
            </ul>
        </td>
        <td class="content-row-cell common-wrapper_all_d2" style="background: #eeeeee;">
            {% for item in items %}
            <input class="css-tabs-select js-tabs-select"
                type="radio" name="{{ prefix }}_tab" id="{{ prefix }}_tab{{ loop.index }}" autocomplete="off" />
            <article class="article css-tabs-item">
                <p>{{ item }}</p>
                <p>Чтобы слить воду с аппарата необходимо сделать следующее: отсоединить шланг для подачи воды, затем не включая аппарат нажать на пистолет и слить воду, затем отсоединить шланг высокого давления от аппарата и включить аппарат не больше, чем на минуту (вода будет литься из выходного патрубка). Если планируется длительное хранение аппарата и при большой минусовой температуре, то лучше всего в аппарат заливать антифриз или специальный фирменный консервант Karcher, потому что при сливе воды вышеуказанным способом все равно в аппарате остается некоторая доля воды. Если аппарат работает несколько секунд без воды, это к сильному износу не приводит, главное чтобы такие моменты не повторялись часто.</p>
            </article>
            {% endfor %}
        </td>
    </tr>
</table>
</div>
