{% macro render_slide(class_name, image_url) -%}
    <div class="{{ class_name }}" data-img="{{ image_url }}">
        {# common-margined_left   - if align left #}
        {# common-margined_center - if align center #}
        {# common-margined_right  - if align right #}
        <div class="{{ class_name }}-wrapper common-margined_right">
            <div class="{{ class_name }}-content">
                <div class="{{ class_name }}-text">{{ caller() }}</div>
            </div>
        </div>
    </div>
{%- endmacro %}

<div class="page">
    <div class="page-content">
        <table class="content">
            <tr class="content-row">
                <td class="content-row-cell">
                    <h1>Контроль и учёт</h1>
                </td>
            </tr>

            <tr class="content-row common-height_100">
                <td class="content-row-cell common-height_100">
                    <div class="fotorama mainslider" data-width="100%" data-height="100%" data-fit="cover">
                        {% for slide in range(4) -%}
                            {% set filename = 'images/blocks/fotorama/1.jpg' %}
                            {% call render_slide(class_name="mainslider-item", image_url=url_for('static', filename=filename)) %}
                                Легкая система контроля<br />и простой учет финансов
                            {% endcall %}
                        {%- endfor %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
