{% macro editable_data(field) -%}
    {% if editable %} data-dirty="false" id="{{ global_block_id }}_{{ field }}" data-field="{{ field }}" contenteditable="true"{% endif %}    
{%- endmacro %}

{# TODO: delete these two strings #}
<div class="page">
<div class="page-content">

<table class="content">
    <tr class="content-row">
        <td colspan="2" class="content-row-cell common-wrapper">
            <h2 {{ editable_data("header") }}>Доходность моек самообслуживания</h2>
        </td>
    </tr>
    <tr class="content-row common-height_100">
        <td class="content-row-cell common-wrapper common-align_middle">
            <article class="article article--small_margins" {{ editable_data("content") }}>
                <table width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th align="center">4 поста</th>
                            <th align="center">6 постов</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td align="left">Средняя выручка с а/м (<span class="rub">&#8381;</span>)</td>
                            <td align="center" colspan="2">более 125</td>
                        </tr>
                        <tr>
                            <td align="left">Расход на 1 а/м (<span class="rub">&#8381;</span>)</td>
                            <td align="center" colspan="2">около 45</td>
                        </tr>
                        <tr>
                            <td align="left">Доход с 1 а/м (<span class="rub">&#8381;</span>)</td>
                            <td align="center" colspan="2">более 80</td>
                        </tr>
                        <tr>
                            <td align="left">Кол-во а/м на МСО в день</td>
                            <td align="center">200</td>
                            <td align="center">300</td>
                        </tr>
                        <tr>
                            <td align="left">Доход в месяц (тысяч <span class="rub">&#8381;</span>)</td>
                            <td align="center">500</td>
                            <td align="center">800</td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </td>
        <td class="content-row-cell common-wrapper common-align_center common-align_bottom">
            <img class="common-align_bottom common-max_width_100" src="{{ url_for('static', filename='images/blocks/hd1im1tx1l/1.jpg') }}" alt="" />
        </td>
    </tr>
</table>

{# TODO: delete these two strings #}
</div>
</div>

{#
в block_data:
header - заголовок
content - текст
#}
