{% set news = [
    {
        "date": "14.07.15",
        "title": "Открылась новая мойка",
        "summary": "Kärcher открыла фабрику в Бразилии. В 1962 году был основан первый иностранный филиал - во Франции, за этим событием последовало открытие подразделений в Австрии и Швейцарии. С каждым годом число филиалов увеличивалось."
    },
    {
        "date": "12.07.15",
        "title": "Бесплатный сервис целый месяц",
        "summary": "В 1957 году компания Kärcher открыла фабрику в Бразилии. В 1962 году был основан первый иностранный филиал - во Франции, за этим событием последовало открытие подразделений в Австрии и Швейцарии."
    },
    {
        "date": "02.07.15",
        "title": "Новый инструмент",
        "summary": "Был основан первый иностранный филиал - во Франции, за этим событием последовало открытие подразделений в Австрии и Швейцарии. С каждым годом число филиалов увеличивалось."
    }
] %}

{% set items = news + news %}
<div class="news">
    {% for item in items %}
    <div class="news-item">
        <img class="news-item-preview" alt="" src="{{ url_for('static', filename='images/blocks/news/%s.jpg'|format(loop.index0%3+1)) }}" />
        <div class="news-item-date">{{ item.date }}</div>
        <div class="news-item-title">{{ item.title }}</div>
        <div class="news-item-summary">{{ item.summary }}</div>
        {% if not loop.first %}
        <div class="news-item-more">
            <a href="#">Подробнее&nbsp;›</a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
