{% set items = [
    "Наша история",
    "Новости",
    "Новость",
    "Карта филиалов и сервисных центров"
] %}
{% set prefix = "news" %}
{% set current = 3 %}
<div class="page">
    <div class="page-content common-align_top">
        
        <div class="contentmenu common-wrapper">
            <div class="contentmenu-items">
                {% for item in items %}
                <label class="contentmenu-items-item{% if loop.index == current %} current{% endif %}" for="{{ prefix }}_tab{{ loop.index }}">{{ item }}</label>
                {% endfor %}
            </div>
        </div>

        {% for item in items %}
        <input class="css-tabs-select js-tabs-select"
            type="radio" name="{{ prefix }}_tab" id="{{ prefix }}_tab{{ loop.index }}"{% if loop.index == current %} checked="checked"{% endif %} autocomplete="off" />
        <div class="css-tabs-item common-wrapper">
            {% if loop.index == 2 %}
                {% include "elements/blocks/news_list.html" %}
            {% elif loop.index == 3 %}
                {% include "elements/blocks/news_item.html" %}
            {% else %}
                {{ loop.index }}
            {% endif %}
        </div>
        {% endfor %}

    </div>
</div>
