<br /><br /><br />
<article class="article">
    <h5>14.07.15</h5>
    <h2>Открылась новая мойка</h2>
    <img class="common-float_right" alt="" src="{{ url_for('static', filename='images/blocks/news/preview.jpg') }}" />
    <p>Десятого сентября в городе Верхняя Пышма на улице Бажова открылась новая АВТОМОЙКА “ФАВОРИТ”. Что ее отличает от многих других, спросите вы. Тем, что АВТОМОЙКА “ФАВОРИТ” полностью оснащена профессиональным оборудованием фирмы Carher замкнутого цикла. АВТОМОЙКА предоставляет весь стандартный комплекс услуг, необходимых для достижения чистоты автомобиля, с качеством высокого уровня. Помещение мойки распланировано на два поста с хорошим освещением, практически стерильной чистотой. Профессионально - обученный коллектив выполнит бесконтактную или экспресс-мойку, химчистку салона. Также для автомобилей предлагается удобная парковка, сухой подъезд по удобной асфальтированной улице.</p>
</article>
