<div class="calculator">
    <div class="calculator-wrapper">
        <div class="calculator-content">
            <h2>Насколько выгодным окажется ваш бизнес?</h2>
        </div>
        <img class="calculator-preview" src="{{ url_for('static', filename='images/blocks/calculator/preview.png') }}" alt="" />
    </div>
    <div class="calculator-footer calculator-wrapper">
        <div class="calculator-content">
            <!-- start content -->
            <h4>Ключевые цифры вы можете узнать уже сейчас с помощью нашего <a href="#">калькулятора ›</a></h4>
            <!-- end content -->
        </div>
    </div>
</div>
