{% from "elements/forms.html" import render_label, render_input, render_select, render_textarea %}
{% set menu = [
    ("Калькулятор", "menu_calc"),
    ("Конфигуратор", "menu_conf")
] %}
{% set current = 2 %}
{% macro calcitem(name="", img_name="1") %}
    <div class="calcitem">
        <div class="calcitem-left">
            <img class="calcitem-preview" alt="" src="{{ url_for('static', filename='images/blocks/calculate/%s.jpg'|format(img_name)) }}" width="42" height="42" />
        </div>
        <div class="calcitem-right">
            <div class="calcitem-text">{{ name }}</div>
        </div>
    </div>
{% endmacro %}

    <div class="contentmenu common-wrapper">
        <div class="contentmenu-items common-width_100">
            {% for item in menu %}
            <label class="contentmenu-items-item common-align_bottom{% if loop.index == current %} current{% endif %}" for="calc_tab{{ loop.index }}">
                <div class="labelitem">
                    <div class="labelitem-text"><h2>{{ item.0 }}</h2></div>
                    <div class="labelitem-icon"><img alt="" src="{{ url_for('static', filename='images/%s.png'|format(item.1)) }}" /></div>
                </div>
            </label>
            {% endfor %}
        </div>
    </div>
    {% for item in menu %}
    <input class="css-tabs-select js-tabs-select"
        type="radio" name="content_tab" id="calc_tab{{ loop.index }}"{% if loop.index == current %} checked="checked"{% endif %} autocomplete="off" />
    <div class="css-tabs-item">
        {% if loop.first %}
        <form action="#" method="get">
            <fieldset class="common-wrapper_all" style="background: #ffffff;">
                <div class="form-title">Заполните форму и узнайте рентабельность своей мойки</div>
                <div class="form-summary">Данные не являются публичной офертой. Расчёт приведен для примера.</div>

                <div class="form-columns">
                    <div class="form-columns-item">
                        <div class="form-table">
                        	<div class="form-table-row">
                                <div class="form-table-row-cell">{{ render_label(value="Площадь участка (м2)", id="el1") }}</div>
                                <div class="form-table-row-cell">{{ render_input(value=200, type="number", id="el1") }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-columns-item">
                        <div class="form-table">
                        	<div class="form-table-row">
                                <div class="form-table-row-cell">{{ render_label(value="Расположение участка", id="el2") }}</div>
                                <div class="form-table-row-cell">{{ render_select(labels=["Другой", "Любой"], id="el2") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="common-wrapper_all" style="background: #eeeeee;">

                <div class="form-columns">
                    <div class="form-columns-item common-width_50">
                        <div class="form-table">
                        	<div class="form-table-row">
                        		<div class="form-table-row-cell">
                                    {{ render_label(value="Выберите количество постов", id="el11") }}
                                </div>
                                <div class="form-table-row-cell common-nowrap">
                        {% for item in [2, 3, 4, 5, 6, 8] -%}
                            {% set add_kwargs = {} %}
                            {% if item in [6, 8] %}
                                {% set add_kwargs = {"disabled": "disabled"} %}
                            {% endif %}
                        {{ render_input(value=item, type="radio", name="post_count", id="el11_%s"|format(loop.index), class="postselect", **add_kwargs) }}
                        {{ render_label(value=item, id="el11_%s"|format(loop.index), class="postlabel") }}
                        {%- endfor %}
                                </div>
                            </div>
                        	<div class="form-table-row">
                        		<div class="form-table-row-cell">{{ render_label(value="Площадь застройки (м2)", id="el12") }}</div>
                        		<div class="form-table-row-cell">{{ render_input(value=100, type="number", id="el12") }}</div>
                            </div>
                        	<div class="form-table-row">
                        		<div class="form-table-row-cell">{{ render_label(value="Площадь объекта (с учетом зоны въеза/выезда, ожидания)", id="el13") }}</div>
                        		<div class="form-table-row-cell">{{ render_input(value=150, type="number", id="el13") }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-columns-item common-width_25">
                        <h4>Прогноз трафика</h4>
                        <div class="form-table">
                        	<div class="form-table-row">
                                <div class="form-table-row-cell">{{ render_label(value="Посетителей в день", id="el21") }}</div>
                                <div class="form-table-row-cell">{{ render_input(value=30, type="number", id="el21") }}</div>
                            </div>

                        	<div class="form-table-row">
                                <div class="form-table-row-cell">{{ render_label(value="Посетителей в месяц", id="el22") }}</div>
                                <div class="form-table-row-cell">{{ render_input(value=800, type="number", id="el22") }}</div>
                            </div>

                        	<div class="form-table-row">
                                <div class="form-table-row-cell">{{ render_label(value="Посетителей в год", id="el23") }}</div>
                                <div class="form-table-row-cell">{{ render_input(value=9600, type="number", id="el23") }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-columns-item common-width_25">
                        <h4>Другое</h4>
                        <div class="form-line">
                        {{ render_textarea(text="Трасса вдали от города рядом с перекрестком и торговым центром", cols="", rows="4") }}
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="common-wrapper_all" style="background: #ffffff;">
                <div class="form-columns">
                    <div class="form-columns-item">
                        <div class="form-table">
                        	<div class="form-table-row">
                                <div class="form-table-row-cell">{{ render_label(value="Стоимость аренды 1 м2/мес", id="el31") }}</div>
                                <div class="form-table-row-cell">{{ render_input(value=800, type="number", id="el31") }}</div>
                            </div>
                        	<div class="form-table-row">
                                <div class="form-table-row-cell">{{ render_label(value="Климатическая зона объекта", id="el32") }}</div>
                                <div class="form-table-row-cell">{{ render_select(labels=["Центральный регион", "Другой"], id="el32") }}</div>
                            </div>
                        	<div class="form-table-row">
                                <div class="form-table-row-cell">{{ render_label(value="Стоимость мойки", id="el33") }}</div>
                                <div class="form-table-row-cell">
                                    {{ render_input(value=150, type="number", id="el34") }}&nbsp;&nbsp;
                                    <div class="form-thelp">(рекомендация: 100-150 <span class="rub">&#8381</span>,<br />время мойки 8-10 минут)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-columns-item">
                        <div class="form-table">
                        	<div class="form-table-row">
                                <div class="form-table-row-cell">{{ render_label(value="Количество операторов на мойке", id="el41") }}</div>
                                <div class="form-table-row-cell">{{ render_select(labels=["2", "3"], id="el41") }}</div>
                            </div>
                        	<div class="form-table-row">
                                <div class="form-table-row-cell">{{ render_label(value="Время присутсвия оператора на мойке (ч)", id="el42") }}</div>
                                <div class="form-table-row-cell common-nowrap">
                        {% for item in [24, 12, 8] %}
                        {{ render_input(value=item, type="radio", name="hour_count", id="el42_%s"|format(loop.index), class="timeselect") }}
                        {% set label_value %}
                           <span class="timelabel-text">{{ item }}</span> 
                        {% endset %}
                        {{ render_label(value=label_value, id="el42_%s"|format(loop.index), class="timelabel timelabel--%s"|format(item)) }}
                        {% endfor %}
                                </div>
                            </div>
                        	<div class="form-table-row">
                                <div class="form-table-row-cell">{{ render_label(value="Заработная плата 1-го оператора в мес.", id="el43") }}</div>
                                <div class="form-table-row-cell">{{ render_input(value=150, type="number", id="el43") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="common-wrapper_all" style="background: #ffec01;">
                <h4>В расчёт включено:</h4>
                <br />
                <div class="form-columns">
                    <div class="form-columns-item">
{{ calcitem("Стоимость оборудования (стандартный комплект)", "1") }}
{{ calcitem("Затраты на Проектирование", "2") }}
{{ calcitem("Затраты на Согласование", "3") }}
{{ calcitem("Затраты на Строительство", "4") }}
                    </div>
                    <div class="form-columns-item">
{{ calcitem("Металлоконструкции", "5") }}
{{ calcitem("Переменные затраты (вода, электричество, диз. топливо для нагрева воды, чистящие средства, прочие расходы)", "6") }}
{{ calcitem("Сервисное обслуживание", "7") }}
                    </div>
                </div>
                <br />
                <h4>Окупаемость (мес)&nbsp;&nbsp;
                {{ render_input(value=23, type="number", disabled="disabled") }}</h4>
            </fieldset>
        </form>
        {% else %}
            <div class="common-wrapper">
            {% include "elements/blocks/configurator.html" %}
            </div>
        {% endif %}
    </div>
    {% endfor %}
