{% from 'elements/forms.html' import render_label %}
    <br/><br/>

    <div class="css-tabs-item common-wrapper common-height_100">
        <table class="content">
            <tr class="content-row">
                <td class="content-row-cell"><h4>{{ _('Catalog front subtitle') }}</h4></td>
                <td class="content-row-cell"><h4>{{ _('Cleanser description front subtitle') }}</h4></td>
            </tr>
            <tr class="content-row common-height_100">
                <td class="content-row-cell">
                    <ul class="faq">
                        {% for item in block_cleanser -%}
                            {%- set q_id = 'cleanser_%s'|format(item.id) -%}
                            <li class="faq-item {% if loop.index == 1 %} current{% endif %}">{{ render_label(for=q_id, class='faq-item-label', value=item.title) }}</li>
                        {%- endfor %}
                    </ul>
                </td>
                <td class="content-row-cell common-wrapper_all_d2" style="background: #eeeeee;">
                    {% for item in block_cleanser -%}
                        {%- set q_id = 'cleanser_%s'|format(item.id) -%}
                        <input class="css-tabs-select js-tabs-select" {% if loop.index == 1 %} checked="checked"{% endif %} type="radio" name="cleanser_tab" id="{{ q_id }}" autocomplete="off" />
                        <article class="article css-tabs-item">
                            <img class="cleanup-preview" alt="" src="{{ item.render_image() }}" width="100px"/>
                            <div class="cleanup-name">{{ item.title }}</div>
                            <div class="cleanup-name">{{ item.sku }}</div>
                            <div>{{ item.list_description }}</div>
                            <div>{{ item.overlay_description }}</div>
                            <br/>
                            <a class="confirm_button" target="_blank" href="#">{{ _("Get price front button") }}</a>
                        </article>
                    {%- endfor %}
                </td>
            </tr>
        </table>
    </div>
