<div class="content common-height_auto">
    <div class="content-column common-wrapper_right">
        <div class="cnfr-row">
            <h4>Дополнительное оборудование</h4>
            {% set items = [
                ("Аппарат по продаже жетонов без чека", "without_check"),
                ("Аппарат по продаже жетонов с чеком", "with_check"),
                ("Индивидуальная версия терминала", "personal"),
                ("Пылесос однопостовой", "one_post"),
                ("Пылесос двухпостовой", "two_post"),
                ("Держатели для ковриков", "for_mats"),
            ] %}

            {{ render_items(items, "equipment", 4, 1, "checkbox") }}
        </div>
    </div>
    <div class="content-column common-wrapper_left">
        <div class="cnfr-row">
            <h4>Специальные опции</h4>
            {% set items = [
                ("Оплата жетонами на постах", "special1"),
                ("Оплата моечными картами на постах", "special2"),
                ("Прием купюр на постах (без фискального чека)", "special3"),
                ("Система дистанционного контроля и мониторинга", "special4"),
            ] %}

            {% for item in items -%} 
                <label class="cnfr-item cnfr-item--row">
                    <input class="cnfr-item-select" type="checkbox" name="special" value="{{ item.1 }}" />
                    <span class="cnfr-item-label"><span class="cnfr-item-label-text">{{ item.0 }}</span></span>
                </label>
            {%- endfor %}
        </div>
    </div>
</div>
