<div class="content common-height_auto">
    <div class="content-column common-wrapper_right">
        <div class="cnfr-row">
            <h4>Количество постов</h4>
            {% for item in range(1, 9) -%}
                <label class="cnfr-item cnfr-item--nomargin">
                    <input class="cnfr-item-select" type="radio" name="post_count" value="{{ item }}" />
                    <span class="cnfr-item-count">{{ item }}</span>
                </label>
            {%- endfor %}
        </div>

        <div class="cnfr-row">
            <h4>Вариант исполнения</h4>
            {% set items = [
                ("SB Wash", "sb_wash", "для однопостовой мойки"),
                ("SB M", "sb_m1", "для установки в тех.  контейнере", true),
                ("SB M", "sb_m2", "металлич. шкаф", true)
            ] %}

            {{ render_items(items, "variant", 1, 1) }}
        </div>
    </div>
    <div class="content-column common-wrapper_left">
        <div class="cnfr-row">
            <h4>Тип нагревателя</h4>
            {% set items = [
                ("Газ", "gas"),
                ("Дизель", "diesel"),
                ("Существующий внешний нагреватель", "external")
            ] %}

            {{ render_items(items, "heater_type", 1, 2) }}
        </div>
    </div>
</div>
