<div class="content common-height_auto">
    <div class="content-column common-wrapper_right">
        <div class="cnfr-row">
            <h4>Инструменты</h4>
            {% set items = [
                ("Пистолет высокого давления", "gun"),
                ("Комбинированный пистолет", "combined_gun", "включает щетку"),
                ("2 инструмента", "gun_+_brush", "пистолет + щетка"),
                ("Пистолет 3 в 1", "3in_gun"),
                ("2 инструмента", "3in_gun_+_brash", "пистолет 3 в 1 + щетка"),
            ] %}

            {{ render_items(items, "instruments", 2, 1, "checkbox") }}
        </div>
    </div>
    <div class="content-column common-wrapper_left">
        <div class="cnfr-row">
            <h4>Тип пены</h4>
            {% set items = [
                ("Сухая", "dry"),
            ] %}

            {{ render_items(items, "foam_type", 2, 2) }}
        </div>
    </div>
</div>
