<div class="content common-height_auto">
    <div class="content-column common-wrapper_right">
        <div class="cnfr-row">
            <h4>Программы мойки</h4>
            {% set items = [
                ("3 программы", "3_program"),
                ("5 программ", "5_program", "рекомендуется"),
            ] %}

            {{ render_items(items, "main_programs", 3, 1) }}
        </div>
    </div>
    <div class="content-column common-wrapper_left">
        <div class="cnfr-row">
            <h4>Дополнительные программы</h4>
            {% set items = [
                ("Интенсивное удаление загрязнений", "program1"),
                ("Удаление насекомых", "program2"),
                ("Мойка колесных дисков", "program3"),
                ("Пенополироль", "program4"),
            ] %}

            {{ render_items(items, "add_programs", 3, 2, "checkbox") }}
        </div>
    </div>
</div>
