{% macro render_items(items, name, tab_index=1, row_index=1, type="radio") %}
{%- for item in items -%} 
    {%- set title = item.0 -%} 
    {%- set value = item.1 -%} 
    {%- set summary = item.2|default("") -%} 
    {%- set disabled = item.3|default(false) -%} 
    <label class="cnfr-item">
        <input class="cnfr-item-select" type="{{ type }}" name="{{ name }}" value="{{ value }}"{% if disabled %} disabled="disabled"{% endif %} />
        <div class="cnfr-item-icon">
            <img class="cnfr-item-icon-img" alt="" src="{{ url_for('static', filename='images/blocks/cnfr/%s_%s_%s.jpg'|format(tab_index, row_index, loop.index)) }}" />
        </div>
        <div class="cnfr-item-name">{{ title }}</div>
        {% if item.2 %}
        <div class="cnfr-item-summary">({{ summary }})</div>
        {% endif %}
    </label>
{%- endfor -%} 
{% endmacro %}

{% set items = ["1 шаг", "2 шаг", "3 шаг", "4 шаг", "Итог"] %}
{% set prefix = "cnfr" %}
{% set current = 1 %}

<form class="cnfr" action="#" method="post">

<div class="cnfr-menu">
    {% for item in items %}
    <label class="cnfr-menu-item{% if loop.index == current %} current{% elif loop.index > current %} disabled{% endif %}" for="{{ prefix }}_tab{{ loop.index }}">
        {{ item }}
        <span class="cnfr-menu-item-tail cnfr-menu-item-tail--down"></span>
        <span class="cnfr-menu-item-tail cnfr-menu-item-tail--up"></span>
    </label>
    {% endfor %}
</div>

{% for item in items %}
<input class="css-tabs-select js-tabs-select js-cnfr-tabs-select" type="radio"
name="{{ prefix }}_tab" id="{{ prefix }}_tab{{ loop.index }}"{% if loop.index == current %} checked="checked"{% elif loop.index > current %} disabled="disabled"{% endif %} autocomplete="off" />
<div class="css-tabs-item js-cnfr-tabs-item">
    {% include "elements/blocks/cnfr_%s.html"|format(loop.index) %}

    <div class="common-align_center">
        {% if loop.last %}
        <button class="next_button" type="submit">Создать</button>
        {% else %}
        <label class="next_button js-cnfr-next_button" for="{{ prefix }}_tab{{ loop.index + 1 }}">Далее
            <span class="next_button-tail next_button-tail--down"></span>
            <span class="next_button-tail next_button-tail--up"></span>
        </label>
        {% endif %}
    </div>
</div>
{% endfor %}

</form>
