{% from 'elements/forms.html' import render_label %}
<div class="contentmenu common-wrapper">
    <div class="contentmenu-items">
        {% for category in block_data.available_faqs -%}
            {%- set tab_id = 'faq_tab_%s'|format(category.id) -%}
            <label class="contentmenu-items-item{% if loop.index == 1 %} current {% endif %}" for="{{ tab_id }}">{{ category.title }}</label>
        {%- endfor %}
    </div>
</div>

{% for category in block_data.available_faqs -%}
    {%- set tab_id = 'faq_tab_%s'|format(category.id) -%}
    <input class="css-tabs-select js-tabs-select" type="radio" name="faq_tabs" id="{{ tab_id }}"{% if loop.index == 1 %} checked="checked"{% endif %} autocomplete="off" />
    <div class="css-tabs-item common-wrapper common-height_100">
            <table class="content">
                <tr class="content-row">
                    <td class="content-row-cell"><h4>{{ _('FAQ questions front subtitle') }}</h4></td>
                    <td class="content-row-cell"><h4>{{ _('FAQ answer front subtitle') }}</h4></td>
                </tr>
                <tr class="content-row common-height_100">
                    <td class="content-row-cell">
                        <ul class="faq">
                            {% for item in category.questions if item.publish_ready -%}
                                {%- set q_id = 'faq_question_%s_%s'|format(category.id, item.id) -%}
                                <li class="faq-item">{{ render_label(for=q_id, class='faq-item-label', value=item.question) }}</li>
                            {%- endfor %}
                        </ul>
                    </td>
                    <td class="content-row-cell common-wrapper_all_d2" style="background: #eeeeee;">
                        {% for item in category.questions if item.publish_ready -%}
                            {%- set q_id = 'faq_question_%s_%s'|format(category.id, item.id) -%}
                            <input class="css-tabs-select js-tabs-select" type="radio" name="{{ 'faq_question_tab_%s'|format(category.id) }}" id="{{ q_id }}" autocomplete="off" />
                            <article class="article css-tabs-item">
                                <p>{{ item.answer|text_to_html }}</p>
                            </article>
                        {%- endfor %}
                    </td>
                </tr>
            </table>
    </div>
{%- endfor %}
