<div class="page">
    <div class="page-content common-align_top">
        <div class="common-wrapper">
            <h2>Летний период</h2>
            <div class="gallery">
                {% for i in range(1, 4) -%}
                <a class="gallery-item" href="{{ url_for('static', filename='images/blocks/gallery/%s.jpg'|format(i)) }}"><img class="gallery-item-preview" alt="" src="{{ url_for('static', filename='images/blocks/gallery/%s_min.jpg'|format(i)) }}" width="220" height="150" /></a>
                {%- endfor %}
                <a class="gallery-item" href="http://www.youtube.com/watch?v=qsLiPkDO1cA"><img class="gallery-item-preview" alt="" src="//i.ytimg.com/vi/qsLiPkDO1cA/mqdefault.jpg" width="220" height="150" /></a>
            </div>
        </div>
    </div>
</div>
