{% macro editable_data(field) -%}
    {% if editable %} data-dirty="false" id="{{ global_block_id }}_{{ field }}" data-field="{{ field }}" contenteditable="true"{% endif %}    
{%- endmacro %}

<table class="content">

    {% if block_data.header not in ["&nbsp;", ""] %}
    <tr class="content-row">
        <td colspan="2" class="content-row-cell common-wrapper">
            <h2 {{ editable_data("header") }} style="margin-left: 16rem;">{{ block_data.header|safe }}</h2>
        </td>
    </tr>
    {% endif %}
    <tr class="content-row common-height_100">
        <td class="content-row-cell">
            {% if block_data.lt_incut not in ["&nbsp;", ""] %}
            <div class="blocknote blocknote--left_top" {{ editable_data("lt_incut") }}>{{ block_data.lt_incut|safe }}</div>
            {% endif %}

            {% if block_data.left_text not in ["&nbsp;", ""] %}
            <article class="article common-wrapper_left" {{ editable_data("left_text") }}>{{ block_data.left_text|safe }}</article>
            {% endif %}

            {% if block_data.lb_incut not in ["&nbsp;", ""] %}
            <div class="blocknote blocknote--left_bottom" {{ editable_data("lb_incut") }}>{{ block_data.lb_incut|safe }}</div>
            {% endif %}
            {% include "elements/blocks/indent.html" %}
        </td>
        <td class="content-row-cell">
            {% if block_data.rt_incut not in ["&nbsp;", ""] %}
            <div class="blocknote blocknote--right_top" {{ editable_data("rt_incut") }}>{{ block_data.rt_incut|safe }}</div>
            {% endif %}

            {% if block_data.right_text not in ["&nbsp;", ""] %}
            <article class="article common-wrapper" {{ editable_data("right_text") }}>{{ block_data.right_text|safe }}</article>
            {% endif %}

            {% if block_data.rb_incut not in ["&nbsp;", ""] %}
            <div class="blocknote blocknote--right_bottom" {{ editable_data("rb_incut") }}>{{ block_data.rb_incut|safe }}</div>
            {% endif %}
            {% include "elements/blocks/indent.html" %}
        </td>
    </tr>
</table>


{#
block_data

header
lt_incut - Left top incut
rt_incut - Right top incut
left_text - Left text
right_text - Right text
lb_incut - Left bottom incut
rb_incut - Right bottom incut

#}
