{% macro editable_data(field) -%}
    {% if editable %} data-dirty="false" id="{{ global_block_id }}_{{ field }}" data-field="{{ field }}" contenteditable="true"{% endif %}    
{%- endmacro %}

<table class="content">
    <tr class="content-row">
        <td colspan="2" class="content-row-cell common-wrapper">
            <h2 {{ editable_data("header") }}>{{ block_data.header|safe }}</h2>
        </td>
    </tr>
    <tr class="content-row common-height_100">
        <td class="content-row-cell common-wrapper common-align_center common-align_bottom your-controls">
            {# <img class="common-align_bottom common-max_width_100" src="{{ url_for('static', filename='images/blocks/hd1im1tx1r/hands.jpg') }}" alt="" /> #}
        </td>
        <td class="content-row-cell common-wrapper">
            <article class="article article--small_margins" {{ editable_data("content") }}>
                {{ block_data.content|safe }}
            </article>
            {#- TODO: add these images into article -#}
            {#- Скрыты ссылки на магазины
            <p>
                <a href="#"><img src="{{ url_for('static', filename='images/blocks/hd1im1tx1r/appstore.png') }}" alt="" /></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#"><img src="{{ url_for('static', filename='images/blocks/hd1im1tx1r/googleplay.png') }}" alt="" /></a>
            </p>-#}
            {% include "elements/blocks/indent.html" %}
        </td>
    </tr>
</table>

{#
в block_data:
header - заголовок
content - текст
#}
