{% from 'elements/forms.html' import render_select, render_label %}
<table class="content" style="border-bottom: 1px #c6c6c6 solid;">
    <tr class="content-row">
        <td class="content-row-cell">
            <form class="init-map-form map-form common-wrapper" action="#" method="get"
                  data-get_service={{ block_data_get_service }}>
            </form>
        </td>
    </tr>
    <tr class="content-row common-height_100 filter-map-module">
        <td class="content-row-cell common-wrapper_all map-list">
            <ul>
                {% for item in block_map_items -%}
                    <li class="map-item">
                        <a href="#" class="map-item-label" data-coord="{{ item.longitude }},{{ item.latitude }}" data-service="{{ item.id }}">{{ item.title }}, {{ item.address }}</a>
                        <div class="map-item-content">
                            <div style="overflow: hidden; font-size: 1rem; line-height: 1.5; font-weight: 600; color: #000000;">
                                {{ item.title }},<br />{{ item.address }}.<br />
                            </div>
                        </div>
                    </li>
                {%- endfor %}
            </ul>
            {% include "elements/blocks/indent.html" %}
        </td>
    </tr>
    <tr class="content-row common-height_100">
        <td class="content-row-cell common-height_100">
            <div id="service_yandex_map" style="width: 100%; height: 100%"></div>
        </td>
    </tr>
</table>
