{% if item -%}
    <h2>{{ item.title }}</h2>
    <div class="map-address">
        <div class="map-address-name">{{ item.address }}</div>
        <div class="map-address-all"><a href="#">Все центры сети</a></div>
    </div>
    
    <article class="common-width_60">
        <h4>+7 (495) 287-42-34<br /> 
            +7 (495) 641-23-36<br />
            <span style="font-size: 1.4rem;">Работаем круглосуточно</span></h4>
        <p>Любая диагностика всех производителей и продукции осуществляется сервисным центром бесплатно (*при согласии клиента на дальнейший ремонт. В случае, если клиент отказывается от услуг сервисного центра, за диагностику оборудования взимается плата согласно прейскуранту).;</p>
        <p><img class="common-float_left" alt="" src="{{ url_for('static', filename='images/blocks/map/icon1.png') }}" /></p>
        <p style="margin-left: 3rem;">Сформирован запас оригинальных запасных частей и комплектующих различных марок в объеме из расчёта двух месячной потребности.</p>
        <p><img class="common-float_left" alt="" src="{{ url_for('static', filename='images/blocks/map/icon2.png') }}" /></p>
        <p style="margin-left: 3rem;">Всю необходимую информацию о наличии запасных частей для гарантийного ремонта можно узнать на странице модели.</p>
        <p><img class="common-float_left" alt="" src="{{ url_for('static', filename='images/blocks/map/icon3.png') }}" /></p>
        <p style="margin-left: 3rem;">Вы всегда получите скидку 5% на платный ремонт и запасные части техники при услуге вызова курьера или оформленной электронной заявке.</p>
    </article>
{%- endif %}