{% from 'elements/forms.html' import render_select, render_label %}
<div class="page" style="background: #ffffff;">
    <div class="page-content">
        <table class="content" style="border-bottom: 1px #c6c6c6 solid;">
            <col class="common-width_40" />
            <col />
            <tr class="content-row">
                <td class="content-row-cell" colspan="2">
                    <form class="map-form common-wrapper" action="#" method="get"
                          data-get_service={{ block_data_get_service }}>
                        {% if editable or not editable and block_data.header -%}<h4>{{ block_data.header }}</h4>{%- endif %}
                        <div class="content common-height_auto common-width_auto">
                            {# TODO: FILTERS  #}
                        </div>
                    </form>
                </td>
            </tr>
            <tr class="content-row common-height_100">
                <td class="content-row-cell common-wrapper_all map-list">
                    <h4>FROM FILTERS ?</h4>
                    <ul>
                        {% for item in block_map_items -%}
                            <li class="map-item">
                                <a href="#" class="map-item-label" data-coord="{{ item.longitude }},{{ item.latitude }}" data-service="{{ item.id }}">{{ item.title }}, {{ item.address }}</a>
                                <div class="map-item-content">
                                    <div style="overflow: hidden; font-size: 1rem; line-height: 1.5; font-weight: 600; color: #000000;">
                                        {{ item.title }},<br />{{ item.address }}.<br />
                                        <a href="#">Конфигурация и отзывы</a>
                                    </div>
                                </div>
                            </li>
                        {%- endfor %}
                    </ul>
                    {% include "elements/blocks/indent.html" %}
                </td>
                <td class="content-row-cell common-height_100">
                    <div id="service_yandex_map" style="width: 100%; height: 100%"></div>
                </td>
            </tr>
        </table>
    </div>
</div>

{% block about -%}
    {% if block_map_items -%}
        {%- set item = block_map_items.0 -%}
        <div class="page" style="color: #5e5e5e; background: url({{ url_for('static', filename='images/blocks/map/bg.png') }}) 100% 100% no-repeat; background-size: auto 100%">
            <div class="page-content common-wrapper common-align_top js-map-article">
                {% with item=item -%}
                    {% include 'elements/blocks/hd1mp1_card.html' %}
                {%- endwith %}
            </div>
        </div>
    {%- endif %}
{%- endblock %}
