{% macro editable_data(field) -%}
    {% if editable %} data-dirty="false" id="{{ global_block_id }}_{{ field }}" data-field="{{ field }}" contenteditable="true"{% endif %}    
{%- endmacro %}
{% macro render_slide(class_name, image_url, slide) -%}
    <div class="{{ class_name }}" data-img="{{ image_url }}">
        {# common-margined_left   - if align left #}
        {# common-margined_center - if align center #}
        {# common-margined_right  - if align right #}
        {%- set cls_ = 'common-margined_%s'|format(slide.textposition|lower) -%}
        <div class="{{ class_name }}-wrapper {{ cls_ }}">
            <div class="{{ class_name }}-content">
                <div class="{{ class_name }}-text"{% if slide.font_color %} style="color:{{ slide.font_color.color }};"{% endif %}>{{ caller() }}</div>
            </div>
        </div>
    </div>
{%- endmacro %}
<table class="content">
    {% if editable or not editable and block_data.header -%}
        <tr class="content-row">
            <td class="content-row-cell">
                {% include "elements/blocks/bread_crumbs.html" with context %}
                <h1 {{ editable_data('header') }}>{{ block_data.header|safe }}</h1>
            </td>
        </tr>
    {%- endif %}

    <tr class="content-row common-height_100">
        <td class="content-row-cell common-height_100">
            <div class="fotorama mainslider" data-width="100%" data-height="100%" data-fit="cover">
                {% for slide in available_slides -%}
                    {% call render_slide(class_name='mainslider-item', image_url=slide.slide_url, slide=slide) -%}
                        {{ slide.description|text_to_html }}
                    {%- endcall %}
                {%- endfor %}
            </div>
        </td>
    </tr>
</table>