{% macro editable_data(field) -%}
    {% if editable %} data-dirty="false" id="{{ global_block_id }}_{{ field }}" data-field="{{ field }}" contenteditable="true"{% endif %}    
{%- endmacro %}

<table class="content">
    <col />
    <col class="content-row-cell--indent" />
    <col />

    <tr class="content-row">
        <td colspan="3" class="content-row-cell common-wrapper">
            <h2 {{ editable_data("header_1") }}>{{ block_data.header_1|safe }}</h2>
        </td>
    </tr>

    <tr class="content-row">
        <td class="content-row-cell common-align_center">
            <div class="content-block">
                <article class="article" {{ editable_data("left_text") }}>{{ block_data.left_text|safe }}</article>
            </div>
        </td>
        <td class="content-row-cell"></td>
        <td class="content-row-cell common-align_center">
            <div class="content-block">
                <article class="article" {{ editable_data("right_text") }}>{{ block_data.right_text|safe }}</article>
            </div>
        </td>
    </tr>

    <tr class="content-row">
        <td colspan="3" class="content-row-cell common-wrapper">
            <h2 {{ editable_data("header_2") }}>{{ block_data.header_2|safe }}</h2>
            <img class="diagram" src="{{ url_for('static', filename='images/blocks/hd1tx2hd1im1/diagram.png') }}" alt="" />
        </td>
    </tr>

    <tr class="content-row">
        <td colspan="3" class="content-row-cell">
            {% include "elements/blocks/indent.html" %}
        </td>
    </tr>
</table>
