{#
block_data:

header
content
#}

{% macro editable_data(field) -%}
    {% if editable %} data-dirty="false" id="{{ global_block_id }}_{{ field }}" data-field="{{ field }}" contenteditable="true"{% endif %}
{%- endmacro %}

{% set items = [
    ("Аппараты высокого давления", -20),
    ("Насосы", 50),
    ("Стеклоочистители", 20),
    ("Поломоечные машины", 0),
    ("Коммунальная техника", 50),
    ("Система мойки автомобилей", -50)
] %}
{% set half = items|length // 2 %}

<table class="content">
    <col class="common-width_40" />
    <col class="content-row-cell--indent" />
    <col />

    <tr class="content-row">
        <td colspan="3" class="content-row-cell">
            <h1 {{ editable_data("header") }}>{{ block_data.header|safe }}</h1>
        </td>
    </tr>
    <tr class="content-row common-height_100">
        <td class="content-row-cell common-wrapper_left common-align_middle">
            <article class="article" {{ editable_data("content") }}>{{ block_data.content|safe }}</article>
            {% include "elements/blocks/indent.html" %}
        </td>
        <td class="content-row-cell">
            {% include "elements/blocks/indent.html" %}
        </td>
        <td class="content-row-cell common-wrapper_right common-align_middle">
            <a href="#" class="gotosite">
                <div class="gotosite-top">
                    {% for item in items[:half] %}
                        {% set index = loop.index %}
                        {% set filename = 'images/blocks/hd1tx1contacts/%s.jpg'|format(index) %}
                        <div class="gotosite-item" style="margin-bottom: {{ item.1 }}px;">
                            <img class="gotosite-item-image" alt="" src="{{ url_for('static', filename=filename) }}" />
                            <div class="gotosite-item-label">{{ item.0 }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="gotosite-middle">
                    <div class="gotosite-item">
                        <div class="gotosite-item-label">Перейти на главный сайт</div>
                        <img class="gotosite-item-image" alt="" src="{{ url_for('static', filename='images/logo.png') }}" />
                    </div>
                </div>
                <div class="gotosite-bottom">
                    {% for item in items[half:] %}
                        {% set index = half + loop.index %}
                        {% set filename = 'images/blocks/hd1tx1contacts/%s.jpg'|format(index) %}
                        <div class="gotosite-item" style="margin-top: {{ item.1 }}px;">
                            <img class="gotosite-item-image" alt="" src="{{ url_for('static', filename=filename) }}" />
                            <div class="gotosite-item-label">{{ item.0 }}</div>
                        </div>
                    {% endfor %}
                </div>
            </a>
            {% include "elements/blocks/indent.html" %}
        </td>
    </tr>
</table>
