{# Тут
left_text, right_text, header,
#}

{# Тут нет embedded #}
{#
{{ embedded.left|safe }}
{{ embedded.right|safe }}
{{ editable }}
#}

{% macro editable_data(field) -%}
    {% if editable %} data-dirty="false" id="{{ global_block_id }}_{{ field }}" data-field="{{ field }}" contenteditable="true"{% endif %}
{%- endmacro %}

<table class="content">
    {% if editable or not editable and (block_data.header and block_data.header != '&nbsp;') %}
    <tr class="content-row">
        <td colspan="2" class="content-row-cell{# content-row-cell--header common-wrapper#}" {{ editable_data("header") }}>
            <div class="title common-wrapper">{{ block_data.header|safe }}</div></td>
    </tr>
    {% endif %}
    <tr class="content-row common-height_100 common-relative">
        <td class="content-row-cell">
            <div class="blocksplit" data-epage="{{ block_data.left_epage_id }}" style="
            background: url({{ url_for('static', filename='images/blocks/hd1tx2sp2/left.jpg') }}) 100% 0% no-repeat; background-size: cover;">
                <div class="blocksplit-bg">&nbsp;</div>
                <div class="blocksplit-text common-align_left" {{ editable_data("left_text") }}>{{ block_data.left_text|safe }}</div>
                <div class="blocksplit-darken blocksplit-darken--left"></div>
            </div>
            <div class="blocksplit-arrow"><img class="blocksplit-arrow-image" alt="" src="{{ url_for('static', filename='images/arrow_down.png') }}" width="51" height="51" /></div>
        </td>
        <td class="content-row-cell">
            <div class="blocksplit" data-epage="{{ block_data.right_epage_id }}" style="
            background: url({{ url_for('static', filename='images/blocks/hd1tx2sp2/right.jpg') }}) 100% 0% no-repeat; background-size: cover;">
                <div class="blocksplit-bg">&nbsp;</div>
                <div class="blocksplit-text" {{ editable_data("right_text") }}>{{ block_data.right_text|safe }}</div>
                <div class="blocksplit-darken blocksplit-darken--right"></div>
            </div>
            <div class="blocksplit-arrow"><img class="blocksplit-arrow-image" alt="" src="{{ url_for('static', filename='images/arrow_down.png') }}" width="51" height="51" /></div>
        </td>
    </tr>
</table>
