{% macro editable_data(field) -%}
    {% if editable %} data-dirty="false" id="{{ global_block_id }}_{{ field }}" data-field="{{ field }}" contenteditable="true"{% endif %}    
{%- endmacro %}

<div class="common-wrapper" style="
    position: relative;
    overflow: visible;
    padding-right: 20%;">
    <div style="
        position: absolute;
        left: 80%;
        top: 0;
        margin-top: 1.5em;">
		<img src="{{ url_for('static', filename='images/blocks/hd1tx2calc/calc.png') }}" alt="" />
    </div>

    <h2 {{ editable_data("header") }}>{{ block_data.header|safe }}</h2>
    <div class="blocknote common-float_right" {{ editable_data("right_text") }} style="margin-top: 2em;">{{ block_data.right_text|safe }}</div>
    <article class="article" {{ editable_data("left_text") }}>{{ block_data.left_text|safe }}</article>

</div>

<div class="block-images">
    <div class="block-image">
        <a class="fancybox" href="{{ url_for('static', filename='images/blocks/hd1tx2calc/moika.jpg') }}">
            <img src="{{ url_for('static', filename='images/blocks/hd1tx2calc/moika.jpg') }}" alt="" />
        </a>
    </div>
    <div class="block-image">
        <a class="fancybox" href="{{ url_for('static', filename='images/blocks/hd1tx2calc/moika.jpg') }}">
            <img src="{{ url_for('static', filename='images/blocks/hd1tx2calc/moika.jpg') }}" alt="" />
        </a>
    </div>
    <div class="block-image">
        <a class="fancybox" href="{{ url_for('static', filename='images/blocks/hd1tx2calc/moika.jpg') }}">
            <img src="{{ url_for('static', filename='images/blocks/hd1tx2calc/moika.jpg') }}" alt="" />
        </a>
    </div>
</div>

{% include "elements/blocks/indent.html" %}
