{% macro editable_data(field) -%}
    {% if editable %} data-dirty="false" id="{{ global_block_id }}_{{ field }}" data-field="{{ field }}" contenteditable="true"{% endif %}    
{%- endmacro %}

<table class="content">
    <col />
    <col class="content-row-cell--indent" />
    <col />

    {% if editable or not editable and block_data.header -%}
        <tr class="content-row">
            <td colspan="3" class="content-row-cell common-wrapper">
                <h2 {{ editable_data("header") }}>{{ block_data.header|safe }}</h2>
            </td>
        </tr>
    {%- endif %}

    <tr class="content-row common-height_100">
        <td class="content-row-cell common-wrapper_left common-align_center">
            <div class="content-block">
                <article class="article" {{ editable_data("left_text") }}>{{ block_data.left_text|safe }}</article>
            </div>
            {% include "elements/blocks/indent.html" %}
        </td>
        <td class="content-row-cell">
            {% include "elements/blocks/indent.html" %}
        </td>
        <td class="content-row-cell common-wrapper_right common-align_center">
            <div class="content-block">
                <article class="article" {{ editable_data("right_text") }}>{{ block_data.right_text|safe }}</article>
            </div>
            {% include "elements/blocks/indent.html" %}
        </td>
    </tr>

    {% if editable or not editable and block_data.footer -%}
        <tr class="content-row">
            <td colspan="3" class="content-row-cell content-row-cell--footer common-wrapper">
                <h3 {{ editable_data("footer") }}>{{ block_data.footer|safe }}</h3>
            </td>
        </tr>
    {%- endif %}
</table>
