{% set rows = [
    [
        ('Въезд на моечную площадку',
'Приезжаете на специальную моечную площадку (найти ближайшую мойку). Каждая площадка оборудована полным набором моющих инструментов. Площадки разделены между собой перегородками, что препятствует попаданию воды с соседней площадки. Полы мойки с обогревом, что позволяет комфортно мыть автомобиль в любое время года, в т.ч. и зимой'),
        ('Оплата',
'В зависимости от оснащения мойки вам будет предоставлена возможность покупки жетонов для мойки/моечных карт через специальный терминал или оплата наличными на посту мойки. Вы покупаете время которое необходимо для мойки.')
    ], [
        ('Выбор программ мойки и мойка авто',
'Мойка автомобиля происходит непосредственно самим клиентом. Он вправе выбрать любое из присутствующий на площадке моющих инструментов, включая моющее средство. Вы самостоятельно выбираете и переключаете программы мойки.'),
        ('Завершение мойки',
'В завершение мойки вы возвращаете инструменты на место. При использовании программы “ополаскивание без пятен” вам не нужно дополнительно вытирать автомобиль. Капли воды высохнут при начале движения.')
    ]
] %}
<div class="page">
    <div class="page-content">
        <table class="content">
            <col />
            <col class="blockhow-cell--arrow" />
            <col />

            <tr class="content-row">
                <td colspan="3" class="content-row-cell common-wrapper">
                    <h2>Как это работает</h2>
                </td>
            </tr>

            {% for row in rows %}
            <tr class="content-row">
                {% set ploop = loop %}
                {% for cell in row %}
                    {% set filename = 'images/blocks/how/%s_%s.jpg'|format(ploop.index, loop.index) %}
                    <td class="content-row-cell {{ loop.cycle('common-wrapper_left', 'common-wrapper_right') }} common-wrapper_bottom">
                        <div class="blockhow common-bg_cover" style="background-image: url({{ url_for('static', filename=filename) }});">
                            <div class="blockhow-content">
                                <h4>{{ cell.0 }}</h4>
                                <div class="blockhow-content-text">{{ cell.1 }}</div>
                            </div>
                        </div>
                    </td>
                    {% if not loop.last %}
                    <td class="content-row-cell blockhow-cell--arrow common-wrapper_bottom common-align_middle common-align_center">
                        <img alt=">" src="{{ url_for('static', filename='images/arrow_next.png') }}" />
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
