{% from 'elements/forms.html' import render_input, render_label %}
<div class="common-through_wrapper">
    <div class="switcher">
        {% set margins = [60, 125, 155, 125, 50] %}
        {% set top_margins = [25, 100, 185, 275, 355] %}
        {% set close %}
            <img class="switcher-label-popup-close-img" src="{{ url_for('static', filename='images/close.png') }}" />
        {% endset %}

        {% for prog in block_programs if prog.position == 0 -%}
            {% set value %}
                <img class="switcher-label-img" src="{{ url_for('static', filename='images/blocks/tech/icon1.png') }}" />
            {% endset %}
            {{ render_input(type='radio', name='switcher_program', id='switcher_program%s'|format(prog.id), class='switcher-select', checked='checked') }}
            {{ render_label(for='switcher_program%s'|format(prog.id), class='switcher-label switcher-label--center', value=value) }}
        {%- endfor %}

        {% set counter = 0 -%}
        {% for prog in block_programs if prog.position != 0 -%}
            {% set value -%}
                <img class="switcher-label-img" src="{{ url_for('static', filename='images/blocks/tech/icon1.png') }}" alt="" />{# TODO: Реальную картинку  #}
                <div class="switcher-label-popup">
                    {{ render_label(for='switcher_program%s'|format(prog.id), class='switcher-label-popup-close', value=close) }}
                    <div class="switcher-label-popup-name">{{ prog.position }}</div>
                    <div class="switcher-label-popup-text">Program full description</div>
                    <div class="common-align_center"><a href="{{ '#program%s'|format(prog.id) }}" class="confirm_button">Подробнее</a></div>
                </div>
            {%- endset %}
            {% if prog.position < 0 -%}
                {%- set cls_ = 'left' -%}
                {%- set margin_ = 'right' -%}
            {%- elif prog.position > 0 -%}
                {%- set cls_ = 'right' -%}
                {%- set margin_ = 'left' -%}
            {%- endif %}
            {%- set style = 'margin-top: %spx; margin-%s: %spx'|format(top_margins[counter], margin_, margins[counter]) if prog.position != 0 else '' -%}

            {{ render_input(type='radio', name='switcher_program', id='switcher_program%s'|format(prog.id), class='switcher-select') }}
            {{ render_label(for='switcher_program%s'|format(prog.id),
                            class='switcher-label switcher-label--%s'|format(cls_),
                            value=value, style=style) }}
            {%- set counter = counter + 1 -%}
            {% if prog.position == -1 %}
                {%- set counter = 0 -%}
            {% endif %}
        {%- endfor %}

        <div class="switcher-pointer">
            <img class="switcher-pointer-img" src="{{ url_for('static', filename='images/blocks/tech/switch.png') }}" alt="" />
        </div>
    </div>
</div>

{% for prog in block_programs if prog.position != 0 -%}
    <div class="programme" id="program{{ prog.id }}">
        <div class="programme-head">
            <div class="programme-head-icon">
                <img class="programme-head-icon-img" alt="" src="{{ prog.program.render_icon() }}" />
            </div>
            <div class="programme-head-caption">
                <h2>{{ prog.program.title }}</h2>
            </div>
        </div>
        {% if prog.program.description -%}
            <p>{{ prog.program.description|text_to_html }}</p>
        {%- endif %}
    </div>
{%- endfor %}