{% from "elements/forms.html" import render_select, render_label %}
{% set prefix = "yandex_map" %}
<div class="page" style="background: #ffffff;">
    <div class="page-content">
        <table class="content" style="border-bottom: 1px #c6c6c6 solid;">
            <col class="common-width_40" />
            <col />

            <tr class="content-row">
                <td class="content-row-cell" colspan="2">
                    <form class="map-form common-wrapper" action="#" method="get"
                        data-get_service="service_url"
                        data-change_region="region_url"
                        data-change_city="city_url">
                        <h4>Выберите сервисный центр на карте или через фильтр</h4>
                        <div class="content common-height_auto common-width_auto common-height_auto">
                            <div class="content-column common-wrapper_right">
                                {{ render_label(value="Федеральный округ", class="map-form-label") }}
                                {{ render_select(id="region_id", labels=["Центральный", "Другой"], class="map-form-field js-map-region") }}
                            </div>
                            <div class="content-column common-wrapper_right">
                                {{ render_label(value="Город", class="map-form-label") }}
                                {{ render_select(id="city_id", labels=["Балашиха", "Другой"], class="map-form-field js-map-city") }}
                            </div>
                            <div class="content-column">
                                {{ render_label(value="Сетевые мойки", class="map-form-label") }}
                                {{ render_select(id="in_set", labels=["Не важно", "Да", "Нет"], class="map-form-field js-map-net") }}
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr class="content-row common-height_100">
                <td class="content-row-cell common-wrapper_all map-list">
{% set items = [
    ("«АвтоЛидер»", "улица Свердлова, 30, Балашиха", "55.85,37.52"),
    ("Автомоечный комплекс H2O", "улица Третьяка, 8, Балашиха", "55.95,37.42"),
    ("Автомойка «Журавли»", "Красногорский р-н, ул. Александра Блока, 1, Балашиха", "55.45,37.72"),
] %}
                    <h4>Балашиха</h4>
                    <ul>
                        {% for item in items %}
                        <li class="map-item">
                            {#
                            <label class="map-item-label" for="{{ prefix }}_tab{{ loop.index }}"
                                title="{{ item.0 }}" data-coord="{{ item.2 }}" data-service="{{ loop.index }}">{{ item.0 }}, {{ item.1 }}</label>
                            #}
                            <a href="#" class="map-item-label"
                                data-coord="{{ item.2 }}" data-service="{{ loop.index }}">{{ item.0 }}, {{ item.1 }}</a>
                            <div class="map-item-content">
                                <img alt="" src="{{ url_for('static', filename='images/blocks/map/img45x45.jpg') }}" width="45" height="45" style="
                                    float: left;
                                    margin-top: 0.3rem;
                                    margin-right: 1rem;" />
                                <div style="
                                    overflow: hidden;
                                    font-size: 1rem;
                                    line-height: 1.5;
                                    font-weight: 600;
                                    color: #000000;">
                                    {{ item.0 }},<br />
                                    {{ item.1 }}.<br />
                                    <a href="#">Конфигурация и отзывы</a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="content-row-cell common-height_100">
                    <div id="service_yandex_map" style="width: 100%; height: 100%;"></div>
                </td>
            </tr>
        </table>
    </div>
</div>

{% block about %}
<div class="page" style="
    color: #5e5e5e;
    background: url({{ url_for('static', filename='images/blocks/map/bg.png') }}) 100% 100% no-repeat;
    background-size: auto 100%;
    ">
    <div class="page-content common-wrapper common-align_top js-map-article">

            <h2>Название центра</h2>
            <div class="map-address">
                <div class="map-address-name">Микрорайон ЦОВБ, 20, Балашиха, Московская область</div>
                <div class="map-address-all"><a href="#">Все центры сети</a></div>
            </div>

            <article class="common-width_60">
                <h4>+7 (495) 287-42-34<br /> 
                    +7 (495) 641-23-36<br />
                    <span style="font-size: 1.4rem;">Работаем круглосуточно</span></h4>

                <p>Любая диагностика всех производителей и продукции осуществляется сервисным центром бесплатно (*при согласии клиента на дальнейший ремонт. В случае, если клиент отказывается от услуг сервисного центра, за диагностику оборудования взимается плата согласно прейскуранту).;</p>
                <p><img class="common-float_left" alt="" src="{{ url_for('static', filename='images/blocks/map/icon1.png') }}" /></p>
                <p style="margin-left: 3rem;">Сформирован запас оригинальных запасных частей и комплектующих различных марок в объеме из расчёта двух месячной потребности.</p>
                <p><img class="common-float_left" alt="" src="{{ url_for('static', filename='images/blocks/map/icon2.png') }}" /></p>
                <p style="margin-left: 3rem;">Всю необходимую информацию о наличии запасных частей для гарантийного ремонта можно узнать на странице модели.</p>
                <p><img class="common-float_left" alt="" src="{{ url_for('static', filename='images/blocks/map/icon3.png') }}" /></p>
                <p style="margin-left: 3rem;">Вы всегда получите скидку 5% на платный ремонт и запасные части техники при услуге вызова курьера или оформленной электронной заявке.</p>
            </article>
    </div>
</div>
{% endblock %}

{#
<div class="page" style="
    color: #5e5e5e;
    background: url({{ url_for('static', filename='images/blocks/map/bg.png') }}) 100% 100% no-repeat;
    background-size: auto 100%;
    ">
    <div class="page-content common-align_top">

        {% for item in items %}
        <input class="css-tabs-select js-tabs-select"
            type="radio" name="{{ prefix }}_tab" id="{{ prefix }}_tab{{ loop.index }}" autocomplete="off" />
        <div class="css-tabs-item common-wrapper">
            <h2>{{ item.0 }}</h2>
            <div class="map-address">
                <div class="map-address-name">Микрорайон ЦОВБ, 20, Балашиха, Московская область</div>
                <div class="map-address-all"><a href="#">Все центры сети</a></div>
            </div>

            <article class="common-width_60">
                <h4>+7 (495) 287-42-34<br /> 
                    +7 (495) 641-23-36<br />
                    <span style="font-size: 1.4rem;">Работаем круглосуточно</span></h4>

                <p>Любая диагностика всех производителей и продукции осуществляется сервисным центром бесплатно (*при согласии клиента на дальнейший ремонт. В случае, если клиент отказывается от услуг сервисного центра, за диагностику оборудования взимается плата согласно прейскуранту).;</p>
                <p><img class="common-float_left" alt="" src="{{ url_for('static', filename='images/blocks/map/icon1.png') }}" /></p>
                <p style="margin-left: 3rem;">Сформирован запас оригинальных запасных частей и комплектующих различных марок в объеме из расчёта двух месячной потребности.</p>
                <p><img class="common-float_left" alt="" src="{{ url_for('static', filename='images/blocks/map/icon2.png') }}" /></p>
                <p style="margin-left: 3rem;">Всю необходимую информацию о наличии запасных частей для гарантийного ремонта можно узнать на странице модели.</p>
                <p><img class="common-float_left" alt="" src="{{ url_for('static', filename='images/blocks/map/icon3.png') }}" /></p>
                <p style="margin-left: 3rem;">Вы всегда получите скидку 5% на платный ремонт и запасные части техники при услуге вызова курьера или оформленной электронной заявке.</p>
            </article>
        </div>
        {% endfor %}
    </div>
</div>
#}
