{% set items = [
    "Желание",
    "Ваш партнёр – Kärcher",
    "Выбор подходящего участка земли для мойки",
    "Разработка проектной документации",
    "Согласование",
    "Строительные работы",
    "Монтаж оборудования и ввод объекта в эксплуатацию"
] %}
<div class="scrolline common-wrapper">
    <div class="scrolline-wrapper">
    <div class="scrolline-content">
        {% for item in items %}
        <div class="scrolline-content-row js-scrolline-item {% if loop.first %} current{% endif %}">
            <span class="scrolline-content-row-cell">
                <a href="#slide{{ loop.index }}"><img class="scrolline-icon" alt="" width="58" height="58"
                    src="{{ url_for('static', filename='images/blocks/metroline/%s.jpg'|format(loop.index)) }}" /></a>
            </span>
            <span class="scrolline-content-row-cell">
                <span class="scrolline-line"></span>
            </span>
            <span class="scrolline-content-row-cell">
                <a href="#slide{{ loop.index }}" class="scrolline-num"><span class="scrolline-num-inner">{{ loop.index }}</span></a>
            </span>
            <span class="scrolline-content-row-cell scrolline-content-row-cell--border_left">
                <a href="#slide{{ loop.index }}" class="scrolline-name">{{ item }}</a>
            </span>
        </div>
        {% endfor %}
    </div>
    </div>
</div>

<div class="page page--with_scrolline js-scrolline-page" id="slide1">
    <div class="page-content common-align_bottom">
        <article class="article common-wrapper_right">
            <h4>Желание</h4>
            <p>Сегодня бизнес моек самообслуживания один из наиболее привлекательных направлений в сфере авто моечных услуг. Это обуславливается не только свободным рынком, но и такими экономическими показателями как высокая рентабельность и низкие инвестиционные риски.</p>
            <p>Если у Вас есть желание инвестировать в это направление, то Вы на правильном пути.</p>
            <img alt="" src="{{ url_for('static', filename='images/blocks/metroline/1.png') }}" />
        </article>
    </div>
</div>


<div class="page page--with_scrolline js-scrolline-page" id="slide2">
    <div class="page-content common-align_middle">
        <article class="article common-wrapper_right">
            <h4>Ваш партнёр – Kärcher</h4>
            <p>Мы предлагаем партнёрство на каждом шаге реализации проекта: от первичного консультирования до ввода объекта в эксплуатацию и последующего сервисного обслуживания.</p>
        </article>
    </div>
</div>

{% for item in items[2:] %}
<div class="page page--with_scrolline js-scrolline-page" id="slide{{ loop.index+2 }}">
    <div class="page-content common-align_top">
        <article class="article common-wrapper_right">
            <h4>{{ item }}</h4>
        </article>
    </div>
</div>
{% endfor %}
