<div class="news">
    {% for na in block_news -%}
        <div class="news-item">
            {% if na.stored_image -%}<img class="news-item-preview" alt="" src="{{ na.render_image() }}" />{%- endif %}
            <div class="news-item-date">{{ na.publish_date }}</div>
            <div class="news-item-title">
                {%- if na.content -%}<a href="#">{%- endif -%}  {# TODO: Link or AJAX? #}
                    {{ na.title }}
                {%- if na.content -%}</a>{%- endif %}
            </div>
            {% if na.announcement -%}<div class="news-item-summary">{{ na.announcement }}</div>{%- endif %}
        </div>
    {%- endfor %}
</div>