<div class="page">
    <div class="page-content common-align_top">

        <h1>Однопостовой пылесос SB V1 Eco (однофазный)</h1>
        {# нижнего дива может не быть, отступ в 2<br /> остаётся #}
        <div class="common-align_center"><img class="common-max_width_100" alt="" src="{{ url_for('static', filename='images/blocks/product/1.jpg') }}" /></div>
        <br /><br />

        <div class="content common-height_auto">
            <div class="content-column common-width_60 common-wrapper">

                <br /><br /><br />
                <div class="fotorama"
                    data-fit="scaledown"
                    data-maxwidth="100%"
                    data-nav="thumbs"
                    data-arrows="false"
                    data-thumbwidth="74"
                    data-thumbheight="74">
                    {% for i in range(4) %}
                    <a href="{{ url_for('static', filename='images/blocks/product/preview.jpg') }}"
                        data-thumb="{{ url_for('static', filename='images/blocks/product/preview_min.jpg') }}"></a>
                    {% endfor %}
                </div>
                <h4>Технические характеристики</h4>
                <article class="article">
                <table width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>1-фазный</th>
                            <th>3-фазный</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Расход воздуха (л/с)</td>
                            <td class="common-align_center">61</td>
                            <td class="common-align_center">94</td>
                        </tr>
                        <tr>
                            <td>Разрежение (мбар)</td>
                            <td class="common-align_center">230</td>
                            <td class="common-align_center">320</td>
                        </tr>
                        <tr>
                            <td>Объем мусоросборника (л)</td>
                            <td colspan="2" class="common-align_center">45</td>
                        </tr>
                        <tr>
                            <td>Потребляемая мощность (кВт)</td>
                            <td class="common-align_center">1,38</td>
                            <td class="common-align_center">1,65</td>
                        </tr>
                        <tr>
                            <td>Параметры электросети (ф/В/Гц)</td>
                            <td colspan="2" class="common-align_center">1/230/50-60</td>
                        </tr>
                        <tr>
                            <td>Размеры (∅/В/В с колонной) (мм)</td>
                            <td colspan="2" class="common-align_center">780/1200/1900</td>
                        </tr>
                    </tbody>
                </table>
                </article>
            </div>
            <div class="content-column common-wrapper_right">
                <h4>Описание</h4>
                <p>Пылесос самообслуживания Karcher SB V1 Eco – это компактный, многофункциональный, прочный и мощный аппарат для влажной и сухой уборки. Оснащён привлекательным корпусом из нержавеющей стали из которого можно извлекать пылесос и использовать как мобильное устройство.</p>
                <p>Karcher SB V1 Eco – инновационный однопостовой пылесос для автомойки, который расчитан как на мобильное решение собственных проблем по очистке, так и на стационарную работу по оказанию услуг клиентам. Данное устройство расчитано на интенсивную эксплуатацию.</p>

                <h4>Основные преимущества и особенности</h4>
                <ul>
                    <li>возможность использования для стационарной и личной эксплуатации;</li>
                    <li>возможность интенсивной эксплуатации;</li>
                    <li>отличная износоустойчивость, благодаря наличию корпуса из нержавеющей стали;</li>
                    <li>наличие автоматической прочистки фильтров (система Tact – очистка при каждом включении);</li>
                    <li>оснащение конструкции удобной автоматической системой оттяжки шланга, позволяющей избегать износа и загрязнения всасывающего шланга;</li>
                    <li>наличие системы самообслуживания – монетоприемник;</li>
                    <li>простота в обращении и обслуживании;</li>
                    <li>идеальное соотношение цена/качество.</li>
                </ul>

                <h4>Примечание</h4>
                <p>Karcher SB V 1 Eco —  универсальный пылесос, предназначен для внутренней уборки салона и кузова легковых автомобилей и микроавтобусов. Может быть установлен как в помещениях, так и на открытом воздухе, нечувствителен к наличию влаги во всасываемом воздухе.</p>
            </div>
        </div>

        <br /><br /><br />
        <div class="common-align_center"><img class="common-max_width_100" alt="" src="{{ url_for('static', filename='images/blocks/product/1.jpg') }}" /></div>
    </div>
</div>
