{% if tb_block_data.type_ == 'MetroHorizontal' -%}
    <div class="metroline">
        {% for tab in block_tabs -%}
            {%- set tab_id = 'pageblock_%s_tblock_%s_tab_%s'|format(tb_block_data.pageblock_id, tb_block_data.id, tab.id) -%}
            <label class="metroline-item{% if loop.first %} current{% endif %}" for="{{ tab_id }}">
                {{ tab.caption }}
                <span class="metroline-item-dot"></span>
            </label>
        {%- endfor %}
    </div>
{%- elif tb_block_data.type_ == 'MetroVertical' -%}
    not implemented
{%- elif tb_block_data.type_ == 'Icons' -%}
    not implemented
{%- else -%}
    <div class="contentmenu common-wrapper">
        <div class="contentmenu-items">
            {% for tab in block_tabs -%}
                {%- set tab_id = 'pageblock_%s_tblock_%s_tab_%s'|format(tb_block_data.pageblock_id, tb_block_data.id, tab.id) -%}
                <label class="contentmenu-items-item{% if loop.first %} current{% endif %}" for="{{ tab_id }}">{{ tab.caption }}</label>
            {%- endfor %}
        </div>
    </div>
{%- endif %}

{%- set name = 'pageblock_%s_tblock_%s_tab'|format(tb_block_data.pageblock_id, tb_block_data.id) -%}

{#{% for tab_id, tab_render in block_tab_renders.items() %}#}
{% for tab in block_tabs -%}
    {%- set tab_input_id = 'pageblock_%s_tblock_%s_tab_%s'|format(tb_block_data.pageblock_id, tb_block_data.id, tab.id) -%}
    <input class="css-tabs-select js-tabs-select"
        type="radio" name="{{ name }}" id="{{ tab_input_id }}"{% if loop.first %} checked="checked"{% endif %} autocomplete="off" />
    <div class="css-tabs-item js-tabs-item">
        {{ block_tab_renders.get(tab.id, '')|safe }}  {# Контент вкладки #}
    </div>
{% endfor %}
