{% from "elements/forms.html" import render_input, render_label %}

{% set filters = [
    "Мойка", "Инструмент", "Щетка", "Программа", "Средства", "Пистолет", "Мойка", "Инструмент", "Щетка", "Программа", "Средства", "Пистолет", "Мойка", "Инструмент", "Щетка"
] %}
<form class="hash-form" method="get" action="">
    {%- for name in filters -%}
        {{ render_input(id="hash%s"|format(loop.index), type="checkbox", name="hash", class="hash-form-select") }}{{ render_label(for="hash%s"|format(loop.index), value=name, class="hash-form-label") }}
    {%- endfor -%}
</form>

{% include "elements/pagenav.html" %}

<div class="big_gallery">
    {% for i in range(16) -%} 
    <a class="big_gallery-item" href="{{ url_for('static', filename='images/blocks/gallery/%s.jpg'|format(i%3+1)) }}"><img class="big_gallery-item-preview" alt="" src="{{ url_for('static', filename='images/blocks/gallery/%s_min.jpg'|format(i%3+1)) }}" width="220" height="220" /></a>
    {%- endfor %}
    <a class="big_gallery-item" href="http://www.youtube.com/watch?v=qsLiPkDO1cA"><img class="big_gallery-item-preview" alt="" src="//i.ytimg.com/vi/qsLiPkDO1cA/mqdefault.jpg" width="220" height="220" /></a>
</div>


{% include "elements/pagenav.html" %}
