{% set items = [
    "Средства для предварительной очистки, мойки высоким давлением и пенной мойки",
    "Средства для ухода за автомобилями и мойки колес",
    "Прочие продукты"
] %}


{% for name in items %}
<h2>{{ name }}</h2>
<article class="article">
    <p>Прибыльный автомоечный бизнес требует высокопроизводительного, надежного и эффективного оборудования. Kärcher предлагает Вам системно-совместимые компоненты, идеально сочетающиеся друг с другом и гарантирующие рентабельную работу с низким уровнем производственных издержек. Кроме того, наши системные решения могут быть адаптированы к индивидуальным потребностям – еще одно важное преимущество и для Вас, и для Ваших клиентов.</p>
    <p>Kärcher предлагает Вам системно-совместимые компоненты, идеально сочетающиеся друг с другом и гарантирующие рентабельную работу с низким уровнем производственных издержек.</p>
    <p>Кроме того, наши системные решения могут быть адаптированы к индивидуальным потребностям – еще одно важное преимущество и для Вас, и для Ваших клиентов.  Прибыльный автомоечный бизнес требует высокопроизводительного, надежного и эффективного оборудования.</p>
</article>
<br /><br /><br />
{% for i in range(5) %}
    <div class="cleanup">
        <img class="cleanup-preview" alt="" src="{{ url_for('static', filename='images/blocks/tech/img115x150.jpg') }}" />
        <div class="cleanup-name">Средство для предварительной очистки RM 803 ASF</div>
        <div class="cleanup-text">Активное средство для бесконтактной предварительной мойки высоким давлением. Ускоряет размягчение и</div>
    </div>
{% endfor %}
{% endfor %}
