{% set items = [
    "Общие сведения",
    "Как пользоваться",
    "Оборудование",
    "Программы мойки",
    "Чистящие средства",
    "Галерея"
] %}
{% set prefix = "tech" %}
{% set current = 4 %}
<div class="page">
    <div class="page-content common-align_top">
        
        <div class="contentmenu common-wrapper">
            <div class="contentmenu-items">
                {% for item in items %}
                <label class="contentmenu-items-item{% if loop.index == current %} current{% endif %}" for="{{ prefix }}_tab{{ loop.index }}">{{ item }}</label>
                {% endfor %}
            </div>
        </div>

        {% for item in items %}
        <input class="css-tabs-select js-tabs-select"
            type="radio" name="{{ prefix }}_tab" id="{{ prefix }}_tab{{ loop.index }}"{% if loop.index == current %} checked="checked"{% endif %} autocomplete="off" />
        <div class="css-tabs-item common-wrapper">
            {% if loop.index == 1 %}
                {% include "elements/blocks/tech_common.html" %}
            {% elif loop.index == 3 %}
                {% include "elements/blocks/tech_eq.html" %}
            {% elif loop.index == 4 %}
                {% include "elements/blocks/tech_programm.html" %}
            {% elif loop.index == 5 %}
                {% include "elements/blocks/tech_clean.html" %}
            {% elif loop.last %}
                {% include "elements/blocks/tech_gallery.html" %}
            {% else %}
                {{ loop.index }}
            {% endif %}
        </div>
        {% endfor %}

    </div>
</div>
