{% from "elements/forms.html" import render_input, render_label %}
{% set items = [
    "Бесконтактная пена",
    "Мойка под высоким давлением",
    "Ополаскивание",
    "Горячий воск",
    "Ополаскивание без пятен",
] %}

<div class="common-through_wrapper">
    <div class="switcher">
        {% set prefix = "switcher" %}
        {% set margins = [60, 125, 155, 125, 50] %}
        {% set top_margins = [25, 100, 185, 275, 355] %}
        {% set close %}
            <img class="switcher-label-popup-close-img" src="{{ url_for('static', filename='images/close.png') }}" />
        {% endset %}

        {% set value %}
            <img class="switcher-label-img" src="{{ url_for('static', filename='images/blocks/tech/icon1.png') }}" />
        {% endset %}
        {{ render_input(type="radio", name="%s_program"|format(prefix), id="%s_program%s"|format(prefix, 0), class="switcher-select", checked="checked") }}
        {{ render_label(for="%s_program%s"|format(prefix, 0), class="switcher-label switcher-label--center", value=value) }}

        {% for i in range(5) %}
            {% set value %}
                <img class="switcher-label-img" src="{{ url_for('static', filename='images/blocks/tech/icon1.png') }}" />
                <div class="switcher-label-popup">
                    {{ render_label(for="%s_program%s"|format(prefix, 0), class="switcher-label-popup-close", value=close) }}
                    <div class="switcher-label-popup-name">{{ items[loop.index0] }}</div>
                    <div class="switcher-label-popup-text">Прибыльный автомоечный бизнес требует надежного и эффективного оборудования. Kärcher с низким уровнем производственных издержек.</div>
                    <div class="common-align_center"><a href="#programme{{ loop.index }}" class="confirm_button">Подробнее</a></div>
                </div>
            {% endset %}
            {{ render_input(type="radio", name="%s_program"|format(prefix), id="%s_program%s"|format(prefix, loop.index), class="switcher-select") }}
            {{ render_label(for="%s_program%s"|format(prefix, loop.index), class="switcher-label switcher-label--left", value=value, style="
                                margin-top: %spx;
                                margin-right: %spx;
                           "|format(top_margins[loop.index0], margins[loop.index0])) }}
        {% endfor %}

        {% for i in range(5) %}
            {% set value %}
                <img class="switcher-label-img" src="{{ url_for('static', filename='images/blocks/tech/icon1.png') }}" />
                <div class="switcher-label-popup">
                    {{ render_label(for="%s_program%s"|format(prefix, 0), class="switcher-label-popup-close", value=close) }}
                    <div class="switcher-label-popup-name">{{ items[loop.index0] }}</div>
                    <div class="switcher-label-popup-text">Прибыльный автомоечный бизнес требует надежного и эффективного оборудования. Kärcher с низким уровнем производственных издержек.</div>
                    <div class="common-align_center"><a href="#programme{{ loop.index }}" class="confirm_button">Подробнее</a></div>
                </div>
            {% endset %}
            {{ render_input(type="radio", name="%s_program"|format(prefix), id="%s_program%s"|format(prefix, 5+loop.index), class="switcher-select") }}
            {{ render_label(for="%s_program%s"|format(prefix, 5+loop.index), class="switcher-label switcher-label--right", value=value, style="
                                margin-top: %spx;
                                margin-left: %spx;
                           "|format(top_margins[loop.index0], margins[loop.index0])) }}
        {% endfor %}

        <div class="switcher-pointer">
            <img class="switcher-pointer-img" src="{{ url_for('static', filename='images/blocks/tech/switch.png') }}" />
        </div>
    </div>
</div>

{% for title in items %}
    <div class="programme" id="programme{{ loop.index }}">
        <div class="programme-head">
            <div class="programme-head-icon">
                <img class="programme-head-icon-img" alt="" src="{{ url_for('static', filename='images/blocks/tech/eq%s.png'|format(loop.index)) }}" />
            </div>
            <div class="programme-head-caption">
                <h4>Программа {{ loop.index }}</h4>
                <h2>{{ title }}</h2>
            </div>
        </div>
        <div class="fotorama fotorama--with_border common-float_right"
            data-fit="scaledown"
            data-maxwidth="100%"
            data-nav="thumbs"
            data-arrows="false"
            data-thumbmargin="3"
            data-thumbborderwidth="3"
            data-thumbwidth="70"
            data-thumbheight="70">
            {% for i in range(3) %}
            <a href="{{ url_for('static', filename='images/blocks/tech/eq_preview.png') }}"
                data-thumb="{{ url_for('static', filename='images/blocks/tech/eq_preview_min.png') }}"></a>
            {% endfor %}
        </div>
<p>Прибыльный автомоечный бизнес требует высокопроизводительного, надежного и эффективного оборудования. Kärcher предлагает Вам системно-совместимые компоненты, идеально сочетающиеся друг с другом и гарантирующие рентабельную работу с низким уровнем производственных издержек. Кроме того, наши системные решения могут быть адаптированы к индивидуальным потребностям – еще одно важное преимущество и для Вас, и для Ваших клиентов.</p>
<p>Kärcher предлагает Вам системно-совместимые компоненты, идеально сочетающиеся друг с другом и гарантирующие рентабельную работу с низким уровнем производственных издержек.</p>
<p>Кроме того, наши системные решения могут быть адаптированы к индивидуальным потребностям – еще одно важное преимущество и для Вас, и для Ваших клиентов.  Прибыльный автомоечный бизнес требует высокопроизводительного, надежного и эффективного оборудования.</p>
    </div>
{% endfor %}
