{% set items = [
    "Пистолет высокого давления",
    "Комбинированный пистолет",
    "Пистолет 3 в 1"
] %}

{% for title in items %}
    <div class="content common-height_auto">
        <div class="content-column common-wrapper">
                <br /><br /><br />
                <div class="fotorama fotorama--with_border"
                    data-fit="scaledown"
                    data-maxwidth="100%"
                    data-nav="thumbs"
                    data-arrows="false"
                    data-thumbmargin="3"
                    data-thumbborderwidth="3"
                    data-thumbwidth="70"
                    data-thumbheight="70">
                    {% for i in range(3) %}
                    <a href="{{ url_for('static', filename='images/blocks/tech/eq_preview.png') }}"
                        data-thumb="{{ url_for('static', filename='images/blocks/tech/eq_preview_min.png') }}"></a>
                    {% endfor %}
                </div>
        </div>
        <div class="content-column common-width_60 common-wrapper_right">
            <h2>{{ title }}</h2>
            <h4>Применяется для следующих программ:</h4>
{% set props = [
    "Интенсивное удаление загрязнений",
    "Удаление насекомых",
    "Пенополироль"
] %}
            {% for prop in props %}
            <div class="program">
                <div class="program-icon"><img class="program-icon-img" alt="" src="{{ url_for('static', filename='images/blocks/tech/eq%s.png'|format(loop.index)) }}" /></div>
                <div class="program-name">{{ prop }}</div>
            </div>
            {% endfor %}
            <p>Прибыльный автомоечный бизнес требует высокопроизводительного, надежного и эффективного оборудования. Kärcher предлагает Вам системно-совместимые компоненты, идеально сочетающиеся друг с другом и гарантирующие рентабельную работу с низким уровнем производственных издержек. Кроме того, наши системные решения могут быть адаптированы к индивидуальным потребностям – еще одно важное преимущество и для Вас, и для Ваших клиентов.</p>
        </div>
    </div>
    <br /><br /><br />
{% endfor %}
