{% macro editable_data(field) -%}
    {% if editable %} data-dirty="false" id="{{ global_block_id }}_{{ field }}" data-field="{{ field }}" contenteditable="true"{% endif %}    
{%- endmacro %}

<table class="content">
    <col />
    <col class="content-row-cell--indent" />
    <col />

    <tr class="content-row common-height_100">
        <td class="content-row-cell common-wrapper_left common-align_center">
            <div class="content-block">
                <article class="article" {{ editable_data("left_text") }}>{{ block_data.left_text|safe }}</article>
            </div>
            {% include "elements/blocks/indent.html" %}
        </td>
        <td class="content-row-cell">
            {% include "elements/blocks/indent.html" %}
        </td>
        <td class="content-row-cell common-wrapper_right common-align_center">
            <div class="content-block">
                <article class="article" {{ editable_data("right_text") }}>{{ block_data.right_text|safe }}</article>
            </div>
            {% include "elements/blocks/indent.html" %}
        </td>
    </tr>
</table>
