{% macro editable_data(field) -%}
    {% if editable %} data-dirty="false" id="{{ global_block_id }}_{{ field }}" data-field="{{ field }}" contenteditable="true"{% endif %}    
{%- endmacro %}

{#
    add class "has_centered_image" to table ".content" to use image in ".blockcenter-cell-content" like this:
                <div class="blockcenter-cell-content" {{ editable_data("incut") }}>
                <img alt="" src="{{ url_for('static', filename='images/blocks/tx4in1/image.jpg') }}" width="230" height="230" /></div>
    
#}
<div class="title-content" {{ editable_data("incut") }}>{{ block_data.incut|safe }}</div>

<div class="wrap-table-content">
    <table class="content common-relative has_centered_image">
        <caption>
            <div class="blockcenter">
                <div class="blockcenter-cell">
                    <div class="blockcenter-cell-content" {{ editable_data("incut") }}>
                    <img alt="" src="{{ url_for('static', filename='images/blocks/tx4in1/image.jpg') }}" width="230" height="230" /></div>
                </div>
            </div>
        </caption>
        <tr class="content-row">
            <td class="content-row-cell common-wrapper_all" style="
                background: url({{ url_for('static', filename='images/blocks/tx4nim1/1.jpg') }}) 50% 0% no-repeat;
                background-size: cover;">
                <div class="blocksummary blocksummary--top_left" {{ editable_data("lt_text") }}>{{ block_data.lt_text|safe if block_data.lt_text else '' }}</div>
                {% include "elements/blocks/indent.html" %}
            </td>
            <td class="content-row-cell common-wrapper_all" style="
                background: url({{ url_for('static', filename='images/blocks/tx4nim1/2.jpg') }}) 50% 0% no-repeat;
                background-size: cover;">
                <div class="blocksummary blocksummary--top_right" {{ editable_data("rt_text") }}>{{ block_data.rt_text|safe if block_data.rt_text else '' }}</div>
                {% include "elements/blocks/indent.html" %}
            </td>
        </tr>
        <tr class="content-row">
            <td class="content-row-cell common-wrapper_all" style="
                background: url({{ url_for('static', filename='images/blocks/tx4nim1/3.jpg') }}) 100% 100% no-repeat;
                background-size: cover;">
                <div class="blocksummary blocksummary--bottom_left" {{ editable_data("lb_text") }}>{{ block_data.lb_text|safe if block_data.lb_text else '' }}</div>
                {% include "elements/blocks/indent.html" %}
            </td>
            <td class="content-row-cell common-wrapper_all" style="
                background: url({{ url_for('static', filename='images/blocks/tx4nim1/4.jpg') }}) 50% 100% no-repeat;
                background-size: cover;">
                <div class="blocksummary blocksummary--bottom_right" {{ editable_data("rb_text") }}>{{ block_data.rb_text|safe if block_data.rb_text else '' }}</div>
                {% include "elements/blocks/indent.html" %}
            </td>
        </tr>
    </table>
</div>

{#
    В block_data:
    
    lt_text - Левый верхний текст
    rt_text - Правый верхний текст
    lb_text - Левый нижний текст
    rb_text - Правый нижний текст
    incut - Текст врезки
#}
