{% macro editable_data(field) -%}
    {% if editable %} data-dirty="false" id="{{ global_block_id }}_{{ field }}" data-field="{{ field }}" contenteditable="true"{% endif %}    
{%- endmacro %}

<table class="content common-relative">
    <caption>
        <div class="blockcenter">
            <div class="blockcenter-cell">
            <div class="blockcenter-cell-content" {{ editable_data("incut") }}>{{ block_data.incut|safe }}</div>
            </div>
        </div>
    </caption>
    <tr class="content-row common-height_50">
        <td class="content-row-cell common-wrapper_all block-1" style="
            background: url({{ url_for('static', filename='images/blocks/tx4in1/1.jpg') }}) 50% 0% no-repeat;
            background-size: cover;">
            <div class="blocksummary blocksummary--top_left" {{ editable_data("lt_text") }}>{{ block_data.lt_text|safe if block_data.lt_text else '' }}</div>
            {% include "elements/blocks/indent.html" %}
        </td>
        <td class="content-row-cell common-wrapper_all block-2" style="
            background: url({{ url_for('static', filename='images/blocks/tx4in1/2.jpg') }}) 50% 0% no-repeat;
            background-size: cover;">
            <div class="blocksummary blocksummary--top_right" {{ editable_data("rt_text") }}>{{ block_data.rt_text|safe if block_data.rt_text else '' }}</div>
            {% include "elements/blocks/indent.html" %}
        </td>
    </tr>
    <tr class="content-row common-height_50">
        <td class="content-row-cell common-wrapper_all block-3" style="
            background: url({{ url_for('static', filename='images/blocks/tx4in1/3.jpg') }}) 100% 100% no-repeat;
            background-size: cover;">
            <div class="blocksummary blocksummary--bottom_left" {{ editable_data("lb_text") }}>{{ block_data.lb_text|safe if block_data.lb_text else '' }}</div>
            {% include "elements/blocks/indent.html" %}
        </td>
        <td class="content-row-cell common-wrapper_all block-4" style="
            background: url({{ url_for('static', filename='images/blocks/tx4in1/4.jpg') }}) 50% 0% no-repeat;
            background-size: cover;">
            <div class="blocksummary blocksummary--bottom_right" {{ editable_data("rb_text") }}>{{ block_data.rb_text|safe if block_data.rb_text else '' }}</div>
            {% include "elements/blocks/indent.html" %}
        </td>
    </tr>
</table>


{#
    В block_data:
    
    lt_text - Левый верхний текст
    rt_text - Правый верхний текст
    lb_text - Левый нижний текст
    rb_text - Правый нижний текст
    incut - Текст врезки
#}
