{% extends "elements/blocks/map.html" %}

{% block about %}
    <div class="page">
        <div class="page-content js-map-article">
            <div class="common-wrapper_all common-relative">
                <div class="map-target">Новый объект</div>
                <h2>Автомоечный комплекс H2O</h2>
                <div class="map-address">
                    <div class="map-address-name">Микрорайон ЦОВБ, 20, Балашиха, Московская область</div>
                    <div class="map-address-all">В составе сети «H2O». <a href="#">Все мойки сети</a></div>
                </div>
                <div class="content common-height_auto">
                    <div class="content-column props">
                        <h4>Доступные программы мойки</h4>
                        <br />
                        <p><img alt="" src="{{ url_for('static', filename='images/blocks/map/programs.png') }}" alt="" style="
                            width: 49.3rem;
                            max-width: 100%;
                        " /></p>
                    </div>
                    <div class="content-column common-wrapper_left props">
                        <h4>Количество площадок</h4>
                        <p>8 постов SB M</p>

                        <h4>Наличие насосов</h4>
                        <p>900 л/ч (усиленный пост)</p>

                        <h4>Заезд а/м с высоким кузовом</h4>
                        <p>Нет</p>

                        <h4>Акции</h4>
                        <p>В счастливые часы с 14.00 до 17.00 скидка 15%</p>

                        <h4>Рабочие инструменты</h4>
                        <div class="tool">
                            <img class="tool-icon" alt="" src="{{ url_for('static', filename='images/blocks/map/tool1.jpg') }}" alt="" />
                            <div class="tool-text">Щетка для пенной мойки</div>
                        </div>
                        <div class="tool">
                            <img class="tool-icon" alt="" src="{{ url_for('static', filename='images/blocks/map/tool2.jpg') }}" alt="" />
                            <div class="tool-text">Пистолет с трубкой высокого давления</div>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="common-wrapper">
                <div class="fotorama"
                    data-fit="scaledown"
                    data-maxwidth="100%"
                    data-nav="thumbs"
                    data-arrows="false"
                    data-thumbwidth="80"
                    data-thumbheight="80">
                    {% for i in range(4) %}
                    <a href="{{ url_for('static', filename='images/blocks/map/photo1.jpg') }}"
                        data-thumb="{{ url_for('static', filename='images/blocks/map/photo1_min.jpg') }}"></a>
                    {% endfor %}
                </div>

                <div class="content common-height_auto common-relative" style="height: 19rem;">
                    <div class="content-column common-align_middle">
                        <h4><a href="#">Полная информация об объекте</a></h4>
                    </div>
                    <div class="content-column common-align_middle common-align_right">
                        <img alt="" width="250" src="{{ url_for('static', filename='images/blocks/calculator/preview.png') }}" alt="" style="
                            position: absolute;
                            right: 3rem;
                            top: 0;
                        " />
                        <h5><a class="blockmarker" href="#">Добавить эту конфигурацию в конструктор и рассчитать</a></h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
