{% extends "elements/blocks/map.html" %}

{% block about %}
    <div class="page">
        <div class="page-content js-map-article">
            <div class="common-wrapper_all">
                <h2>Автомоечный комплекс H2O</h2>
                <div class="map-address">
                    <div class="map-address-name">Микрорайон ЦОВБ, 20, Балашиха, Московская область</div>
                    <div class="map-address-all">В составе сети «H2O». <a href="#">Все мойки сети</a></div>
                </div>
                <div class="content common-height_auto">
                    <div class="content-column props">
                        <h4>Доступные программы мойки</h4>
                        <br />
                        <p><img alt="" src="{{ url_for('static', filename='images/blocks/map/programs.png') }}" alt="" style="
                            width: 49.3rem;
                            max-width: 100%;
                        " /></p>
                    </div>
                    <div class="content-column common-wrapper_left props">
                        <h4>Количество площадок</h4>
                        <p>8 постов SB M</p>

                        <h4>Наличие насосов</h4>
                        <p>900 л/ч (усиленный пост)</p>

                        <h4>Заезд а/м с высоким кузовом</h4>
                        <p>Нет</p>

                        <h4>Акции</h4>
                        <p>В счастливые часы с 14.00 до 17.00 скидка 15%</p>

                        <h4>Рабочие инструменты</h4>
                        <div class="tool">
                            <img class="tool-icon" alt="" src="{{ url_for('static', filename='images/blocks/map/tool1.jpg') }}" alt="" />
                            <div class="tool-text">Щетка для пенной мойки</div>
                        </div>
                        <div class="tool">
                            <img class="tool-icon" alt="" src="{{ url_for('static', filename='images/blocks/map/tool2.jpg') }}" alt="" />
                            <div class="tool-text">Пистолет с трубкой высокого давления</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="common-wrapper_all">
                <div class="reviews">
                    <div class="reviews-item">
                        <div class="reviews-item-preview">
                            <img class="reviews-item-icon" alt="" src="{{ url_for('static', filename='images/blocks/map/review1.jpg') }}" width="115" height="115" />
                            <div class="reviews-item-name">Константин Дальнопольский</div>
                        </div>
                        <div class="reviews-item-text">Понравилось обслуживание на мойке, давно мне за цену эконом-мойки не вылизывали Авто так хорошо. Автосервис конечно не работает на полную мощность (видно что только открылись) но задатки хорошие.</div>
                    </div>

                    <div class="reviews-item">
                        <div class="reviews-item-preview">
                            <img class="reviews-item-icon" alt="" src="{{ url_for('static', filename='images/blocks/map/review2.jpg') }}" width="115" height="115" />
                            <div class="reviews-item-name">Александр Терешенсков</div>
                        </div>
                        <div class="reviews-item-text">Заехал на мойку, помыл машину. Очень хорошие цены, удачи и процветания, буду всем советовать и рекомендовать.</div>
                    </div>

                    <div class="reviews-more">
                        <a class="reviews-more-link" href="#">
                            Еще отзывы<br />
                            <img class="reviews-more-link-image" alt="" src="{{ url_for('static', filename='images/reload.png') }}" /></a>
                    </div>
                </div>
            </div>

            <div class="common-wrapper_all">
                <div class="fotorama"
                    data-fit="scaledown"
                    data-maxwidth="100%"
                    data-nav="thumbs"
                    data-arrows="false"
                    data-thumbwidth="80"
                    data-thumbheight="80">
                    {% for i in range(4) %}
                    <a href="{{ url_for('static', filename='images/blocks/map/photo1.jpg') }}"
                        data-thumb="{{ url_for('static', filename='images/blocks/map/photo1_min.jpg') }}"></a>
                    {% endfor %}
                </div>
            </div>

            <div class="common-wrapper_all" style="background: #ffec01;">
                <article>
                    <iframe class="common-float_right" width="560" height="315" src="https://www.youtube.com/embed/AOrH0sq-tKY" frameborder="0" allowfullscreen></iframe>
                    <h4>Качественное оборудование и профессиональные инструменты</h4>
                    <p>Оборудование Kärcher отвечает всем требованиям современных моечных центров. Наш ассортимент охватывает как портальные моечные установки для легковых автомобилей.</p>
                    <p>Так и мойки самообслуживания, включая также все необходимое для расширения мощностей. Система является самой продвинутой в техническом плане.</p>
                    <br /><a class="confirm_button" href="#">Узнать больше ›</a></p>
                </article>
            </div>

        </div>
    </div>
{% endblock %}
