{% extends 'admin/common.html' %}

{% block content -%}
    <h2>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.users_list') }}">{{ _('Users list header') }}</a></li>
            <li class="active">{{ user.fullname if user_id else _('Register new user header string') }}</li>
        </ol>
    </h2>

    <form class="{{ user_form.meta.class_ if user_form else 'form-horizontal' }}" action="{{ url_for('admin.manage_user', user_id=user_id) }}" method="post">
        {{ user_form.hidden_tag() }}
        {% for field in user_form if field.widget.input_type != 'hidden' -%}
            <div class="form-group">
                {{ render_field(field) }}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(user_id) }}
                {{ render_save_and_continue_button(user_id) }}
                {{ render_cancel_link(url_for('admin.users_list')) }}
            </div>
        </div>
    </form>
{%- endblock %}
