{% extends 'admin/common.html' %}

{% block content -%}
    <h2>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.pages_list') }}">{{ _('Pages list header') }}</a></li>
            <li><a href="{{ url_for('admin.manage_page', page_id=page_id, active_tab=active_tab) }}">{{ page.title }}</a></li>
            <li><a href="{{ url_for('admin.manage_pageblock', page_id=page_id, pageblock_id=pageblock.id) }}">{{ pageblock.comment }}</a></li>
            <li class="active">{{ _('Manage data header') }}</li>
        </ol>
    </h2>

    <form class="{{ form.meta.class_ if form else 'form-horizontal' }}" action="{{ url_for('admin.manage_pageblock_data', page_id=page_id, pageblock_id=pageblock_id, active_tab=active_tab) }}" method="post">
        {% if form -%}
            {{ form.hidden_tag() }}
        
            {% for field in form if field.widget.input_type != 'hidden' -%}
                <div class="form-group">
                    {{ render_field(field) }}
                </div>
            {%- endfor %}
        {%- else -%}
            <div class="alert alert-info">{{ _('Block has no data message') }}</div>
        {%- endif %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(True) }}
                {{ render_save_and_continue_button(True) }}
                {{ render_cancel_link(url_for('admin.manage_page', page_id=page_id, active_tab=active_tab)) }}
            </div>
        </div>
    </form>
{%- endblock %}