{% extends 'admin/common.html' %}

{% block css -%}
    {{ super() }}
    <link href="{{ url_for('admin.static', filename='css/fileinput.css') }}" rel="stylesheet" media="all" type="text/css" />
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script src="{{ url_for('admin.static', filename='js/fileinput.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        {%- set fname = url_for('public_dir', filename='images/blocks_bg/' + pageblock.background_image) if pageblock.background_image else '' -%}
        $(function() {
            $(".file-loading").fileinput({
                'allowedFileExtensions' : ['jpg', 'png', 'gif'],
                'showUpload': false,
                {% if fname -%}
                    'initialPreview': [
                        '<img src="{{ fname }}" class="file-preview-image" alt="{{ pageblock.background_image }}" title="" /><input type="hidden" name="{{ form.bimage.id }}" value="{{ fname }}" />'
                    ],
                    'overwriteInitial': true,
                    'initialCaption': {{ pageblock.background_image|tojson }},
                {%- endif %}
            });
        });
    </script>
{%- endblock %}

{% block content -%}
    <h2 class="padding-bottom">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.pages_list') }}">{{ _('Pages list header') }}</a></li>
            <li><a href="{{ url_for('admin.manage_page', page_id=page_id, active_tab=active_tab) }}">{{ page.title }}</a></li>
            <li class="active">{{ pageblock.comment if pageblock_id else _('Create new pageblock header string') }}</li>
        </ol>
    </h2>

    <form class="{{ form.meta.class_ if form else 'form-horizontal' }}" action="{{ url_for('admin.manage_pageblock', page_id=page_id, pageblock_id=pageblock_id, active_tab=active_tab) }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' -%}
            <div class="form-group{{ ' has-error' if field.errors }}">
                {{ render_field(field) }}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(pageblock_id) }}
                {{ render_save_and_continue_button(pageblock_id) }}
                {{ render_cancel_link(url_for('admin.manage_page', page_id=page_id, active_tab=active_tab)) }}
            </div>
        </div>
    </form>
{%- endblock %}