{% extends 'admin/common.html' %}

{% block content -%}
    <h1 class="uk-h1">
        <a href="{{ url_for('admin.site') }}">{{ _('Site list header') }}</a>
        →
        {{ site_point.title if site_point_id else _('Create new site point header string') }}
    </h1>

    <form class="{{ form.meta.class_ if form else 'uk-form' }}" action="{{ url_for('admin.manage_site_point', site_point_id=site_point_id) }}" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' -%}
            <div class="uk-form-row">
                {{ render_field(field) }}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(site_point_id) }}
                {{ render_save_and_continue_button(site_point_id) }}
                {{ render_cancel_link(url_for('admin.site')) }}
            </div>
        </div>
    </form>
{%- endblock %}