<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin_navigation" aria-expanded="false">
                <span class="sr-only">{{ _('Toggle navigation button') }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('admin.dashboard') }}">
                <img alt="Kärcher" src="{{ url_for('admin.static', filename='images/logo.png') }}" />
            </a>
        </div>

        <div class="collapse navbar-collapse" id="admin_navigation">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Content menu option') }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('admin.pages_list') }}">{{ _('Pages menu option') }}</a></li>
                        <li><a href="{{ url_for('admin.site') }}">{{ _('Navigation menu option') }}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Access management menu option') }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('admin.users_list') }}">{{ _('Users menu option') }}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('rbac.roles') }}">{{ _('Roles menu option') }}</a></li>
                        <li><a href="{{ url_for('rbac.permissions') }}">{{ _('Permissions menu option') }}</a></li>
                    </ul>
                </li>
            </ul>

            <div class="navbar-text navbar-right">
                <span id="ajax_state" style="display: none;">
                    &emsp;<span id="ajax_message"></span>
                    <span id="ajax_loader" class="glyphicon glyphicon-cog glyphicon-spin"></span>&emsp;
                </span>
                <a class="navbar-link" href="{{ url_for('admin.manage_user', user_id=current_user.id) }}"><small class="glyphicon glyphicon-user"></small>&nbsp;{{ current_user.fullname }}</a>
                &nbsp;
                <a class="navbar-link" href="{{ url_for('admin.logout') }}"><small class="glyphicon glyphicon-log-out"></small>&nbsp;{{ _('Log out link') }}</a>
            </div>
        </div>
    </div>
</nav>
