{% extends 'admin/common.html' %}

{% block css -%}
    {{ super() }}
    <style type="text/css">
        .col-title { min-width: 250px; }
    </style>
{%- endblock %}

{% block content -%}
    <h2>
        <ol class="breadcrumb">
        <li>{{ _('Pages list header') }}</li>
        <li class="active"><a href="{{ url_for('admin.manage_page') }}" class="btn btn-default">{{ _('Add page button') }}</a></li>
    </h2>

    {% if pages -%}
        <form action="{{ url_for('admin.pages_list') }}" method="post">
            <div class="table-responsive table-container">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="col-title">{{ _('Page title column') }}</th>
                            <th class="text-center"><span class="glyphicon glyphicon-pencil"></i></th>
                            <th class="text-center"><span class="glyphicon glyphicon-globe"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for page in pages -%}
                            <tr>
                                <td><a href="{{ url_for('admin.manage_page', page_id=page.id) }}">{{ page.title }}</a></td>
                                <td class="text-center"><a href="{{ url_for('admin.manage_page_content', page_id=page.id) }}">{{ _('Edit page link') }}</a></td>
                                <td class="text-center">{{ render_bool(page.published, with_color=True) }}</td>
                            </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    {%- else -%}
        <div class="alert alert-info">
            {{ _('No pages added. Go to <a href=%(link)s>add page</a>', link=url_for('admin.manage_page')) }}
        </div>
    {%- endif %}
{%- endblock %}