{% extends 'admin/common.html' %}

{% block content -%}
    <h1 class="uk-h1">
        {{ _('Site list header') }}
        <div class="uk-float-right">
            <a href="{{ url_for('admin.manage_page') }}" class="uk-button">{{ _('Add page button') }}</a>
        </div>
    </h1>

    <div class="container-overflow table-container">
        <table class="uk-table uk-table-hover uk-table-striped">
            <thead>
                <tr>
                    <td>{{ _('Site page name column') }}</td>
                    <td class="uk-text-center">{{ _('Site published column') }}</td>
                </tr>
            </thead>
            <tbody>
                {% for page in site -%}
                    <tr>
                        <td><a href="{{ url_for('admin.manage_site_point', site_point_id=page.id) }}">{{ page.title }}</a></td>
                        <td class="uk-text-center">{{ render_bool(page.published, with_color=True) }}</td>
                    </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
{%- endblock %}