{% set styles = block_inline_style[:-1] + ';z-index: %d"'|format(blocks_total - block_index) %}

{% if not_use_common_block_render -%}
    {{ inner_block_content|safe }}
{%- else -%}
    {% if render_block_in_tab -%}
        <div{{ ' id="'|safe + global_block_id + '"'|safe if editable }}{{ styles|safe }} data-block_id="{{ block_only_id }}" class="page{% if block_auto_height %} page--auto{% endif %}"{% if epage_id %} data-epage="{{ epage_id }}"{% endif %}>
            <div class="page-content">{{ inner_block_content|safe }}</div>
        </div>
    {%- else -%}
        <div{{ ' id="'|safe + global_block_id + '"'|safe if editable }}{{ styles|safe }} data-block_id="{{ block_only_id }}" class="page{% if block_auto_height %} page--auto{% endif %}"{% if epage_id %} data-epage="{{ epage_id }}"{% endif %}>
            <div class="page-content">{{ inner_block_content|safe }}</div>
        </div>
    {%- endif %}
{%- endif %}

{% if embedded -%}
    {{ embedded|safe }}
{%- endif %}
