{% macro render_label() -%}
    {%- set name = kwargs.pop("name", "") -%} 
    {%- set prefix = kwargs.pop("prefix", "") -%} 
    {%- set id = kwargs.pop("id", prefix + name) -%} 
    {%- set value = kwargs.pop("value", "") -%} 
    {%- set required = kwargs.pop("required", "") -%} 
    <label {% if id %}for="{{ id }}"{% endif %}
           {% for key, val in kwargs.items() %} {{ key }}="{{ val }}"{% endfor %}>{{ value|safe }}
           {% if required %}<span class="form-super">*</span>{% endif %}</label>
{%- endmacro %}

{% macro render_input() -%} 
    {%- set name = kwargs.get("name", "") -%} 
    {%- set prefix = kwargs.pop("prefix", "") -%} 
    {%- set id = kwargs.pop("id", prefix + name) -%} 
    {%- set data = kwargs.pop("data", {}) -%} 
    <input {% if id %}id="{{ id }}"{% endif %} 
           {% for key, val in kwargs.items() %} {{ key }}="{{ val }}"{% endfor %}
           {% for key, val in data.items() %} data-{{ key }}="{{ val }}"{% endfor %} />
{%- endmacro %}

{% macro render_textarea(text="") %}
    {%- set name = kwargs.get("name", "") -%} 
    {%- set prefix = kwargs.pop("prefix", "") -%} 
    {%- set id = kwargs.pop("id", prefix + name) -%} 
    <textarea {% if id %}id="{{ id }}"{% endif %}
              {% for key, val in kwargs.items() %} {{ key }}="{{ val }}"{% endfor %}>{{ text }}</textarea>
{%- endmacro %}

{% macro render_select(labels=[], values=None) -%} 
    {%- set name = kwargs.get("name", "") -%} 
    {%- set prefix = kwargs.pop("prefix", "") -%} 
    {%- set id = kwargs.pop("id", prefix + name) -%} 
    {% if not values %}
        {% set values = range(1, labels|length+1) %}
    {% endif %}

    {#  
    {% set items = zip(values, labels) %}
    #}  
    <select {% if id %}id="{{ id }}"{% endif %} 
            {% for key, val in kwargs.items() %} {{ key }}="{{ val }}"{% endfor %}>
        {% for label in labels %}
            <option value="{{ values[loop.index0] }}">{{ label }}</option>
        {% endfor %}
        {#
        {% for item in items %}
            <option value="{{ item.0 }}">{{ item.1 }}</option>
        {% endfor %}
        #}
    </select>
{%- endmacro %}

{% macro render_row(label="", style="") -%}
    <div class="form-row"{% if style %} style="{{ style }}"{% endif %}>
        <div class="form-label">{{ label }}</div>
        <div class="form-field">{{ caller() }}</div>
    </div>
{%- endmacro %}
