{% if g.header_nav -%}
    <ul class="header-menu">
        {% for group in g.header_nav -%}
            <li class="header-menu-item">
                {% if group.behavior == 'Popup' -%}
                    <input class="header-menu-item-radio" id="header-menu-item--{{ group.id }}" type="radio" name="header-menu-item" />
                {%- endif %}

                <div class="header-menu-item-content">
                    <div class="header-menu-item-content-top">
                        {% for pi in group.available_popup_items if pi.itemtype_ == 'square' -%}
                            {%- set rnd = [1,2,3,4,5,6]|random -%}
                            {%- set linkimg = 'images/menu/a%s.jpg'|format(rnd) -%}
                            {%- set hoverimg = 'images/menu/b%s.jpg'|format(rnd) -%}
                            <a href="{{ pi.item_url }}" class="blockmenu"{{ ' target=_blank' if pi.link_blank and pi.behavior_ == 'Link' else '' }}
                                style="background: url({{ url_for('static', filename=hoverimg) }}) 0% 0% no-repeat;">
                                <span class="blockmenu-content" style="background: url({{ url_for('static', filename=linkimg) }}) 0% 0% no-repeat;">
                                    {% if pi.stored_sicon -%}
                                        <span class="blockmenu-icon">
                                            <img src="{{ url_for('public_dir', filename='images/nav_icons/' + pi.stored_sicon) }}" class="blockmenu-icon-image" alt="" />
                                        </span>
                                    {%- endif %}
                                    <span class="blockmenu-title">{{ pi.caption }}</span>
                                    {% if pi.description -%}<span class="blockmenu-summary">{{ pi.description }}</span>{%- endif %}
                                </span>
                            </a>
                        {%- endfor %}
                    </div>

                    <div class="header-menu-item-content-bottom">
                        {% for pi in group.available_popup_items if pi.itemtype_ == 'circle' -%}
                            <a href="{{ pi.item_url }}" class="blockimenu"{{ ' target=_blank' if pi.link_blank and pi.behavior_ == 'Link' else '' }}>
                                {% if pi.stored_cicon -%}
                                    <span class="blockimenu-icon">
                                        <img src="{{ url_for('public_dir', filename='images/nav_icons/' + pi.stored_cicon) }}" class="blockimenu-icon-image" alt="" />
                                    </span>
                                {%- endif %}
                                <span class="blockimenu-label">{{ pi.caption }}</span>
                            </a>
                        {%- endfor %}
                    </div>
                </div>

				{%- set add_class = 'header-menu-item-cell--current' if request.path == group.path -%}

                {% if group.behavior == 'Popup' -%}
                    <label class="header-menu-item-cell header-menu-item-cell--label {{ add_class }}" for="header-menu-item--{{ group.id }}">
                        <span class="header-menu-item-cell-text">{{ group.caption }}</span>
                    </label>
                {%- else -%}
                    <a href="{{ group.group_url }}" class="header-menu-item-cell header-menu-item-cell--link {{ add_class }}">
                        <span class="header-menu-item-cell-text">{{ group.caption }}</span>
                    </a>
                {%- endif %}
            </li>
        {%- endfor %}
    </ul>
{%- endif %}