{% if g.footer_nav -%}
    <ul class="footer-menu">
        {% for group in g.footer_nav -%}
            <li class="footer-menu-item">
                <div class="footer-menu-item-wrapper">
                    {% if group.behavior_ == 'Page' -%}
                        <a class="footer-menu-item-link" href="{{ group.group_url }}">{{ group.caption }}</a>
                    {%- elif group.behavior_ == 'Link' -%}
                        <a class="footer-menu-item-link" href="{{ group.group_url }}"{{ ' target=_blank' if group.link_blank else '' }}>{{ group.caption }}</a>
                    {%- else -%}
                        <span class="footer-menu-item-name">{{ group.caption }}</span>
                    {%- endif %}
                    {% if group.items -%}
                        <ul class="footer-menu-group">
                            {% for item in group.available_items -%}
                                <li class="footer-menu-group-item">
                                    {% if item.behavior == 'Page' -%}
                                    	<a class="footer-menu-group-item-link" href="{{ item.item_url }}">{{ item.caption }}</a>
                                    {%- elif item.behavior == 'Link' -%}
                                        <a class="footer-menu-group-item-link" href="{{ item.item_url }}"{{ ' target=_blank' if item.link_blank else '' }}>{{ item.caption }}</a>
                                    {%- endif %}
                                </li>
                            {%- endfor %}
                        </ul>
                    {%- endif %}
                </div>
            </li>
        {%- endfor %}
    </ul>
{%- endif %}
