<div class="pagenav">
    <a class="pagenav-item pagenav-item--arrow" href="#">&#8249;
    </a><span class="pagenav-item current">1
    </span><a class="pagenav-item" href="#">2
    </a><a class="pagenav-item" href="#">3
    </a><span class="pagenav-item">...
    </span><a class="pagenav-item" href="#">24
    </a><a class="pagenav-item pagenav-item--arrow disabled" href="#">&#8250;</a>
</div>
