{% extends 'admin/common.html' %}

{% block css -%}
    {{ super() }}
    <link href="{{ url_for('admin.static', filename='css/fileinput.css') }}" rel="stylesheet" media="all" type="text/css" />
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script src="{{ url_for('admin.static', filename='js/fileinput.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        {%- set fname = url_for('public_dir', filename='images/blocks_ct/' + slide.stored_slide) if slide.stored_slide else '' -%}
        $(function() {
            $(".file-loading").fileinput({
                'allowedFileExtensions' : ['jpg', 'jpeg', 'png', 'gif'],
                'showUpload': false,
                {% if fname -%}
                    'initialPreview': [
                        '<img src="{{ fname }}" class="file-preview-image" alt="{{ slide.original_slide }}" title="" /><input type="hidden" name="{{ form.slide_image.id }}" value="{{ fname }}" />'
                    ],
                    'overwriteInitial': true,
                    'initialCaption': {{ slide.original_slide|tojson }},
                {%- endif %}
            });
        });
    </script>
{%- endblock %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.pages_list') }}">{{ _('Pages list header') }}</a></li>
            <li><a href="{{ url_for('admin.manage_page', page_id=page_id, active_tab=active_tab) }}">{{ page.title }}</a></li>
            <li><a href="{{ url_for('admin.manage_pageblock', page_id=page_id, pageblock_id=pageblock.id) }}">{{ pageblock.comment }}</a></li>
            <li><a href="{{ url_for('admin.manage_pageblock_data', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab) }}">{{ _('Hd1Sl1 slides tab') }}</a>
            <li class="active">{{ _('Manage data header') }}</li>
        </ol>
    </h4>

    <form class="{{ form.meta.class_ if form else 'form-horizontal' }}" action="{{ url_for('admin.manage_hd1sl1_slide', page_id=page_id, pageblock_id=pageblock_id, slide_id=slide_id) }}" method="post" enctype="multipart/form-data">
        {% if form -%}
            {{ form.hidden_tag() }}
        
            {% for field in form if field.widget.input_type != 'hidden' -%}
                <div class="form-group">
                    {{ render_field(field) }}
                </div>
            {%- endfor %}
        {%- else -%}
            <div class="alert alert-info">{{ _('Block has no data message') }}</div>
        {%- endif %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(True) }}
                {{ render_save_and_continue_button(True) }}
                {{ render_cancel_link(url_for('admin.manage_pageblock_data', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab)) }}
            </div>
        </div>
    </form>
{%- endblock %}
