{% extends 'admin/common.html' %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li>{{ _('Carwash programs list header') }}</li>
            <li class="active"><a href="{{ url_for('admin.manage_carwash_program') }}" class="btn btn-xs btn-default">{{ _('Add carwash program button') }}</a></li>
        </ol>
    </h4>

    {% if programs -%}
        <div class="table-responsive table-container">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ _('Carwash program title column') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in programs -%}
                        <tr>
                            <td>{% if p.stored_icon -%}<img src="{{ p.render_icon() }}" alt="" />{%- endif %}</td>
                            <td><a href="{{ url_for('admin.manage_carwash_program', program_id=p.id) }}">{{ p.title }}</a></td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    {%- else -%}
        <div class="alert alert-info">
            {{ _('No carwash programs added. Go to <a href=%(link)s>add carwash program</a>', link=url_for('admin.manage_carwash_program')) }}
        </div>
    {%- endif %}
{%- endblock %}