{% extends 'admin/common.html' %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.carwashes_list') }}">{{ _('Carwashes list header') }}</a></li>
            <li class="active"><a href="{{ url_for('admin.manage_carwash') }}" class="btn btn-xs btn-default">{{ _('Add carwash button') }}</a></li>
        </ol>
    </h4>

    {% if carwashes -%}
        <div class="table-responsive table-container">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>{{ _('Carwash title column') }}</th>
                        <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cw in carwashes -%}
                        <tr>
                            <td><a href="{{ url_for('admin.manage_carwash', carwash_id=cw.id) }}">{{ cw.title }}</a></td>
                            <td class="text-center">{{ render_bool(cw.published, with_color=True) }}</td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    {%- else -%}
        <div class="alert alert-info">
            {{ _('No carwashes added. Go to <a href=%(link)s>add carwash</a>', link=url_for('admin.manage_carwash')) }}
        </div>
    {%- endif %}
{%- endblock %}