{% extends 'admin/common.html' %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li>{{ _('Carwash networks list header') }}</li>
            <li class="active"><a href="{{ url_for('admin.manage_carwash_network') }}" class="btn btn-xs btn-default">{{ _('Add carwash network button') }}</a></li>
        </ol>
    </h4>

    {% if networks -%}
        <div class="table-responsive table-container">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>{{ _('Carwash network title column') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in networks -%}
                        <tr>
                            <td><a href="{{ url_for('admin.manage_carwash_network', network_id=n.id) }}">{{ n.title }}</a></td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    {%- else -%}
        <div class="alert alert-info">
            {{ _('No carwash networks added. Go to <a href=%(link)s>add carwash network</a>', link=url_for('admin.manage_carwash_network')) }}
        </div>
    {%- endif %}
{%- endblock %}