{% extends 'admin/common.html' %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.cleansers_list') }}">{{ _('Cleansers list header') }}</a></li>
            <li class="active"><a href="{{ url_for('admin.manage_cleanser') }}" class="btn btn-xs btn-default">{{ _('Add cleanser button') }}</a></li>
        </ol>
    </h4>

    {% if cleansers -%}
        <div class="table-responsive table-container">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>{{ _('Cleanser title column') }}</th>
                        <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cleansers -%}
                        <tr>
                            <td><a href="{{ url_for('admin.manage_cleanser', cleanser_id=c.id) }}">{{ c.title }}</a></td>
                            <td class="text-center">{{ render_bool(c.published, with_color=True) }}</td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    {%- else -%}
        <div class="alert alert-info">
            {{ _('No cleansers added. Go to <a href=%(link)s>add cleanser</a>', link=url_for('admin.manage_cleanser')) }}
        </div>
    {%- endif %}
{%- endblock %}