{% extends 'admin/common.html' %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li>{{ _('FAQ categories list header') }}</li>
            <li class="active"><a href="{{ url_for('admin.manage_faq_category') }}" class="btn btn-xs btn-default">{{ _('Add FAQ category button') }}</a></li>
        </ol>
    </h4>

    {% if faq_categories -%}
        <form action="{{ url_for('admin.faq_categories_list') }}" method="post">
            <div class="container-fluid">
                <div class="table-responsive table-container">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="col-resizer text-center"></th>
                                <th>{{ _('FAQ Category title column') }}</th>
                                <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
                                <th class="text-center"><span class="glyphicon glyphicon-trash text-danger"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fc in faq_categories -%}
                                <tr>
                                    <td class="text-center">{{ fc.position }}</td>
                                    <td><a href="{{ url_for('admin.manage_faq_category', faq_category_id=fc.id) }}">{{ fc.title }}</a><input type="hidden" name="positions" value="{{ fc.id }}" /></td>
                                    <td class="text-center">{{ render_bool(fc.published, with_color=True) }}</td>
                                    <td class="text-center">{% if not fc.common_ -%}<input class="mark-to-remove" type="checkbox" name="toremove" value="{{ fc.id }}" />{%- endif %}</td>
                                </tr>
                            {%- endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="buttons_bar">
                <div class="buttons-bar-content">
                    {{ render_save_button(True) }}
                    <button type="submit" name="trash_selected" class="btn btn-danger">{{ _('Trash selected button') }}</button>
                </div>
            </div>
        </form>
    {%- else -%}
        <div class="alert alert-info">
            {{ _('No faq categories added. Go to <a href=%(link)s>add faq category</a>', link=url_for('admin.manage_faq_category')) }}
        </div>
    {%- endif %}
{%- endblock %}