{% extends 'admin/common.html' %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.faq_categories_list') }}">{{ _('FAQ categories list header') }}</a></li>
            <li class="active">{{ faq_category.title if faq_category_id else _('Create new faq category header string') }}</li>
        </ol>
    </h4>

    {% if tabs and faq_category_id -%}
        <ul class="nav nav-tabs">
            {% for tab in tabs -%}
                <li role="presentation"{% if active_tab == tab.alias %} class="active"{% endif %}><a href="{{ url_for('admin.manage_faq_category', faq_category_id=faq_category_id, active_tab=tab.alias) }}">{{ tab.title }}</a></li>
            {%- endfor %}
            <li class="disabled"><a href="#">{{ _('Tabs description string') }}</a></li>
        </ul>
        <div class="clearfix padding-bottom"></div>
    {%- endif %}

    <form class="{{ form.meta.class_ if form }}" action="{{ url_for('admin.manage_faq_category', faq_category_id=faq_category_id, active_tab=active_tab) }}" method="post">
        {% if active_tab == 'general' -%}
            {{ form.hidden_tag() }}
    
            {% for field in form if field.widget.input_type != 'hidden' -%}
                <div class="form-group">
                    {{ render_field(field) }}
                </div>
            {%- endfor %}
        {%- elif active_tab == 'questions' -%}
            <div class="container-fluid">
                {% if questions -%}
                    <a class="btn btn-default" href="{{ url_for('admin.manage_faq_question', faq_category_id=faq_category_id) }}" title="{{ _('Add question button title') }}">{{ _('Add FAQ question button') }}</a>

                    <div class="tab-container">
                        <table id="faq_questions_table" class="table table-striped table-hover" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="col-reorder text-center"></th>
                                    <th>{{ _('FAQ question column') }}</th>
                                    <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for q in questions -%}
                                    <tr>
                                        <td class="text-center">{{ q.position }}</td>
                                        <td><a href="{{ url_for('admin.manage_faq_question', faq_category_id=faq_category_id, question_id=q.id) }}">{{ q.question }}</a></td>
                                        <td class="text-center">{{ render_bool(q.published, with_color=True) }}</td>
                                    </tr>
                                {%- endfor %}
                            </tbody>
                        </table>
                    </div>
                {%- else -%}
                    <div class="alert alert-info">
                        {{ _('No faq questions in current category added. Go to <a href=%(link)s>add faq question</a> message', link=url_for('admin.manage_faq_question', faq_category_id=faq_category_id)) }}
                    </div>
                {%- endif %}
            </div>
        {%- endif %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(faq_category_id) }}
                {{ render_save_and_continue_button(faq_category_id) }}
                {% if active_tab == 'questions' -%}
                    <button type="submit" name="trash_selected" class="btn btn-danger">{{ _('Trash selected button') }}</button>
                {%- endif %}
                {{ render_cancel_link(url_for('admin.faq_categories_list')) }}
            </div>
        </div>
    </form>
{%- endblock %}