{% extends 'admin/common.html' %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.faq_categories_list') }}">{{ _('FAQ categories list header') }}</a></li>
            <li><a href="{{ url_for('admin.manage_faq_category', faq_category_id=faq_category_id, active_tab='questions') }}">{{ faq_category.title }}</a></li>
            <li class="active">{{ question.question if question_id else _('Create new faq question header string') }}</li>
        </ol>
    </h4>

    <form class="{{ form.meta.class_ if form }}" action="{{ url_for('admin.manage_faq_question', faq_category_id=faq_category_id, question_id=question_id) }}" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' -%}
            <div class="form-group">
                {{ render_field(field) }}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(question_id) }}
                {{ render_save_and_continue_button(question_id) }}
                {{ render_cancel_link(url_for('admin.manage_faq_category', faq_category_id=faq_category_id, active_tab='questions')) }}
            </div>
        </div>
    </form>
{%- endblock %}