{% extends 'admin/common.html' %}

{% block css -%}
    {{ super() }}
    <link href="{{ url_for('admin.static', filename='css/fileinput.css') }}" rel="stylesheet" media="all" type="text/css" />
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script src="{{ url_for('admin.static', filename='js/fileinput.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('.js-tags').select2({
                tags: true,
                tokenSeparators: [',', ' ', ';']
            });
            {% if not media.is_video -%}
                {%- set fname = url_for('public_dir', filename='images/media/' + media.stored_image) if media.stored_image else '' -%}
                $(".file-loading").fileinput({
                    'allowedFileExtensions' : ['jpg', 'jpeg', 'png', 'gif'],
                    'showUpload': false,
                    {% if fname -%}
                        'initialPreview': [
                            '<img src="{{ fname }}" class="file-preview-image" alt="{{ media.original_image }}" title="" /><input type="hidden" name="{{ form.mphoto.id }}" value="{{ fname }}" />'
                        ],
                        'overwriteInitial': true,
                        'initialCaption': {{ media.original_image|tojson }},
                    {%- endif %}
                });
            {%- endif %}
        });
    </script>
{%- endblock %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.media_list') }}">{{ _('Media list header') }}</a></li>
            <li class="active">{{ 'asd' if media_id else _('Create new media header string') }}</li>
        </ol>
    </h4>

    <form class="{{ form.meta.class_ if form }}" action="{{ url_for('admin.manage_media', type_=type_, media_id=media_id) }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' -%}
            <div class="form-group">
                {{ render_field(field) }}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(media_id) }}
                {{ render_save_and_continue_button(media_id) }}
                {{ render_cancel_link(url_for('admin.media_list')) }}
            </div>
        </div>
    </form>
{%- endblock %}