{% extends 'admin/common.html' %}

{% block css -%}
    {{ super() }}
    <link href="{{ url_for('admin.static', filename='css/fileinput.css') }}" rel="stylesheet" media="all" type="text/css" />
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script src="{{ url_for('admin.static', filename='js/fileinput.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        {%- set fname = url_for('public_dir', filename='images/news/' + news_article.stored_image) if news_article.stored_image else '' -%}
        $(function() {
            $(".file-loading").fileinput({
                'allowedFileExtensions' : ['jpg', 'jpeg', 'png', 'gif'],
                'showUpload': false,
                {% if fname -%}
                    'initialPreview': [
                        '<img src="{{ fname }}" class="file-preview-image" alt="{{ news_article.original_image }}" title="" /><input type="hidden" name="{{ form.an_image.id }}" value="{{ fname }}" />'
                    ],
                    'overwriteInitial': true,
                    'initialCaption': {{ news_article.original_image|tojson }},
                {%- endif %}
            });
        });
    </script>
{%- endblock %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.news_list') }}">{{ _('News list header') }}</a></li>
            <li class="active">{{ news_article.title if news_article_id else _('Create news article header string') }}</li>
        </ol>
    </h4>

    <form class="{{ form.meta.class_ if form }}" action="{{ url_for('admin.manage_news_article', news_article_id=news_article_id) }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' -%}
            <div class="form-group">
                {{ render_field(field) }}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(news_article_id) }}
                {{ render_save_and_continue_button(news_article_id) }}
                {{ render_cancel_link(url_for('admin.news_list')) }}
            </div>
        </div>
    </form>
{%- endblock %}