{% extends 'admin/common.html' %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.carwash_networks_list') }}">{{ _('Carwash networks list header') }}</a></li>
            <li class="active">{{ network.title if network_id else _('Create new carwash network header string') }}</li>
        </ol>
    </h4>

    <form class="{{ form.meta.class_ if form }}" action="{{ url_for('admin.manage_carwash_network', network_id=network_id) }}" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' -%}
            <div class="form-group">
                {{ render_field(field) }}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(program_id) }}
                {{ render_save_and_continue_button(program_id) }}
                {{ render_cancel_link(url_for('admin.carwash_networks_list')) }}
            </div>
        </div>
    </form>
{%- endblock %}