{% extends 'admin/common.html' %}

{% block css -%}
    {{ super() }}
    <link href="{{ url_for('admin.static', filename='css/fileinput.css') }}" rel="stylesheet" media="all" type="text/css" />
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script src="{{ url_for('admin.static', filename='js/fileinput.js') }}" type="text/javascript"></script>
    <script src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        {%- set fname = url_for('public_dir', filename='images/map_objects/' + map_object.stored_photo) if map_object.stored_photo else '' -%}
        $(function() {
            $(".file-loading").fileinput({
                'allowedFileExtensions' : ['jpg', 'jpeg', 'png', 'gif'],
                'showUpload': false,
                {% if fname -%}
                    'initialPreview': [
                        '<img src="{{ fname }}" class="file-preview-image" alt="{{ map_object.original_photo }}" title="" /><input type="hidden" name="{{ form.mophoto.id }}" value="{{ fname }}" />'
                    ],
                    'overwriteInitial': true,
                    'initialCaption': {{ map_object.original_photo|tojson }},
                {%- endif %}
            });
        });
    </script>
    <script type="text/javascript">
        var latitude = {{ map_object.latitude if map_object.latitude else 37.64|tojson|safe }};
        var longitude = {{ map_object.longitude if map_object.longitude else 55.76|tojson|safe }};
        var zoom = {{ map_object.zoom if map_object.zoom else 10|tojson|safe }};

        var myMap, myPlacemark, coords;
        ymaps.ready(init);

        function init() {
            myMap = new ymaps.Map('YMapsID', {
                center: [longitude, latitude],
                zoom: zoom,
                controls: ['zoomControl']
            });
            coords = [longitude, latitude];
            myMap.events.add('boundschange', function(e) {
                if (e.get('newZoom') != e.get('oldZoom')) {
                    $('input.data_zoom').val(e.get('newZoom'));
                }
            });

            var myPlacemark = new ymaps.Placemark([longitude, latitude], {}, {draggable: true});
            myMap.geoObjects.add(myPlacemark);

            myPlacemark.events.add('dragend', function(e) {
                coords = this.geometry.getCoordinates();
                $('input.data_longitude').val(coords[0].toFixed(4));
                $('input.data_latitude').val(coords[1].toFixed(4));
            }, myPlacemark);

            $('#search_address_on_the_map_button').on('click', function() {
                var address = $('input.search_address').val();
                ymaps.geocode(address, {results: 10, kind: 'house'}).then(function(res) {
                    var firstGeoObject = res.geoObjects.get(0);
                    var coord_lon = firstGeoObject.geometry.getCoordinates()[0];
                    var coord_lat = firstGeoObject.geometry.getCoordinates()[1];
                    var bounds = firstGeoObject.properties.get('boundedBy');
                    myMap.setBounds(bounds, {
                        checkZoomRange: true
                    });
                    coords = [coord_lon.toFixed(6), coord_lat.toFixed(6)];
                    myPlacemark.geometry.setCoordinates(coords);
                    $('input.data_longitude').val(coords[0]);
                    $('input.data_latitude').val(coords[1]);
                });
            });
        }
    </script>
{%- endblock %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.map_objects_list') }}">{{ _('Map objects list header') }}</a></li>
            <li class="active">{{ map_object.title if map_object_id else _('Create new map object header string') }}</li>
        </ol>
    </h4>

    <form class="{{ form.meta.class_ if form }}" action="{{ url_for('admin.manage_map_object', map_object_id=map_object_id) }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.longitude }}
        {{ form.latitude }}
        {{ form.zoom }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name not in ['longitude', 'latitude', 'zoom'] -%}
            <div class="form-group">
                {% if field.name == 'map_tag' -%}
                    <div id="YMapsID" style="width: 100%; height: 400px;"></div>
                {%- elif field.name == 'address' -%}
                    <label class="col-sm-2 control-label"{% if field.errors %} field-error{% endif %} for="{{ field.id }}">
                        {{ field.label.text }}{{ render_field_require(field.flags.required) }}
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            {{ field }}
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="search_address_on_the_map_button">{{ _('Search on map button') }}</button>
                            </span>
                        </div>
                    </div>
                {%- else -%}
                    {{ render_field(field) }}
                {%- endif %}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(map_object_id) }}
                {{ render_save_and_continue_button(map_object_id) }}
                {{ render_cancel_link(url_for('admin.map_objects_list')) }}
            </div>
        </div>
    </form>
{%- endblock %}