{% extends 'admin/common.html' %}

{% block css -%}
    {{ super() }}
    <link href="{{ url_for('admin.static', filename='css/fileinput.css') }}" rel="stylesheet" media="all" type="text/css" />
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script src="{{ url_for('admin.static', filename='js/fileinput.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        {%- set fname = url_for('public_dir', filename='images/carwashes/' + program.stored_icon) if program.stored_icon else '' -%}
        {%- set sm_fname = url_for('public_dir', filename='images/carwashes/' + program.stored_small_icon) if program.stored_small_icon else '' -%}
        $(function() {
            $("#imicon.file-loading").fileinput({
                'allowedFileExtensions' : ['jpg', 'jpeg', 'png', 'gif'],
                'showUpload': false,
                {% if fname -%}
                    'initialPreview': [
                        '<img src="{{ fname }}" class="file-preview-image" alt="{{ program.original_icon }}" title="" /><input type="hidden" name="{{ form.imicon.id }}" value="{{ fname }}" />'
                    ],
                    'overwriteInitial': true,
                    'initialCaption': {{ program.original_icon|tojson }},
                {%- endif %}
            });
            $('#imsmicon.file-loading').fileinput({
                'allowedFileExtensions': ['jpg', 'jpeg', 'png', 'gif'],
                'showUpload': false,
                {% if sm_fname -%}
                    'initialPreview': [
                        '<img src="{{ sm_fname }}" class="file-preview-image" alt="{{ program.original_small_icon }}" title="" /><input type="hidden" name="{{ form.imsmicon.id }}" value="{{ sm_fname }}" />'
                    ],
                    'overwriteInitial': true,
                    'initialCaption': {{ program.original_small_icon|tojson }},
                {%- endif %}
            })
        });
    </script>
{%- endblock %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.carwash_programs_list') }}">{{ _('Carwash programs list header') }}</a></li>
            <li class="active">{{ program.title if program_id else _('Create new carwash program header string') }}</li>
        </ol>
    </h4>

    <form class="{{ form.meta.class_ if form }}" action="{{ url_for('admin.manage_carwash_program', program_id=program_id) }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' -%}
            <div class="form-group">
                {{ render_field(field) }}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(program_id) }}
                {{ render_save_and_continue_button(program_id) }}
                {{ render_cancel_link(url_for('admin.carwash_programs_list')) }}
            </div>
        </div>
    </form>
{%- endblock %}