{% extends 'admin/common.html' %}

{% block css -%}
    {{ super() }}
    <link href="{{ url_for('admin.static', filename='css/fileinput.css') }}" rel="stylesheet" media="all" type="text/css" />
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script src="{{ url_for('admin.static', filename='js/fileinput.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        {%- set fname = url_for('public_dir', filename='images/cleansers/' + cleanser.stored_photo) if cleanser.stored_photo else '' -%}
        $(function() {
            $(".file-loading").fileinput({
                'allowedFileExtensions' : ['jpg', 'jpeg', 'png', 'gif'],
                'showUpload': false,
                {% if fname -%}
                    'initialPreview': [
                        '<img src="{{ fname }}" class="file-preview-image" alt="{{ cleanser.original_photo }}" title="" /><input type="hidden" name="{{ form.cphoto.id }}" value="{{ fname }}" />'
                    ],
                    'overwriteInitial': true,
                    'initialCaption': {{ cleanser.original_photo|tojson }},
                {%- endif %}
            });
        });
    </script>
{%- endblock %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.cleansers_list') }}">{{ _('Cleansers list header') }}</a></li>
            <li class="active">{{ cleanser.title if cleanser_id else _('Create new cleanser header string') }}</li>
        </ol>
    </h4>

    <form class="{{ form.meta.class_ if form }}" action="{{ url_for('admin.manage_cleanser', cleanser_id=cleanser_id) }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' -%}
            <div class="form-group">
                {{ render_field(field) }}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(cleanser_id) }}
                {{ render_save_and_continue_button(cleanser_id) }}
                {{ render_cancel_link(url_for('admin.cleansers_list')) }}
            </div>
        </div>
    </form>
{%- endblock %}