{% extends 'admin/common.html' %}

{% block css -%}
    {{ super() }}
    <style type="text/css">
        .col-title { min-width: 250px; }
    </style>
{%- endblock %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.map_objects_list') }}">{{ _('Map objects list header') }}</a></li>
            <li class="active"><a href="{{ url_for('admin.manage_map_object') }}" class="btn btn-xs btn-default">{{ _('Add map object button') }}</a></li>
        </ol>
    </h4>

    {% if map_objects -%}
        <div class="table-responsive table-container">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-title">{{ _('Map object title column') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mo in map_objects -%}
                        <tr>
                            <td><a href="{{ url_for('admin.manage_map_object', map_object_id=mo.id) }}">{{ mo.title }}</a></td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    {%- else -%}
        <div class="alert alert-info">
            {{ _('No map objects added. Go to <a href=%(link)s>add map object</a>', link=url_for('admin.manage_map_object')) }}
        </div>
    {%- endif %}
{%- endblock %}