{% extends 'admin/common.html' %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li>{{ _('Media list header') }}</li>
            <li class="active">
                <a href="{{ url_for('admin.manage_media', type_='photo') }}" class="btn btn-xs btn-default">{{ _('Add media photo button') }}</a>
                <a href="{{ url_for('admin.manage_media', type_='video') }}" class="btn btn-xs btn-default">{{ _('Add media video button') }}</a>
            </li>
        </ol>
    </h4>

    {% if media -%}
        <div class="row">
            {% for mo in media -%}
                <div class="col-md-2">
                    <div class="thumbnail">
                        <a href="{{ url_for('admin.manage_media', type_='video' if mo.is_video else 'photo', media_id=mo.id) }}" class="thumbnail">
                            {% if not mo.is_video -%}
                                <img src="{{ mo.render_image() }}" alt="" width="100" />
                            {%- else -%}
                                <iframe width="150" height="115" src="{{ mo.render_image() }}" frameborder="0"></iframe>
                            {%- endif %}
                        </a>
                        {% if mo.tags -%}
                            <div class="caption">
                                {{ mo.tags|join(', ') }}
                            </div>
                        {%- endif %}
                    </div>
                </div>
                {% if loop.index is divisibleby(6) and not loop.last -%}
                    </div>
                    <div class="row">
                {%- endif %}
            {%- endfor %}
        </div>
    {%- else -%}
        <div class="alert alert-info">
            {{ _('No media objects added message') }}
        </div>
    {%- endif %}
{%- endblock %}