{% extends 'admin/common.html' %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.news_list') }}">{{ _('News list header') }}</a></li>
            <li class="active"><a href="{{ url_for('admin.manage_news_article') }}" class="btn btn-xs btn-default">{{ _('Add news article button') }}</a></li>
        </ol>
    </h4>

    {% if news -%}
        <div class="table-responsive table-container">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>{{ _('News article title column') }}</th>
                        <th>{{ _('News article publish date column') }}</th>
                        <th class="text-center">{{ _('News article published column') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in news -%}
                        <tr>
                            <td><a href="{{ url_for('admin.manage_news_article', news_article_id=article.id) }}">{{ article.title }}</a></td>
                            <td>{{ article.publish_date }}</td>
                            <td class="text-center">{{ render_bool(article.published, with_color=True) }}</td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    {%- else -%}
        <div class="alert alert-info">
            {{ _('No news added. Go to <a href=%(link)s>add news article</a>', link=url_for('admin.manage_news_article')) }}
        </div>
    {%- endif %}
{%- endblock %}