{% extends 'admin/common_manage_block_data.html' %}

{% block css -%}
    {{ super() }}
    <style type="text/css">
        .col-title { min-width: 250px; }
    </style>
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script type="text/javascript">
        $(function() {
            var table = $("#tabs_table").DataTable({
                'ordering': true,
                'searching': false,
                'paging': false,
                'info': false,
                'columnDefs': [
                    { orderable: true, className: 'reorder', targets: 0 },
                    { orderable: false, targets: '_all' }
                ],
                rowReorder: true
            });
        });
    </script>
{%- endblock %}

{% block breadcrumb -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.pages_list') }}">{{ _('Pages list header') }}</a></li>
            <li><a href="{{ url_for('admin.manage_page', page_id=page_id, active_tab=active_tab) }}">{{ page.title }}</a></li>
            <li><a href="{{ url_for('admin.manage_pageblock', page_id=page_id, pageblock_id=pageblock.id) }}">{{ pageblock.comment }}</a></li>
            <li><a href="{{ url_for('admin.manage_pageblock_data', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab) }}">{{ _('Tabs Tb tab') }}</a>
            <li class="active">{{ blocktab.caption if blocktab_id else  _('Create new tb block tab header string') }}</li>
        </ol>
    </h4>
{%- endblock %}

{% block tabs -%}
    {% if tab_tabs and blocktab_id -%}
        <ul class="nav nav-tabs">
            {% for tab in tab_tabs -%}
                <li role="presentation"{% if active_tab_tab == tab.alias %} class="active"{% endif %}><a href="{{ url_for('admin.manage_tb_block_tab', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab, blocktab_id=blocktab_id, active_tab_tab=tab.alias) }}">{{ tab.title }}</a></li>
            {%- endfor %}
            <li class="disabled"><a href="#">{{ _('Tabs description string') }}</a></li>
        </ul>
        <div class="clearfix padding-bottom"></div>
    {%- endif %}
{%- endblock %}

{% block inner_content -%}
    <form class="{{ form.meta.class_ if form else 'form-horizontal' }}" action="{{ url_for('admin.manage_tb_block_tab', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab, blocktab_id=blocktab_id, active_tab_tab=active_tab_tab) }}" method="post">
        {% if active_tab_tab == 'general' -%}
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' -%}
                <div class="form-group">
                    {{ render_field(field) }}
                </div>
            {%- endfor %}
        {%- elif active_tab_tab == 'blocks' -%}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12"><a href="{{ url_for('admin.manage_tb_block_tab_blocks', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab, active_tab_tab=active_tab_tab, blocktab_id=blocktab_id) }}" class="btn btn-default">Добавить блок</a></div>
                </div>

                <div class="row">
                    <div class="table-container">
                        {% if epage.blocks -%}
                            <table id="tabs_table" class="table table-striped table-hover" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="col-move text-center"></th>
                                        <th class="col-title">Название</th>
                                        <th class="">Данные</th>
                                        <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
                                        <th class="text-center"><span class="glyphicon glyphicon-trash text-danger"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for epb in epage.blocks -%}
                                        <tr{{ ' class=alert-warning' if epb.status == 'Trash' else '' }}>
                                            <td class="text-center">{{ epb.position }}</td>
                                            <td><a href="{{ url_for('admin.manage_tb_block_tab_blocks', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab, active_tab_tab=active_tab_tab, blocktab_id=blocktab_id, eblock_id=epb.id) }}">{{ epb.comment }}</a><input type="hidden" name="positions" value="{{ epb.id }}" /></td>
                                            <td><a href="{{ url_for('admin.manage_tb_block_tab_blocks_data', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab, active_tab_tab=active_tab_tab, blocktab_id=blocktab_id, eblock_id=epb.id) }}">Редактировать</a></td>
                                            <td class="text-center">{{ render_bool(epb.published, with_color=True) }}</td>
                                            <td class="text-center"><input class="mark-to-remove" type="checkbox" name="toremove" value="{{ epb.id }}" /></td>
                                        </tr>
                                    {%- endfor %}
                                </tbody>
                            </table>
                        {%- else -%}
                            <div class="alert alert-info">TODO: no blocks added in tab with info alert</div>
                        {%- endif %}
                    </div>
                </div>
            </div>
        {%- endif %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(blocktab_id) }}
                {{ render_save_and_continue_button(blocktab_id) }}
                {% if active_tab_tab == 'blocks' -%}
                    <button type="submit" name="trash_selected" class="btn btn-danger">{{ _('Trash selected button') }}</button>
                    <button type="submit" name="restore_selected" class="btn btn-warning">{{ _('Restore selected button') }}</button>
                {%- endif %}
                {{ render_cancel_link(url_for('admin.manage_pageblock_data', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab)) }}
            </div>
        </div>
    </form>
{%- endblock %}