{% extends 'admin/common_manage_block_data.html' %}

{% block css -%}
    {{ super() }}
    <style type="text/css">
        .col-resizer { min-width: 25px; }
        .col-title { min-width: 250px; }
    </style>
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#tabs_table').DataTable({
                'ordering': true,
                'searching': false,
                'paging': false,
                'info': false,
                'columnDefs': [
                    { orderable: true, className: 'reorder', targets: 0 },
                    { orderable: false, targets: '_all' }
                ],
                rowReorder: true
            });
        });
    </script>
{%- endblock %}

{% block inner_content -%}
    <form class="{{ form.meta.class_ if form else 'form-horizontal' }}" action="{{ url_for('admin.manage_pageblock_data', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab) }}" method="post">
        {% if active_subtab == 'general' -%}
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' -%}
                <div class="form-group">
                    {{ render_field(field) }}
                </div>
            {%- endfor %}
        {% elif active_subtab == 'tabs' -%}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12"><a href="{{ url_for('admin.manage_tb_block_tab', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab) }}" class="btn btn-default">Добавить вкладку</a></div>
                </div>

                <div class="row">
                    <div class="container-fluid">
                        {% if block_tabs -%}
                            <table id="tabs_table" class="table table-striped table-hover" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="col-move text-center"></th>
                                        <th class="">Название</th>
                                        <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
                                        <th class="text-center"><span class="glyphicon glyphicon-trash text-danger"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for btab in block_tabs -%}
                                        <tr>
                                            <td class="text-center">{{ btab.position }}</td>
                                            <td><a href="{{ url_for('admin.manage_tb_block_tab', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab, blocktab_id=btab.id) }}">{{ btab.caption }}</a></td>
                                            <td class="text-center">{{ render_bool(btab.published, with_color=True) }}</td>
                                            <td class="text-center"><input class="mark-to-remove" type="checkbox" name="toremove" value="{{ btab.id }}" /></td>
                                        </tr>
                                    {%- endfor %}
                                </tbody>
                            </table>
                        {%- else -%}
                            <div class="alert alert-info">TODO: no blocks with info alert</div>
                        {%- endif %}
                    </div>
                </div>
            </div>
        {%- endif %}
        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(True) }}
                {{ render_save_and_continue_button(True) }}
                {% if active_subtab == 'blocks' -%}
                    <button type="submit" name="trash_selected" class="btn btn-danger">{{ _('Trash selected button') }}</button>
                {%- endif %}
                {{ render_cancel_link(url_for('admin.manage_page', page_id=page_id, active_tab=active_tab)) }}
            </div>
        </div>
    </form>
{%- endblock %}