/* Bootstrap glyphs */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url({{ url_for('admin.static', filename='fonts/glyphicons-halflings-regular.eot') }});
    src: url({{ url_for('admin.static', filename='fonts/glyphicons-halflings-regular.eot', anchor_='#iefix') }}) format('embedded-opentype'),
         url({{ url_for('admin.static', filename='fonts/glyphicons-halflings-regular.woff2') }}) format('woff2'),
         url({{ url_for('admin.static', filename='fonts/glyphicons-halflings-regular.woff') }}) format('woff'),
         url({{ url_for('admin.static', filename='fonts/glyphicons-halflings-regular.ttf') }}) format('truetype'),
         url({{ url_for('admin.static', filename='fonts/glyphicons-halflings-regular.svg', anchor_='glyphicons_halflingsregular') }}) format('svg');
}

* {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Bootstrap customize */
.navbar-brand > img { margin-top: 5px; width: 82px; }
.form-horizontal .control-label { text-align: left; }
table.dataTable thead > tr > th,
table.dataTable thead > tr > td { padding: 8px !important; }


@-webkit-keyframes bs-rotate {
    0% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg)
    }
}
@keyframes bs-rotate {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(359deg)
    }
}
.glyphicon-spin {
    display: inline-block;
    -webkit-animation: bs-rotate 2s infinite linear;
    animation: bs-rotate 2s infinite linear;
}

/* Utils */
.padding-bottom { padding-bottom: 15px !important; }
.text-middle { display: inline-block; vertical-align: middle; float: none; }

/* Table container */
.table-container table { width: auto; }

/* Buttons bar */
.buttons-bar { position: relative; padding: 15px 0; }
.buttons-bar__fixed { position: fixed; bottom: 0; width: 100%; left: 0; z-index: 999; }
.buttons-bar-background { background: #ddd; position: absolute; width: 100%; height: 100%; margin-top: -15px; display: none; }
.buttons-bar__fixed:hover .buttons-bar-background { }
.buttons-bar-content { position: relative; padding: 0; }
.buttons-bar__fixed .buttons-bar-content { padding: 0 15px; }
.buttons-bar__fixed { -webkit-box-shadow: #2980b9 0 0 5px; -moz-box-shadow: #2980b9 0 0 5px; box-shadow: #2980b9 0 0 5px; }
.buttons-bar-cancek { float: right; margin: 10px 0 0; }


.btn-colorselector {
    outline: 1px #000 solid;
}
.dropdown {
    margin: 0;
}
.dropdown-menu {
    padding: 0;
}
.dropdown-menu > li,
.dropdown-menu > .divider {
    margin: 0;
}
.dropdown-menu > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar {
    margin-bottom: 0;
    font-size: 14px;
}
.navbar-text.navbar-right {
    display: table;
    height: 50px;
    margin: 0;
}
.navbar-text.navbar-right > #ajax_state,
.navbar-text.navbar-right > .navbar-link {
    display: table-cell;
    height: 50px;
    padding-left: 2rem;
    vertical-align: middle;
}
.navbar_fake {
    height: 50px;
}
body > .page {
    margin-top: -50px;
}
body > .page > .page-content {
    padding-top: 50px;
}
.content > caption {
    padding: 0;
}

textarea.noresize { resize: none; }
