{% extends "admin/common.html" %}

{% block content -%}
    <h2>
        <ol class="breadcrumb">
            <li>{{ _('Roles list header') }}</li>
            <li><a class="btn btn-default" href="{{ url_for('.edit_role', rid=0) }}">{{ _('Add role button') }}</a></li>
        </ol>
    </h2>

    <div class="table-container1">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>{{ _('Role title column') }}</th>
                </tr>
            </thead>
            <tbody>
                {% if rid == 0 -%}
                    {{ render_role(None, form) }}
                {%- endif %}
                {% for role in roles -%}
                    {{ render_role(role, form if rid == role.id else None) }}
                {%- endfor %}
            </tbody>
        </table>
    </div>
{%- endblock %}

{% macro render_role(role, form) -%}
    <tr>
        {% if form -%}
            <td>
                <form class="form-inline" action="{{ url_for('.edit_role', rid=rid) }}" method="post">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        {% for field in form if field.widget.input_type != 'hidden' -%}
                            {{ field(class_='form-control input-sm') }}
                        {%- endfor %}
                        <input type="submit" class="btn btn-primary btn-sm" value="{{ _('Edit role button') if rid >0 else _('Add role button') }}"/>
                        <a class="btn btn-link btn-sm" href="{{ url_for('.roles') }}">{{ _('Cancel link') }}</a>
                    </div>
                </form>
                {% if current_user.is_granted_for('delete', 'role') and role.name not in ['rbac_users', 'rbac_schema', 'customer'] and role.id -%}
                    <form class="uk-form form-inline" action="{{ url_for('.delete_role', rid=role.id) }}" method="GET">
                        <input class="uk-button uk-button-danger uk-float-right" type="submit" value="{{ _('Delete role button') }}"/>
                    </form>
                {%- endif %}
            </td>
        {%- else -%}
            <td>
                <a href="{{ url_for('.edit_role', rid=role.id) }}">{{ role.title }}</a>
            </td>
        {%- endif %}
    </tr>
{%- endmacro %}