<!DOCTYPE html>
{% block htmltag %}<html>{% endblock %}

    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=egde" />
        <meta http-equiv="Cache-Control" content="no-cache, max-age=0, must-revalidate, no-store" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block meta %}{% endblock %}
        {% block css %}{% endblock %}
        {% block js %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>

    {% block bodytag %}<body role="document">{% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>