{% extends 'admin/base.html' %}

{% block css -%}
    {% assets 'css_admin_common' -%}
        <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" media="all" />
    {%- endassets %}
{%- endblock %}

{% block js -%}
    {% assets 'js_admin_common' -%}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {%- endassets %}
{%- endblock %}

{% block body -%}
    {%- include 'admin/navigation.html' -%}
    <div id="content" class="container-fluid">
        {% with messages = get_flashed_messages(category_filter=["danger"]) -%}{{ render_messages(messages, 'danger') }}{%- endwith %}
        {% with messages = get_flashed_messages(category_filter=["warning"]) -%}{{ render_messages(messages, 'warning') }}{%- endwith %}
        {% with messages = get_flashed_messages(category_filter=["success"]) -%}{{ render_messages(messages, 'success') }}{%- endwith %}
        {% with messages = get_flashed_messages(category_filter=["info"]) -%}{{ render_messages(messages, 'info') }}{%- endwith %}
        {% block content %}{% endblock %}
    </div>
{%- endblock %}

{% macro render_messages(messages, type_) -%}
    {% if messages -%}
        <div class="alert alert-{{ type_ }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{ _('Close alert label') }}"><span aria-hidden="true">&times;</span></button>
            {% for msg in messages -%}
                {{ msg|safe }}
            {%- endfor %}
        </div>
    {%- endif %}
{%- endmacro %}

{% macro render_bool(status, with_color=False) -%}
    {% if status -%}
        <i class="glyphicon glyphicon-ok{{ ' text-success' if with_color else '' }}"></i>
    {%- else -%}
        <i class="glyphicon glyphicon-remove{{ ' text-warning' if with_color else '' }}"></i>
    {%- endif %}
{%- endmacro %}

{% macro render_field_require(require) -%}
    {{ '<strong class="text-danger">*</strong>'|safe if require else '' }}
{%- endmacro -%}

{% macro render_field(field) -%}
    {%- set exist_cls = field.widget.kw.class_ if field.widget.kw else '' -%}
    {% if field.type == 'BooleanField' -%}
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    {{ field }} {{ field.label.text }}
                </label>
            </div>
        </div>
    {%- else -%}
        <label class="col-sm-2 control-label{% if field.errors %} field-error{% endif %}" for="{{ field.id }}">
            {{ field.label.text }}{{ render_field_require(field.flags.required) }}
        </label>
        <div class="col-sm-10">
            {% if field.errors -%}
                {%- set classes = exist_cls + ' text-danger' if exist_cls else 'text-danger' -%}
            {%- else -%}
                {%- set classes = exist_cls -%}
            {%- endif %}
            {{ field(class_=classes) }}
            {% if field.errors -%}
                <span class="help-block"><p class="bg-danger">{{ field.errors[0] }}</p></span>
            {%- endif %}
            {% if field.description -%}
                <span class="help-block"><small>{{ field.description|safe }}</small></span>
            {%- endif %}
        </div>
    {%- endif %}
{%- endmacro %}

{% macro render_save_button(save_=None) -%}
    <button type="submit" name="submit" class="btn btn-primary">{{ _('Save button') if save_ else _('Add button') }}</button>
{%- endmacro %}
{% macro render_save_and_continue_button(save_=None) -%}
    {% if save_ -%}
        <button type="submit" name="submit_and_continue" class="btn btn-primary">{{ _('Save and continue button') if save_ else _('Add and continue button') }}</button>
    {%- endif %}
{%- endmacro %}
{% macro render_cancel_link(link) -%}
    <a class="btn btn-link pull-right" href="{{ link }}">{{ _('Cancel link') }}</a>
{%- endmacro %}