{% extends 'admin/common.html' %}

{% block content -%}
    {% block breadcrumb -%}
        <h4>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('admin.pages_list') }}">{{ _('Pages list header') }}</a></li>
                <li><a href="{{ url_for('admin.manage_page', page_id=page_id, active_tab=active_tab) }}">{{ page.title }}</a></li>
                <li><a href="{{ url_for('admin.manage_pageblock', page_id=page_id, pageblock_id=pageblock.id) }}">{{ pageblock.comment }}</a></li>
                <li class="active">{{ _('Manage data header') }}</li>
            </ol>
        </h4>
    {%- endblock %}

    {% block tabs -%}
        {% if subtabs -%}
            <ul class="nav nav-tabs">
                {% for tab in subtabs -%}
                    <li role="presentation"{% if active_subtab == tab.alias %} class="active"{% endif %}><a href="{{ url_for('admin.manage_pageblock_data', page_id=page_id, pageblock_id=pageblock_id, active_subtab=tab.alias) }}">{{ tab.title }}</a></li>
                {%- endfor %}
                <li class="disabled"><a href="#">{{ _('Tabs description string') }}</a></li>
            </ul>
            <div class="clearfix padding-bottom"></div>
        {%- endif %}
    {%- endblock %}

    {% block inner_content -%}{%- endblock %}
{%- endblock %}