{% extends 'admin/common.html' %}

{% block htmltag %}<html class="uk-height-1-1 uk-notouch">{% endblock %}
{% block bodytag %}<body class="uk-height-1-1">{% endblock %}

{% block css -%}
    {{ super() }}
    <style type="text/css">
        body {
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #eee;
        }
        .form-signin {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
        }
        .form-signin .form-signin-logo {
            width: 100%;
        }
        .form-signin .form-signin-heading,
        .form-signin .form-signin-logo,
        .form-signin .checkbox {
          margin-bottom: 10px;
        }
        .form-signin .checkbox {
          font-weight: normal;
        }
        .form-signin .form-control {
          position: relative;
          height: auto;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 10px;
          font-size: 16px;
        }
        .form-signin .form-control:focus {
          z-index: 2;
        }
        .form-signin input[type="email"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
    </style>
{%- endblock %}

{% block body %}
    <div class="container">
        <form class="form-signin" action="{{ url_for('admin.login') }}" method="post">
            {{ login_form.hidden_tag() }}
            <div class="form-signin-logo">
                <img src="{{ url_for('admin.static', filename='images/logo.png') }}" alt="Karcher" />
            </div>
            <h5 class="form-signin-heading">Management area</h5>
            <label for="{{ login_form.login.id }}" class="sr-only"></label>
            {{ login_form.login }}
            <label for="{{ login_form.password.id }}" class="sr-only"></label>
            {{ login_form.password }}
            <div class="checkbox">
                <label>
                    {{ login_form.remember_me }} {{ login_form.remember_me.label.text }}
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _('Login button') }}</button>
        </form>
    </div>
{% endblock %}