{% extends 'admin/common.html' %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li>{{ _('Navigation header') }}</li>
            <li><a href="{{ url_for('admin.navigation_list', nav_type=nav_type) }}">{{ group.nav_type_title }}</a></li>
            <li class="active">{{ group.caption }}</li>
        </ol>
    </h4>

    {% if active_tab and group_id -%}
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{{ url_for('admin.manage_navigation_group', nav_type=nav_type, group_id=group_id) }}">{{ _('Nav group general tab') }}</a></li>
            <li role="presentation" class="active"><a href="{{ url_for('admin.manage_navigation_group_items_list', nav_type=nav_type, group_id=group_id) }}">{{ _('Nav group items tab') }}</a></li>
            <li class="disabled"><a href="#">{{ _('Tabs description string') }}</a></li>
        </ul>
        <div class="clearfix padding-bottom"></div>
    {%- endif %}

    <div class="container-fluid">
        {% if items -%}
            <a class="btn btn-default" href="{{ url_for('admin.manage_navigation_group_item', nav_type=nav_type, group_id=group_id) }}">{{ _('Add navigation group item button title') }}</a>
            <div class="table-container">
                <table id="navigation_items_table" class="table table-striped table-hover" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="col-move text-center"></th>
                            <th class="col-caption">{{ _('Navigation item column') }}</th>
                            <th class="">{{ _('Navigation item path column') }}</th>
                            <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items -%}
                            <tr>
                                <td class="text-center">{{ item.position }}</td>
                                <td><a href="{{ url_for('admin.manage_navigation_group_item', nav_type=nav_type, group_id=group_id, item_id=item.id) }}">{{ item.caption }}</a></td>
                                <td>{{ item.item_url }}</td>
                                <td class="text-center">{{ render_bool(item.published, with_color=True) }}</td>
                            </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
        {%- else -%}
            <div class="alert alert-info">
                {{ _('No navigation group items added. Go to <a href=%(link)s>add navigation group item</a>', link=url_for('admin.manage_navigation_group_item', nav_type=nav_type, group_id=group_id)) }}
            </div>
        {%- endif %}
    </div>
{%- endblock %}