{% extends 'admin/common.html' %}

{% block js -%}
    {{ super() }}
    <script type="text/javascript">
        $(function() {
            $('.switch_behavior').on('change', function() {
                $(this).closest('form').find('input[name=switch_behavior]').click();
            });
        });
    </script>
{%- endblock %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li>{{ _('Navigation header') }}</li>
            <li><a href="{{ url_for('admin.navigation_list', nav_type=nav_type) }}">{{ group.nav_type_title }}</a></li>
            <li><a href="{{ url_for('admin.manage_navigation_group_items_list', nav_type=nav_type, group_id=group_id) }}">{{ group.caption }}</a></li>
            <li class="active">{{ item.caption if item.id else _('Create new group navigation item header string') }}</li>
        </ol>
    </h4>

    <form class="{{ form.meta.class_ if form }}" action="{{ url_for('admin.manage_navigation_group_item', nav_type=nav_type, group_id=group_id, item_id=item_id) }}" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' -%}
            <div class="form-group">
                {{ render_field(field) }}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(item_id) }}
                {{ render_save_and_continue_button(item_id) }}
                {{ render_cancel_link(url_for('admin.manage_navigation_group_items_list', nav_type=nav_type, group_id=group_id)) }}
                <input type="submit" name="switch_behavior" style="display:none" value="" />
            </div>
        </div>
    </form>
{%- endblock %}
