{% extends 'admin/common.html' %}

{% block css -%}
    {{ super() }}
    <link href="{{ url_for('admin.static', filename='css/fileinput.css') }}" rel="stylesheet" media="all" type="text/css" />
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script src="{{ url_for('admin.static', filename='js/fileinput.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('.switch_behavior').on('change', function() {
                $(this).closest('form').find('input[name=switch_behavior]').click();
            });
            {%- set stored_icon = item.stored_sicon if 'sicon' in form else item.stored_cicon if 'cicon' in form else None -%}
            {%- set original_icon = item.original_sicon if 'sicon' in form else item.original_cicon if 'cicon' in form else None -%}
            {%- set fname = url_for('public_dir', filename='images/nav_icons/' + stored_icon) if stored_icon else '' -%}
            $(function() {
                $(".file-loading").fileinput({
                    'allowedFileExtensions' : ['jpg', 'jpeg', 'png', 'gif'],
                    'showUpload': false,
                    {% if fname -%}
                        'initialPreview': [
                            '<img src="{{ fname }}" class="file-preview-image" alt="{{ original_icon }}" title="" /><input type="hidden" name="{{ form.sicon.id if 'sicon' in form else form.cicon.id if 'cicon' in form else '' }}" value="{{ fname }}" />'
                        ],
                        'overwriteInitial': true,
                        'initialCaption': {{ original_icon|tojson }},
                    {%- endif %}
                });
            });
        });
    </script>
{%- endblock %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li>{{ _('Navigation header') }}</li>
            <li><a href="{{ url_for('admin.navigation_list', nav_type=nav_type) }}">{{ group.nav_type_title }}</a></li>
            <li><a href="{{ url_for('admin.manage_navigation_group_popup_items_list', nav_type=nav_type, group_id=group_id) }}">{{ group.caption }}</a></li>
            <li class="active">{{ item.caption if item.id else _('Create new group navigation popup item header string') }}</li>
        </ol>
    </h4>

    <form class="{{ form.meta.class_ if form }}" action="{{ url_for('admin.manage_navigation_group_popup_item', nav_type=nav_type, group_id=group_id, item_type=item_type, item_id=item_id) }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' -%}
            <div class="form-group">
                {{ render_field(field) }}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(item_id) }}
                {{ render_save_and_continue_button(item_id) }}
                {{ render_cancel_link(url_for('admin.manage_navigation_group_popup_items_list', nav_type=nav_type, group_id=group_id)) }}
                <input type="submit" name="switch_behavior" style="display:none" value="" />
            </div>
        </div>
    </form>
{%- endblock %}
