{% extends 'admin/common.html' %}

{% block css -%}
    {{ super() }}
    <link href="{{ url_for('admin.static', filename='css/fileinput.css') }}" rel="stylesheet" media="all" type="text/css" />
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script src="{{ url_for('admin.static', filename='js/fileinput.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        {% if not epage -%}
            {%- set fname = url_for('public_dir', filename='images/blocks_bg/' + pageblock.stored_background_image) if pageblock.stored_background_image else '' -%}
            $(function() {
                $(".file-loading").fileinput({
                    'allowedFileExtensions' : ['jpg', 'jpeg', 'png', 'gif'],
                    'showUpload': false,
                    {% if fname -%}
                        'initialPreview': [
                            '<img src="{{ fname }}" class="file-preview-image" alt="{{ pageblock.original_background_image }}" title="" /><input type="hidden" name="{{ form.bimage.id }}" value="{{ fname }}" />'
                        ],
                        'overwriteInitial': true,
                        'initialCaption': {{ pageblock.original_background_image|tojson }},
                    {%- endif %}
                });
            });
        {%- else -%}
            {%- set fname = url_for('public_dir', filename='images/blocks_bg/' + epageblock.stored_background_image) if epageblock.stored_background_image else '' -%}
            $(function() {
                $(".file-loading").fileinput({
                    'allowedFileExtensions' : ['jpg', 'jpeg', 'png', 'gif'],
                    'showUpload': false,
                    {% if fname -%}
                        'initialPreview': [
                            '<img src="{{ fname }}" class="file-preview-image" alt="{{ epageblock.original_background_image }}" title="" /><input type="hidden" name="{{ form.bimage.id }}" value="{{ fname }}" />'
                        ],
                        'overwriteInitial': true,
                        'initialCaption': {{ epageblock.original_background_image|tojson }},
                    {%- endif %}
                });
            });
        {%- endif %}
    </script>
{%- endblock %}

{% block content -%}
    <h4 class="padding-bottom">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.pages_list') }}">{{ _('Pages list header') }}</a></li>
            <li><a href="{{ url_for('admin.manage_page', page_id=page_id, active_tab=active_tab) }}">{{ page.title }}</a></li>
            {% if not epage -%}
                <li class="active">{{ pageblock.comment if pageblock_id else _('Create new pageblock header string') }}</li>
            {%- else -%}
                <li><a href="{{ url_for('admin.manage_pageblock', page_id=page_id, pageblock_id=pageblock_id) }}">{{ pageblock.comment }}</a></li>
                <li><a href="{{ url_for('admin.manage_pageblock_data', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab) }}">{{ _(epage.title) }}</a></li>
                <li class="active">{{ epageblock.comment if epageblock_id else _('Create new embedded pageblock header string') }}</li>
            {%- endif %}
        </ol>
    </h4>

    {% if not epage -%}
        <form class="{{ form.meta.class_ if form else 'form-horizontal' }}" action="{{ url_for('admin.manage_pageblock', page_id=page_id, pageblock_id=pageblock_id, active_tab=active_tab) }}" method="post" enctype="multipart/form-data">
    {%- else -%}
        <form class="{{ form.meta.class_ if form else 'form-horizontal' }}" action="{{ url_for('admin.manage_epageblock', page_id=page_id, pageblock_id=pageblock_id, active_tab=active_tab, epage_id=epage_id, epageblock_id=epageblock_id, active_subtab=active_subtab) }}" method="post" enctype="multipart/form-data">
    {%- endif %}
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' -%}
            <div class="form-group{{ ' has-error' if field.errors }}">
                {{ render_field(field) }}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {% if not epage -%}
                    {{ render_save_button(pageblock_id) }}
                    {{ render_save_and_continue_button(pageblock_id) }}
                    {{ render_cancel_link(url_for('admin.manage_page', page_id=page_id, active_tab=active_tab)) }}
                {%- else -%}
                    {{ render_save_button(epageblock_id) }}
                    {{ render_save_and_continue_button(epageblock_id) }}
                    {{ render_cancel_link(url_for('admin.manage_pageblock_data', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab)) }}
                {%- endif %}
            </div>
        </div>
    </form>
{%- endblock %}