{% extends 'admin/common.html' %}

{% block js -%}
    {{ super() }}
    <script type="text/javascript">
        $(function() {
            $('.switch_type').on('change', function() {
                $(this).closest('form').submit();
            });
            var table = $("#square_popup_items_table, #circle_popup_items_table").DataTable({
                'ordering': true,
                'searching': false,
                'paging': false,
                'info': false,
                'columnDefs': [
                    { orderable: true, className: 'reorder', targets: 0 },
                    { orderable: false, targets: '_all' }
                ],
                rowReorder: true
            });
        });
    </script>
{%- endblock %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li>{{ _('Navigation header') }}</li>
            <li><a href="{{ url_for('admin.navigation_list', nav_type=nav_type) }}">{{ group.nav_type_title }}</a></li>
            <li class="active">{{ group.caption }}</li>
        </ol>
    </h4>

    {% if popup_items_tab and group_id -%}
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{{ url_for('admin.manage_navigation_group', nav_type=nav_type, group_id=group_id) }}">{{ _('Nav group general tab') }}</a></li>
            <li role="presentation" class="active"><a href="{{ url_for('admin.manage_navigation_group_popup_items_list', nav_type=nav_type, group_id=group_id) }}">{{ _('Nav group items tab') }}</a></li>
            <li class="disabled"><a href="#">{{ _('Tabs description string') }}</a></li>
        </ul>
        <div class="clearfix padding-bottom"></div>
    {%- endif %}

    <form class="{{ form.meta.class_ if form else 'form-horizontal' }}" action="{{ url_for('admin.manage_navigation_group_popup_items_list', nav_type=nav_type, group_id=group_id) }}" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <a href="{{ url_for('admin.manage_navigation_group_popup_item', nav_type=nav_type, group_id=group_id, item_type='square') }}" class="btn btn-default">{{ _('Add square popup item button') }}</a>
                </div>
                <div class="col-xs-6">
                    <a href="{{ url_for('admin.manage_navigation_group_popup_item', nav_type=nav_type, group_id=group_id, item_type='circle') }}" class="btn btn-default">{{ _('Add circle popup item button') }}</a>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xs-6">
                    <div class="container-fluid">
                        <table id="square_popup_items_table" class="table table-striped table-hover" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="col-move text-center"></th>
                                    <th class="col-title">{{ _('Popup item title column') }}</th>
                                    <th>{{ _('Popup item path column') }}</th>
                                    <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
                                    <th class="text-center"><span class="glyphicon glyphicon-trash text-danger"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pi in square_items -%}
                                    <tr>
                                        <td>{{ pi.position }}</td>
                                        <td><a href="{{ url_for('admin.manage_navigation_group_popup_item', nav_type=nav_type, group_id=group_id, item_type=pi.itemtype_, item_id=pi.id) }}">{{ pi.caption }}</a><input type="hidden" name="square_positions" value="{{ pi.id }}" /></td>
                                        <td>{{ pi.item_url }}</td>
                                        <td class="text-center">{{ render_bool(pi.published, with_color=True) }}</td>
                                        <td class="text-center"><input class="mark-to-remove" type="checkbox" name="square_toremove" value="{{ pi.id }}" /></td>
                                    </tr>
                                {%- endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="container-fluid">
                        <table id="circle_popup_items_table" class="table table-striped table-hover" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="col-move text-center"></th>
                                    <th class="col-title">{{ _('Popup item title column') }}</th>
                                    <th>{{ _('Popup item path column') }}</th>
                                    <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
                                    <th class="text-center"><span class="glyphicon glyphicon-trash text-danger"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pi in circle_items -%}
                                    <tr>
                                        <td>{{ pi.position }}</td>
                                        <td><a href="{{ url_for('admin.manage_navigation_group_popup_item', nav_type=nav_type, group_id=group_id, item_type=pi.itemtype_, item_id=pi.id) }}">{{ pi.caption }}</a><input type="hidden" name="circle_positions" value="{{ pi.id }}" /></td>
                                        <td>{{ pi.item_url }}</td>
                                        <td class="text-center">{{ render_bool(pi.published, with_color=True) }}</td>
                                        <td class="text-center"><input class="mark-to-remove" type="checkbox" name="circle_toremove" value="{{ pi.id }}" /></td>
                                    </tr>
                                {%- endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(True) }}
                <button type="submit" name="trash_selected" class="btn btn-danger">{{ _('Trash selected button') }}</button>
            </div>
        </div>
    </form>
{%- endblock %}