{% extends 'admin/common.html' %}

{% block js -%}
    {{ super() }}
    <script type="text/javascript">
        $(function() {
            $('.switch_behavior').on('change', function() {
                $(this).closest('form').find('input[name=switch_behavior]').click();
            });
        });
    </script>
{%- endblock %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li>{{ _('Navigation header') }}</li>
            <li><a href="{{ url_for('admin.navigation_list', nav_type=nav_type) }}">{{ group.nav_type_title }}</a></li>
            <li class="active">{{ group.caption if group_id else _('Create new navigation group header string') }}</li>
        </ol>
    </h4>

    {% if items_tab or popup_items_tab and group_id -%}
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="{{ url_for('admin.manage_navigation_group', nav_type=nav_type, group_id=group_id) }}">{{ _('Nav group general tab') }}</a></li>
            {% if items_tab -%}
                <li role="presentation"><a href="{{ url_for('admin.manage_navigation_group_items_list', nav_type=nav_type, group_id=group_id) }}">{{ _('Nav group items tab') }}</a></li>
            {%- endif %}
            {% if popup_items_tab -%}
                <li role="presentation"><a href="{{ url_for('admin.manage_navigation_group_popup_items_list', nav_type=nav_type, group_id=group_id) }}">{{ _('Nav group popup items tab') }}</a></li>
            {%- endif %}
            <li class="disabled"><a href="#">{{ _('Tabs description string') }}</a></li>
        </ul>
        <div class="clearfix padding-bottom"></div>
    {%- endif %}

    <form id="nav_group" class="{{ form.meta.class_ if form }}" action="{{ url_for('admin.manage_navigation_group', nav_type=nav_type, group_id=group_id) }}" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' -%}
            <div class="form-group">
                {{ render_field(field) }}
            </div>
        {%- endfor %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(group_id) }}
                {{ render_save_and_continue_button(group_id) }}
                {{ render_cancel_link(url_for('admin.navigation_list', nav_type=nav_type)) }}
                <input type="submit" name="switch_behavior" style="display:none" value="" />
            </div>
        </div>
    </form>
{%- endblock %}