{% extends 'admin/common.html' %}


{% block css -%}
    {{ super() }}
    <style type="text/css">
        .col-resizer { min-width: 25px; }
        .col-title { min-width: 250px; }
    </style>
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#pageblocks_table').DataTable({
                'ordering': true,
                'searching': false,
                'paging': false,
                'info': false,
                'columnDefs': [
                    { orderable: true, className: 'reorder', targets: 0 },
                    { orderable: false, targets: '_all' }
                ],
                rowReorder: true
            });
        });
    </script>
{%- endblock %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('admin.pages_list') }}">{{ _('Pages list header') }}</a></li>
            <li class="active">{{ page.title if page_id else _('Create new page header string') }}</li>
        </ol>
    </h4>

    {% if tabs and page_id -%}
        <ul class="nav nav-tabs">
            {% for tab in tabs -%}
                <li role="presentation"{% if active_tab == tab.alias %} class="active"{% endif %}><a href="{{ url_for('admin.manage_page', page_id=page_id, active_tab=tab.alias) }}">{{ tab.title }}</a></li>
            {%- endfor %}
            <li class="disabled"><a href="#">{{ _('Tabs description string') }}</a></li>
        </ul>
         <div class="clearfix padding-bottom"></div>
    {%- endif %}

    <form class="{{ form.meta.class_ if form }}" action="{{ url_for('admin.manage_page', page_id=page_id, active_tab=active_tab) }}" method="post">
        {% if active_tab == 'general' -%}
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' -%}
                <div class="form-group">
                    {{ render_field(field) }}
                </div>
            {%- endfor %}
        {%- elif active_tab == 'blocks' -%}
            <div class="container-fluid">
                <a class="btn btn-default" href="{{ url_for('admin.manage_pageblock', page_id=page_id) }}" title="{{ _('Add pageblock button title') }}">{{ _('Add pageblock button') }}</a>

                <div class="table-container">
                    <table id="pageblocks_table" class="table table-striped table-hover" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="col-resizer text-center"></th>
                                <th class="col-title">{{ _('Pageblock title column') }}</th>
                                <th>{{ _('Pageblock data column') }}</th>
                                <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
                                <th class="text-center"><span class="glyphicon glyphicon-trash text-danger"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pblock in page.blocks -%}
                                <tr{{ ' class=alert-warning' if pblock.status == 'Trash' else '' }}>
                                    <td class="text-center">
                                        {{ pblock.position }}
                                        {#<span class="glyphicon glyphicon-resize-vertical"></span>#}
                                    </td>
                                    <td><a href="{{ url_for('admin.manage_pageblock', page_id=page_id, pageblock_id=pblock.id) }}">{{ pblock.comment }}</a><input type="hidden" name="positions" value="{{ pblock.id }}" /></td>
                                    <td><a href="{{ url_for('admin.manage_pageblock_data', page_id=page_id, pageblock_id=pblock.id) }}">{{ _('Edit pageblock data link') }}</a></td>
                                    <td class="text-center">{{ render_bool(pblock.published, with_color=True) }}</td>
                                    <td class="text-center"><input class="mark-to-remove" type="checkbox" name="toremove" value="{{ pblock.id }}" /></td>
                                </tr>
                            {%- endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {%- endif %}

        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(page_id) }}
                {{ render_save_and_continue_button(page_id) }}
                {% if active_tab == 'blocks' -%}
                    <button type="submit" name="trash_selected" class="btn btn-danger">{{ _('Trash selected button') }}</button>
                {%- endif %}
                {{ render_cancel_link(url_for('admin.pages_list')) }}
            </div>
        </div>
    </form>
{%- endblock %}
