{% extends 'admin/common.html' %}

{% block js -%}
    {{ super() }}
    <script type="text/javascript">
        $(function() {
            $('.switch_type').on('change', function() {
                $(this).closest('form').submit();
            });
            var table = $("#groups_table").DataTable({
                'ordering': true,
                'searching': false,
                'paging': false,
                'info': false,
                'columnDefs': [
                    { orderable: true, className: 'reorder', targets: 0 },
                    { orderable: false, targets: '_all' }
                ],
                rowReorder: true
            });
        });
    </script>
{%- endblock %}

{% block content -%}
    <h4>
        <form class="form-inline" action="{{ url_for('admin.navigation_switch_type') }}" method="get">
            <ol class="breadcrumb">
                <li>{{ _('Navigation header') }}</li>
                <li>{{ switchtype_form.nav_type }}</li>
                <li class="active"><a href="{{ url_for('admin.manage_navigation_group', nav_type=nav_type) }}" class="btn btn-xs btn-default">{{ _('Add navigation group button') }}</a></li>
            </ol>
        </form>
    </h4>

    {% if nav_groups -%}
        <form action="{{ url_for('admin.navigation_list', nav_type=nav_type) }}" method="post">
            <div class="container-fluid">
                <div class="table-container">
                    <table id="groups_table" class="table table-hover table-striped" cellspacing="0">
                        <thead>
                            <th class="col-resizer text-center"></th>
                            <th>{{ _('Navigation caption column') }}</th>
                            <th>{{ _('Navigation path column') }}</th>
                            <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
                            <th class="text-center"><span class="glyphicon glyphicon-trash text-danger"></span></th>
                        </thead>
                        <tbody>
                            {% for group in nav_groups -%}
                                <tr>
                                    <td class="text-center">{{ group.position }}</td>
                                    <td><a href="{{ url_for('admin.manage_navigation_group', nav_type=nav_type, group_id=group.id) }}">{{ group.caption }}</a><input type="hidden" name="positions" value="{{ group.id }}" /></td>
                                    <td>{{ group.group_url }}</td>
                                    <td class="text-center">{{ render_bool(group.published, with_color=True) }}</td>
                                    <td class="text-center"><input class="mark-to-remove" type="checkbox" name="toremove" value="{{ group.id }}" /></td>
                                </tr>
                            {%- endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="buttons-bar">
                <div class="buttons-bar-content">
                    {{ render_save_button(True) }}
                    <button type="submit" name="trash_selected" class="btn btn-danger">{{ _('Trash selected button') }}</button>
                </div>
            </div>
        </form>
    {%- else -%}
        <div class="alert alert-info">
            {{ _('No navigation groups added. Go to <a href=%(link)s>add navigation group</a>', link=url_for('admin.manage_navigation_group', nav_type=nav_type)) }}
        </div>
    {%- endif %}
{%- endblock %}