{% extends 'admin/common.html' %}

{% block content -%}
    <h4>
        <ol class="breadcrumb">
            <li>{{ _('Users list header') }}</li>
            <li class="active"><a href="{{ url_for('admin.manage_user') }}" class="btn btn-xs btn-default">{{ _('Add new user button') }}</a></li>
    </h4>

    <form class="form-inline" action="{{ url_for('admin.users_list') }}" method="get">
        <div class="table-responsive table-container table-container__filters">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ _('Login column') }}</th>
                        <th>{{ _('Fullname column') }}</th>
                        <th class="text-center">{{ _('Activity column') }}</th>
                        <th>{{ _('Roles column') }}</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><div class="form-group">{{ filters_form.login }}</div></td>
                        <td><div class="form-group">{{ filters_form.fullname }}</div></td>
                        <td class="text-center">{{ filters_form.activity }}</td>
                        <td><div class="form-group">{{ filters_form.role }}</div></td>
                        <td>{% if filtered_list %}<a href="{{ url_for('admin.users_list_clear_filters') }}" class="btn btn-link btn-xs glyphicon glyphicon-remove" title="{{ _('Clear filters hint string') }}" ></a>{% endif %}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users -%}
                        <tr>
                            <td>{{ render_user_status(user.activity, user.system) }}</td>
                            <td><a href="{{ url_for('admin.manage_user', user_id=user.id) }}">{{ user.login }}</a></td>
                            <td><a href="{{ url_for('admin.manage_user', user_id=user.id) }}">{{ user.fullname }}</a></td>
                            <td class="text-center">{{ render_bool(user.activity, with_color=True) }}</td>
                            <td>{{ user.printable_roles() }}</td>
                            <td></td>
                        </tr>
                    {%- else -%}
                        <tr>
                            <td colspan="6">{{ _('Filtered users not found list message') if filtered_list else _('No added users list message') }}</td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    </form>
{%- endblock %}

{% macro render_user_status(status, is_system) -%}
    {% if status -%}
        <i class="{{ 'glyphicon glyphicon-user' if is_system else 'glyphicon glyphicon-user' }} text-success"></i>
    {%- else -%}
        <i class="{{ 'glyphicon glyphicon-user' if is_system else 'glyphicon glyphicon-user' }} text-warning"></i>
    {%- endif %}
{%- endmacro %}