<!DOCTYPE html>
{% block htmltag %}<html>{% endblock %}
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}
        {% block css %}{% endblock %}
        {% block js %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>

    {% block bodytag %}<body>{% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>