{% extends "base.html" %}

{% block title %}Kärcher{% endblock %}

{% block css -%}
    {% if editable -%}
        {% assets 'css_front_with_admin_common' -%}
            <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" media="all" />
        {%- endassets %}
    {%- else -%}
        {% assets 'css_front_common' -%}
            <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" media="all" />
        {%- endassets %}
    {%- endif %}
    <!--[if IE 9]>
        {% assets 'css_ie9_common' -%}
            <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" media="all" />
        {%- endassets %}
    <![endif]-->
{%- endblock %}

{% block js -%}
    {% if editable -%}
        {% assets 'js_front_with_admin_common' -%}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {%- endassets %}
    {%- else -%}
        {% assets 'js_front_common' -%}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {%- endassets %}
    {%- endif %}
{%- endblock %}

{% block body %}
    {% block fixedbar %}

        <div class="toolbar">
            <div class="toolbar-content">
                <div class="toolbar-content-left common-wrapper_left">
                    {# add current class to .toolbar-link #}
                    <div class="toolbar-link language-toggle">
                        <img class="toolbar-link-img toolbar-link-img--left" alt="" src="{{ url_for('static', filename='images/language/ru.gif') }}" height="12"> РФ
                        <div class="language-list">
                            <ul>
                                <li><a href="#">EN</a></li>
                                <li><a href="#">DE</a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="toolbar-link" href="https://fleet.kaercher.com/" target="_blank">Личный кабинет<img class="toolbar-link-img toolbar-link-img--right" alt="" src="{{ url_for('static', filename='images/lock.png') }}" width="10" height="12" /></a>
                </div>

                <div class="toolbar-content-right common-wrapper_right">
                    {% if g.service_nav -%}
                        {% for group in g.service_nav -%}
                        <a class="toolbar-link" href="{{ group.group_url }}"
                            {{ ' target=_blank' if group.link_blank and group.behavior_ == 'Link' else '' }}>{{ group.caption }}</a>
                        {%- endfor %}
                    {%- endif %}
                    <form class="toolbar-search" action="#" method="get">
                        <input class="toolbar-search-input" type="search" placeholder="Мойки" size="17" />
                        <button class="toolbar-search-button" type="submit">
                            <img alt="" src="{{ url_for('static', filename='images/search.png') }}" width="15" height="15" /></button>
                    </form>
                </div>

                {#
                <div class="toolbar-right common-wrapper_right">
                    <a class="toolbar-link" href="#">Мойки Керхер</a>
                    <a class="toolbar-link" href="{{ url_for('contacts') }}">Контакты</a>
                    <!-- Временно убрана форма поиска -->
                    <form class="toolbar-search" action="#" method="get">
                        <input class="toolbar-search-input" type="search" placeholder="Мойки" size="17" />
                        <button class="toolbar-search-button" type="submit">
                            <img alt="" src="{{ url_for('static', filename='images/search.png') }}" width="15" height="15" /></button>
                    </form>
                </div>
                #}

            </div>
        </div>

        <header class="header">
            <div class="header-content">
                <div class="header-content-left common-wrapper_left">
                    <a href="/"><img class="header-logo" alt="Karcher" src="{{ url_for('static', filename='images/logo.png') }}" /></a>
                    {#<span class="header-title">Мойки самообслуживания</span>#}
                </div>
                <div class="header-content-right common-wrapper">
                    {% include "elements/menu_header.html" %}
                </div>
            </div>
        </header>

        <div class="fixedbar_fake"></div>
    {% endblock %}

    {% block page %}{% endblock %}

    {% block footer %}
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-content-left common-wrapper_left">
                <img class="footer-logo" alt="Karcher" src="{{ url_for('static', filename='images/logo.png') }}" />
                <div class="footer-copy common-nowrap">© 2015 Керхер Россия.<br />Все права защищены</div>
            </div>
            <div class="footer-content-center common-wrapper">
                {% include "elements/menu_footer.html" %}
            </div>
            <div class="footer-content-right common-wrapper_right">
                <div class="footer-phone">
                    <div class="footer-phone-label">Телефон горячей линии:</div>
                    <div class="footer-phone-number">8-800-1000-654</div>
                </div>
                {# temporarily
                <div class="footer-social">
                {% set social = ["f", "t", "g", "y"] %}
                {% for item in social -%}
                    {%- set filename = 'images/social/' + item + '.png' -%}
                    <a class="footer-social-item" href="#"><img alt="" src="{{ url_for('static', filename=filename) }}" width="33" height="33" /></a>
                {%- endfor %}
                </div>
                #}
            </div>
        </div>
    </footer>
    {% endblock %}
{% endblock %}
