{% extends 'common.html' %}

{% block title %}{{ page_data.page.meta_title if page_data.page.meta_title else super() }}{% endblock %}
{% block meta -%}
    {% if page_data.page.meta_description -%}
        <meta name="description" content="{{ page_data.page.meta_description }}" />
    {%- endif %}
    {% if page_data.page.meta_keywords -%}
        <meta name="keywords" content="{{ page_data.page.meta_keywords }}" />
    {%- endif %}
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    {% if editable -%}
        <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
        <script type="text/javascript">
            var AJAX_CONTENTEDITABLE_URL = {{ url_for('admin.ajaxapi_page_content_save', page_id=page_data.page_id)|safe|tojson }};
            var AJAX_STATUS_UNCHANGED_TEXT = {{ _('No changes state message')|safe|tojson }};
        	var AJAX_STATUS_CHANGED_TEXT = {{ _('Changed state message')|safe|tojson }};
        	var AJAX_STATUS_SAVING_TEXT = {{ _('Changes saving state message')|safe|tojson }};
        	var AJAX_STATUS_SAVED_TEXT = {{ _('Changes saved state message')|safe|tojson }};
        	var AJAX_STATUS_ERROR_TEXT = {{ _('Error saving changes state message')|safe|tojson }};
        </script>
        <script src="{{ url_for('admin.static', filename='js/ce_functions.js') }}"></script>
        {# <script src="{{ url_for('static', filename='js/scroll.js') }}"></script> #}
    {%- else -%}
        {# <script src="{{ url_for('static', filename='js/scroll.js') }}"></script> #}
    {%- endif %}
{%- endblock %}

{% block fixedbar %}
    {% if editable -%}
        {% with navigation_content_options=True -%}
            {% include 'admin/navigation.html' %}
        {%- endwith %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block footer %}
    {% if not editable -%}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block page -%}
    {% block content %}
        {{ block_collection|safe }}

        {# include "elements/blocks/templates_only/fotorama.html" #}
        {# include "elements/blocks/how.html" #}
        {# include "elements/blocks/hd1im1tx1l.html" #}
        {# include "elements/blocks/gallery.html" #}

        {#
        <div class="page">
            <div class="page-content common-align_bottom">
                {% include "elements/blocks/calculator.html" %}
            </div>
        </div>

        <div class="page">
            <div class="page-content">
                {% include "elements/blocks/tx4inim1.html" %}
            </div>
        </div>

        <div class="page">
            <div class="page-content ">
                {% include "elements/blocks/common_tabs.html" %}
                {% set prefix="content" %}
                {% include "elements/blocks/common_tabs.html" %}
                {% set prefix="icons" %}
                {% include "elements/blocks/common_tabs.html" %}
                {% set prefix="metroline" %}
                {% include "elements/blocks/common_tabs.html" %}
            </div>
        </div>

        <div class="page">
            <div class="page-content common-align_top">
                {% include "elements/blocks/calculate.html" %}
            </div>
        </div>

        <div class="page">
            <div class="page-content common-align_top">
                {% include "elements/blocks/faq.html" %}
            </div>
        </div>

        {#{% include "elements/blocks/metroline_vertical.html" %}#}
        {# {% include "elements/blocks/product.html" %} #}
        {# {% include "elements/blocks/tech_clean.html" %} #}
        {#{% include "elements/blocks/metroline_vertical.html" %}#}
        {#{% include "elements/blocks/tech.html" %}#}
        {#{% include "elements/blocks/map.html" %}#}

        {#{% include "elements/blocks/news.html" %}#}
        {#{% include "elements/blocks/where.html" %}#}
        {#{% include "elements/blocks/washers.html" %}#}
    {%- endblock %}
{%- endblock %}
