{% extends "base.html" %}

{% block title %}New Project{% endblock %}

{% block css -%}
    {% if editable -%}
        {% assets 'css_front_with_admin_common' -%}
            <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" media="all" />
        {%- endassets %}
    {%- else -%}
        {% assets 'css_front_common' -%}
            <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" media="all" />
        {%- endassets %}
    {%- endif %}
{%- endblock %}

{% block js -%}
    {% if editable -%}
        {% assets 'js_front_with_admin_common' -%}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {%- endassets %}
    {%- else -%}
        {% assets 'js_front_common' -%}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {%- endassets %}
    {%- endif %}
{%- endblock %}

{% block body %}
{% endblock %}
