{% extends 'common.html' %}

{% block js -%}
    {{ super() }}
    {% if editable -%}
        <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
        <script type="text/javascript">
            var AJAX_CONTENTEDITABLE_URL = {{ url_for('admin.ajaxapi_page_content_save', page_id=page_data.page_id)|safe|tojson }};
            var AJAX_STATUS_UNCHANGED_TEXT = {{ _('No changes state message')|safe|tojson }};
        	var AJAX_STATUS_CHANGED_TEXT = {{ _('Changed state message')|safe|tojson }};
        	var AJAX_STATUS_SAVING_TEXT = {{ _('Changes saving state message')|safe|tojson }};
        	var AJAX_STATUS_SAVED_TEXT = {{ _('Changes saved state message')|safe|tojson }};
        	var AJAX_STATUS_ERROR_TEXT = {{ _('Error saving changes state message')|safe|tojson }};
        </script>
        <script src="{{ url_for('admin.static', filename='js/ce_functions.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    {%- else -%}
        <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    {%- endif %}
{%- endblock %}

{% block body -%}
    {% if editable -%}
        {% with navigation_content_options=True -%}
            {% include 'admin/navigation.html' %}
        {%- endwith %}
    {% endif %}
    <div class="page">
        {% block content %}
            {{ block_collection|safe }}
        {%- endblock %}
    </div>
{%- endblock %}