body {
    font-family: 'Roboto', sans-serif;
}

#ajax_indicator {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.85);
    z-index: 1000;
    text-align: center;
}
#ajax_indicator > img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.fixedbar_fake {
    height: 12.8rem; /* header_height (9rem) + toolbar_height (3.8rem) */
}
.scrolline {
    padding-top: 12.8rem;
}
.fixedbar_fake + .page {
    margin-top: -12.8rem;
}
.fixedbar_fake + .page > .page-content {
    padding-top: 12.8rem;
}
body > .page {
    margin-top: -9rem;
}
body > .page > .page-content {
    padding-top: 9rem;
}
.indentblock {
    display: none;
}

.header {
    position: absolute;
    top: 3.8rem;
    left: 0;
    right: 0;
    background: #ffffff;
    border-bottom: 1px #c6c6c6 solid;
    z-index: 150;
}
.header-content {
    display: table;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}
.header-content-left,
.header-content-right {
    display: table-cell;
    vertical-align: middle;
    height: 9rem;
}

.header-title {
    font-size: 2em;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.65em;
}
.header-logo {
    height: 2.5em;
    padding-right: 1em;
    vertical-align: middle;
}

.header-menu {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    margin: 0 0 0 auto;
    font-size: 1em;
}
.header-menu-item {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    height: 9em;
    color: #000;
    text-decoration: none;
    border: 1px #fff solid;
    box-sizing: border-box;
    line-height: normal;
}
.header-menu-item-cell {
    display: table;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.header-menu-item-cell:hover {
    background: #eeeeee;
}
.header-menu-item-cell--link {
    color: inherit;
    text-decoration: none;
}
.header-menu-item-cell-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.8rem;
    font-weight: 500;
}

.header-menu-item-cell--label > .header-menu-item-cell-text:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0.7rem;
    height: 0.5rem;
    background: url({{ url_for('static', filename='images/arrows.png') }}) 0% 0% no-repeat;
    background-size: 100% auto;
    margin-left: 0.3em;
}
.header-menu-item-radio {
    position: fixed;
    right: 150%;
}
.header-menu-item-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eeeeee;
    padding: 3em;
    border-collapse: separate;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    text-align: left;
    overflow: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header-menu-item-content-right {
    float: right;
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: -4.5em;
}
.header-menu-item-radio:checked + .header-menu-item-content {
    display: block;
}
.header-menu-item-radio:checked ~ .header-menu-item-cell--label {
    background: #eeeeee;
}
.header-menu-item-radio:checked ~ .header-menu-item-cell--label > .header-menu-item-cell-text:after {
    background-position: 0 100%;
}
.header-menu-item-radio:checked ~ .header-menu-item-cell--current,
.header-menu-item-cell--current:hover,
.header-menu-item-cell--current {
    background: #ffeb00;
}

.fixedbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.footer {
    border-top: 1px #c6c6c6 solid;
    background: #eeeeee;
    padding: 4em 0;
}
.footer-content {
    display: table;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.footer-content-left,
.footer-content-center,
.footer-content-right {
    display: table-cell;
    vertical-align: top;
}
.footer-content-center {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer-logo {
    height: 2.5em;
    padding-right: 2em;
}
.footer-copy {
    margin-top: 1.5em;
    font-size: 1.2em;
    line-height: 1.5;
}
.footer-social {
    margin-top: 2.5em;
    white-space: nowrap;
}
.footer-social-item + .footer-social-item {
    margin-left: 0.5em;
}

.footer-phone-label {
    font-size: 1em;
    font-weight: 500;
    color: #474747;
    margin-bottom: 0.3em;
}
.footer-phone-number {
    font-size: 2em;
    font-weight: 500;
    white-space: nowrap;
}

.footer-menu {
    display: table;
    width: 100%;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}
.footer-menu-item {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}
.footer-menu-item-wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.footer-menu-group {
    list-style: none;
    margin: 1.1em 0 0 0;
    font-size: 1em;
    font-weight: normal;
}
.footer-menu-group-item {
    margin: 0.6em 0 0 0;
}
.footer-menu-item-name,
.footer-menu-item-link {
    font-size: 1.4em;
    font-weight: 500;
    color: inherit;
}
.footer-menu-group-item-link {
    font-size: 1.2em;
    color: #5e5e5e;
}
.footer-menu-item-link,
.footer-menu-group-item-link {
    text-decoration: none;
}
.footer-menu-item-link:hover,
.footer-menu-group-item-link:hover {
    text-decoration: underline;
}

.toolbar {
    background: #eeeeee;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 155;
}
.toolbar-content {
    display: table;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.toolbar-content-left,
.toolbar-content-right {
    display: table-cell;
    vertical-align: middle;
    height: 3.8rem;
}
.toolbar-content-right {
    text-align: right;
}
.toolbar-link {
    color: #474747;
    font-size: 1.2em;
    font-weight: 500;
    display: inline-block;
    vertical-align: baseline;
}
.current.toolbar-link {
    color: #000000;
}
.disabled.toolbar-link {
    color: #989898;
    cursor: default; /* for ie9-10 */
    text-decoration: none !important; /* for ie9-10 */
    pointer-events: none;
}
.toolbar-link + .toolbar-link {
    margin-left: 2.5em;
}
.toolbar-link-img {
    vertical-align: baseline
}
.toolbar-link-img--left {
    margin-right: 0.8rem;
}
.toolbar-link-img--right {
    margin-left: 0.8rem;
}
.toolbar-search {
    background: #ffffff;
    display: inline-block;
    vertical-align: baseline;
    margin-left: 3rem;
}
.toolbar-search-input,
.toolbar-search-button {
    border: none;
    height: 2em;
    line-height: 2em;
    padding: 0 0.5em;
    font-size: 1.2em;
    outline: none;
}

.blockmenu {
    display: inline-table;
    vertical-align: top;
    color: #000000;
    margin: 1.5em;
    background: url({{ url_for('static', filename='images/menu/b1.jpg') }}) 0% 0% no-repeat;
    background-size: cover !important;
    position: relative;
}
:hover.blockmenu {
    text-decoration: none;
    color: #ffffff;
}
:hover.blockmenu > .blockmenu-content {
    background: none !important;
}
.blockmenu-content {
    display: table-cell;
    vertical-align: middle;
    /*
    width: 28.4rem;
    height: 10.7rem;
    */
    width: 25.8rem;
    height: 9.7rem;
    padding-left: 1.8em;
    padding-right: 11rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url({{ url_for('static', filename='images/menu/a1.jpg') }}) 0% 0% no-repeat;
    background-size: cover !important;
}
.blockmenu-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 12rem;
    overflow: visible;
    text-align: right;
}
.blockmenu-icon-image {
    vertical-align: top;
    width: 100%;
}
.blockmenu-title {
    display: block;
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.2;
    position: relative;
}
.blockmenu-summary {
    display: block;
    font-size: 1.2em;
    line-height: 1.2;
    margin-top: 0.75em;
    position: relative;
}

.blockimenu {
    display: inline-table;
    vertical-align: top;
    color: #000000;
    margin: 3em 2em 0 1.5em;
}
.blockimenu-icon,
.blockimenu-label {
    display: table-cell;
    vertical-align: middle;
}
.blockimenu-icon {
    width: 60px;
    height: 60px;
    background: url({{ url_for('static', filename='images/menu/bg_icon.png') }}) 0% 0% no-repeat;
    text-align: center;
    padding-right: 1em;
}
.blockimenu-label {
    font-size: 1.2em;
    font-weight: 500;
}

.blockcalc {
    color: #000000;
    display: block;
    width: 220px;
    position: relative;
}
.blockcalc-image {
    max-width: 100%;
    vertical-align: bottom;
}
.blockcalc-label {
    font-size: 1.4em;
    font-weight: 500;
    background: #ffeb00;
    display: block;
    position: absolute;
    top: 23%;
    left: 0; 
    right: 0;
    padding: 1.25em;
    margin-left: -1.75em;
}

.blockcategory {
    margin-right: -0.5em;
    margin-bottom: 5em;
}
.blockcategory > h4 {
    margin-top: 0;
}

.blockproduct {
    display: inline-block;
    vertical-align: top;
    background: #ffffff;
    color: #000000;
    text-align: center;
    margin: 0.5em 0.5em 0 0;
    position: relative;
}
:hover.blockproduct {
    text-decoration: none;
}
.blockproduct-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
:hover.blockproduct > .blockproduct-bg {
    background: rgba(255, 236, 1, 0.7);
}
.blockproduct-content {
    display: table;
    table-layout: fixed;
    width: 180px;
    height: 180px;
}
.blockproduct-content-row {
    display: table-row;
}
.blockproduct-content-row-cell {
    display: table-cell;
    vertical-align: middle;
}
.blockproduct-content-row-cell--caption {
    height: 5em;
    vertical-align: top;
}
.blockproduct-image {
    vertical-align: bottom;
    max-width: 100%;
}
.blockproduct-label {
    font-size: 1.2em;
    line-height: 1.34;
    font-weight: 500;
    padding: 0 0.25em;
    position: relative;
}
