/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url({{ url_for('static', filename='images/fonts/Roboto/regular/Roboto-Regular-webfont.eot') }});
    src: local('Roboto Regular'),
         url({{ url_for('static', filename='images/fonts/Roboto/regular/Roboto-Regular-webfont.eot') }}) format('embedded-opentype'),
         url({{ url_for('static', filename='images/fonts/Roboto/regular/Roboto-Regular-webfont.woff') }}) format('woff'),
         url({{ url_for('static', filename='images/fonts/Roboto/regular/Roboto-Regular-webfont.ttf') }}) format('truetype'),
         url({{ url_for('static', filename='images/fonts/Roboto/regular/Roboto-Regular-webfont.svg') }}) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url({{ url_for('static', filename='images/fonts/Roboto/italic/Roboto-Italic-webfont.eot') }});
    src: local('Roboto Italic'),
         url({{ url_for('static', filename='images/fonts/Roboto/italic/Roboto-Italic-webfont.eot') }}) format('embedded-opentype'),
         url({{ url_for('static', filename='images/fonts/Roboto/italic/Roboto-Italic-webfont.woff') }}) format('woff'),
         url({{ url_for('static', filename='images/fonts/Roboto/italic/Roboto-Italic-webfont.ttf') }}) format('truetype'),
         url({{ url_for('static', filename='images/fonts/Roboto/italic/Roboto-Italic-webfont.svg') }}) format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url({{ url_for('static', filename='images/fonts/Roboto/bold/Roboto-Bold-webfont.eot') }});
    src: local('Roboto Bold'),
         url({{ url_for('static', filename='images/fonts/Roboto/bold/Roboto-Bold-webfont.eot') }}) format('embedded-opentype'),
         url({{ url_for('static', filename='images/fonts/Roboto/bold/Roboto-Bold-webfont.woff') }}) format('woff'),
         url({{ url_for('static', filename='images/fonts/Roboto/bold/Roboto-Bold-webfont.ttf') }}) format('truetype'),
         url({{ url_for('static', filename='images/fonts/Roboto/bold/Roboto-Bold-webfont.svg') }}) format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url({{ url_for('static', filename='images/fonts/Roboto/bolditalic/Roboto-BoldItalic-webfont.eot') }});
    src: local('Roboto Bold Italic'),
         url({{ url_for('static', filename='images/fonts/Roboto/bolditalic/Roboto-BoldItalic-webfont.eot') }}) format('embedded-opentype'),
         url({{ url_for('static', filename='images/fonts/Roboto/bolditalic/Roboto-BoldItalic-webfont.woff') }}) format('woff'),
         url({{ url_for('static', filename='images/fonts/Roboto/bolditalic/Roboto-BoldItalic-webfont.ttf') }}) format('truetype'),
         url({{ url_for('static', filename='images/fonts/Roboto/bolditalic/Roboto-BoldItalic-webfont.svg') }}) format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url({{ url_for('static', filename='images/fonts/Roboto/medium/Roboto--webfont.eot') }});
    src: local('Roboto Medium'),
         url({{ url_for('static', filename='images/fonts/Roboto/medium/Roboto-Medium-webfont.eot') }}) format('embedded-opentype'),
         url({{ url_for('static', filename='images/fonts/Roboto/medium/Roboto-Medium-webfont.woff') }}) format('woff'),
         url({{ url_for('static', filename='images/fonts/Roboto/medium/Roboto-Medium-webfont.ttf') }}) format('truetype'),
         url({{ url_for('static', filename='images/fonts/Roboto/medium/Roboto-Medium-webfont.svg') }}) format('svg');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url({{ url_for('static', filename='images/fonts/Roboto/bolditalic/Roboto-MediumItalic-webfont.eot') }});
    src: local('Roboto Medium Italic'),
         url({{ url_for('static', filename='images/fonts/Roboto/mediumitalic/Roboto-MediumItalic-webfont.eot') }}) format('embedded-opentype'),
         url({{ url_for('static', filename='images/fonts/Roboto/mediumitalic/Roboto-MediumItalic-webfont.woff') }}) format('woff'),
         url({{ url_for('static', filename='images/fonts/Roboto/mediumitalic/Roboto-MediumItalic-webfont.ttf') }}) format('truetype'),
         url({{ url_for('static', filename='images/fonts/Roboto/mediumitalic/Roboto-MediumItalic-webfont.svg') }}) format('svg');
    font-weight: 500;
    font-style: italic;
}
/* END Roboto */

@font-face {
    font-family: 'Rouble Sans';  
    src: url({{ url_for('static', filename='images/fonts/rouble.eot') }});  
    src: local('Rouble Sans'),
         url({{ url_for('static', filename='images/fonts/rouble.eot') }}) format('embedded-opentype'),
         url({{ url_for('static', filename='images/fonts/rouble.woff') }}) format('woff'),
         url({{ url_for('static', filename='images/fonts/rouble.ttf') }}) format('truetype');
}

.rub {
    font-family: 'Rouble Sans', sans-serif;
}


header,
footer,
article,
nav,
section {
    display: block;
}

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    border-collapse: collapse;
}

a {
    color: #2d86c2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active,
a:focus {
    outline: none;
}

img {
    vertical-align: middle;
    border: none;
}

h1 {
    font-size: 3.5rem;
    color: #000000;
    font-weight: bold;
    background: #ffec01;
    padding: 2.5rem 4rem;
}
h2 {
    font-size: 3.5rem;
    color: #000000;
    font-weight: bold;
    margin: 0.75em 0;
}
h3 {
    font-size: 2.7rem;
    color: #000000;
    font-weight: bold;
    margin: 0.75em 0;
}
h4 {
    font-size: 2rem;
    line-height: normal;
    color: #000000;
    font-weight: 500;
    margin: 0.75em 0;
}
h5 {
    font-size: 1.4rem;
    line-height: normal;
    color: #000000;
    font-weight: 500;
    margin: 0.75em 0;
}
h6 {
    font-size: 1.2rem;
    line-height: normal;
    color: #000000;
    font-weight: 500;
    margin: 0.75em 0;
}

.common-float_right.blocknote {
    margin-left: 10%;
}
.common-float_left.blocknote {
    margin-right: 10%;
}

.blockmarker {
    background: #ffec01;
    padding: 0.5rem 2.5rem;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
}
.blocknote {
    color: #5e5e5e;
    padding-left: 2rem;
    width: 20em;
    box-sizing: border-box;
}
.blocknote > h6:first-child {
    margin-left: -2rem;
    background: #ffec01;
    padding: 0.65em;
    padding-left: 2rem;
    margin-top: 36px;
}
.blocknote--left_top,
.blocknote--left_bottom {
    padding-left: 10rem;
    padding-right: 2rem;
    width: 34em;
}
.blocknote--left_top {
    margin-bottom: 5em;
}
.blocknote--left_bottom {
    margin-top: 5em;
}
.blocknote--left_top > h6:first-child,
.blocknote--left_bottom > h6:first-child {
    margin-left: -10rem;
    padding-left: 10rem;
    margin-right: -2rem;
    padding-right: 2rem;
}
.blocknote--right_top,
.blocknote--right_bottom {
    padding-right: 4rem;
    width: 30em;
    margin-right: 0;
    margin-left: auto;
}
.blocknote--right_top {
    margin-bottom: 5em;
}
.blocknote--right_bottom {
    margin-top: 5em;
}
.blocknote--right_top > h6:first-child,
.blocknote--right_bottom > h6:first-child {
    margin-right: -4rem;
    padding-right: 4rem;
}
.blocknote > p {
    font-size: 1.2em;
    font-style: italic;
    margin: 0;
}

.blocksummary {
    font-size: 1.2em;
}
.blocksummary > ul,
.blocksummary > ol {
    font-size: inherit;
}
.blocksummary > p {
    font-size: inherit;
    margin-bottom: 0;
}

.blockcenter {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 12em;
    margin-top: -6em;
    display: table;
    z-index: 2;
}
.blockcenter-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.blockcenter-cell-content {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    background: #ffffff;
    border: 2px #ffec01 solid;
    padding: 0 3em;
}
.blockcenter-cell-content > h2 {
    margin: 0.5em 0;
}
.has_centered_image .blockcenter {
    margin-top: -117px;
}
.has_centered_image .blockcenter-cell-content,
.has_centered_image .blockcenter-cell-content > img {
    border-radius: 50%;
    padding: 0;
}
.has_centered_image .blocksummary--top_left,
.has_centered_image .blocksummary--bottom_left {
    padding-right: 10em;
}
.has_centered_image .blocksummary--top_right,
.has_centered_image .blocksummary--bottom_right {
    padding-left: 10em;
}


.blocksplit {
    text-align: center !important;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    height: 100%;
}
.blocksplit-bg {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    height: 480px;
    background: url({{ url_for('static', filename='images/overshadow.png') }}) 0% 0% repeat-x;
}
.blocksplit-darken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    cursor: pointer;
    background: rgba(0,0,0,0.5);
}
.current > .blocksplit-darken,
.blocksplit-darken:hover {
    background: transparent;
}
.blocksplit-arrow {
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 50%;
    height: 90px;
    line-height: 90px;
    cursor: pointer;
}
.blocksplit-arrow-image {
    vertical-align: middle;
}
.blocksplit-text {
    color: #ffffff;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 4rem;
    padding-bottom: 90px;
}
.blocksplit-text > h2 {
    font-size: 4.8em;
    font-weight: 300;
    color: #ffec01;
    margin: 0;
    margin-bottom: 0.5em;
}
.blocksplit-text > p {
    font-size: 2.2em;
    line-height: 1.2;
    margin-top: 0.25em;
    margin-bottom: 0;
    padding-right: 1px; /* render ie */
}
.blocksplit-text > p > big {
    color: #ffec01;
    font-weight: normal;
}


.blockhow {
    min-height: 240px;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.blockhow-cell--arrow {
    width: 7rem;
    cursor: default;
}
.blockhow-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 233, 1, 0.9);
    padding: 2em 2.2em;
}
.blockhow-content > h4 {
    margin: 0;
}
.blockhow-content-text {
    height: 0;
    font-size: 1.2em;
    line-height: 1.5;
    color: #474747;
    overflow: hidden;
}
.blockhow:hover .blockhow-content-text {
    margin-top: 0.5em;
    height: auto;
}

.gotosite {
    display: block;
    max-width: 600px;
    padding-top: 1.2em;
    padding-left: 25px;
    text-align: center;
}
.gotosite:hover {
    text-decoration: none;
}
.gotosite-item {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    max-width: 160px;
    color: #000000;
}
.gotosite-top > .gotosite-item {
    vertical-align: bottom;
}
.gotosite-bottom > .gotosite-item {
    vertical-align: top;
}
.gotosite-middle > .gotosite-item {
    color: inherit;
    text-align: left;
}
.gotosite-top {
    margin-top: -1.2em;
    margin-left: -25px;
    padding-right: 60px;
}
.gotosite-top,
.gotosite-bottom {
    text-align: justify;
}
.gotosite-top:after,
.gotosite-bottom:after {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    width: 100%;
    height: 0;
    font-size: 0;
    overflow: hidden;
}
.gotosite-item-image {
    max-width: 100%;
    vertical-align: bottom;
}
.gotosite-item-label {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0.5em 0;
}

.mainslider,
.mainslider > .fotorama__wrap,
.mainslider > .fotorama__wrap > .fotorama__stage {
    height: 100% !important;
}
.mainslider-item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    border-top: 1px transparent solid;
}
.mainslider-item-wrapper {
    display: table;
    height: 100%;
    min-width: 50%;
}
.mainslider-item-content {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding: 7em;
}
.mainslider-item-text {
    font-size: 3em;
    line-height: 1.5;
    display: inline-block;
    text-align: left;
}

.fotorama--with_border {
    overflow: visible;
}
.fotorama--with_border .fotorama__stage {
    border: 3px solid #eee;
}
.fotorama--with_border .fotorama__thumb::after {
    border: 3px solid #eee;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.fotorama--fullscreen .fotorama__nav,
.fotorama--fullscreen .fotorama__stage {
    background: #ffffff;
}
.fotorama__nav--dots .fotorama__nav__frame {
    width: 21px;
    height: 30px;
}
.fotorama__dot {
    width: 1px;
    height: 1px;
    border: 7px #ffffff solid;
    background: #ffffff;
    border-radius: 50%;
    top: 7px;
    left: 3px;
}
.fotorama__nav__frame.fotorama__active > .fotorama__dot {
    width: 1px;
    height: 1px;
    border-width: 7px;
    border-color: #ffe901;
    background: #ffe901;
}
.fotorama__nav {
    margin-top: -40px;
    padding-bottom: 10px;
    position: relative;
    z-index: 10;
}
.fotorama__nav--thumbs {
    margin-top: 0;
    padding-bottom: 0;
}
.fotorama__thumb-border {
    background: rgba(255,236,1,0.3);
    border: 2px #ffe901 solid;
}
.fotorama__arr--next,
.fotorama__arr--prev {
     width: 51px;
     height: 51px;
     margin-top: -25px;
     background: none;
 }
.fotorama__arr--next {
    right: 30px;
    background: url({{ url_for('static', filename='images/arrow_right.png') }}) 0% 0% no-repeat;
}
.fotorama__arr--prev {
    left: 30px;
    background: url({{ url_for('static', filename='images/arrow_left.png') }}) 0% 0% no-repeat;
}
.fotorama__wrap {
    margin: 0 auto;
}


ul,
ol {
    font-size: 1.2rem;
    margin: 1em 1em 1.5em;
}
li {
    line-height: 1.5;
    margin: 0.7rem 0;
}
li > h5 {
    margin: 1.8rem 0 0.3rem;
}
li > h4 {
    margin: 2rem 0 0;
}

p + h4,
ul + h4,
ol + h4,
table + h4,
.fotorama + h4 {
    margin-top: 3rem;
}

p {
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 0.75em 0;
}

article:after {
    content: "";
    display: block;
    height: 0;
    font-size: 0;
    overflow: hidden;
    clear: both;
}
.article {
    overflow: hidden;
}
.article img {
    max-width: 100%;
}
.article > ul,
.article > ol {
    font-size: 1.4rem;
    margin: 1em 2.25em 1.5em;
}
.article > p {
    margin: 1.5em 0;
}
.article > p:first-child {
    margin-top: 0;
}
.article--small_margins > p {
    margin: 1em 0;
}
.article b,
.article strong {
    color: #000000;
}

.article > h5 + h2 {
    margin-top: -0.5rem;
    margin-bottom: 2rem;
}

.article table {
    font-size: 1.2em;
    border-collapse: separate;
    border-spacing: 1px;
}
.article th {
    background: #ffec01;
    empty-cells: hide;
    text-align: center;
}
.article th:empty {
    background: none;
}
.article td,
.article th {
    font-weight: 500;
    height: 4.5rem;
    padding: 0 1.8rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.article tbody > tr:nth-child(odd) {
    background: #eeeeee;
}

big {
    color: #000000;
    font-size: 142.86%;
    font-size: 2rem;
    font-weight: 500;
}
small {
    color: #5e5e5e;
    font-size: 85.7%;
    font-size: 1.2rem;
    font-weight: normal;
}

html {
    font-size: 62.5%;
    height: 100%;
}
@media screen and (max-width: 1000px) {
    html {
        font-size: 50%;
    }
}
body {
    font-size: 1em;
    line-height: 1.2;
    background: #ffffff;
    color: #000000;
    position: relative;
    height: 100%;
    min-width: 800px;
    overflow-x: auto;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-height: 1080px) {
    .blocksplit {
        height: calc(990px - 18.8rem);
    }
    .blocksplit-arrow {
        position: static;
        width: auto;
    }
    .indentblock {
        display: block;
    }
    .page--auto {
        height: 1080px !important;
    }
}
.disabled.page {
    display: none;
}
body > .page {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.page {
    font-family: 'Roboto', sans-serif;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #ffffff;
}
.page-content {
    display: table-cell;
    vertical-align: top;
    text-align: left;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page--with_scrolline > .page-content {
    padding-left: 40%;
    border-bottom: 2px #c5c7c6 solid;
}

body.move_on_scroll-noscroll {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}
.move_on_scroll-test {
    visibility: hidden;
    width: 100px;
    overflow: scroll;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: top;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.table-cell--indent {
    width: 2em;
}

div.content {
    display: table;
}
.content {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
div.content-row {
    display: table-row;
}
.content-row {
    width: 100%;
}
div.content-column,
div.content-row-cell {
    display: table-cell;
}
.content-column,
.content-row-cell {
    vertical-align: top;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content-row-cell--indent {
    width: 2em;
}
.content-row-cell--footer {
    background: #ffec01;
    height: 8em;
    vertical-align: middle;
}
.content-row-cell--header {
    font-size: 2.5em;
    background: #ffec01;
    height: 2.5em;
    vertical-align: middle;
    text-align: center;
}
.content-row-cell--header > p {
    margin: 0;
}
.title {
    font-size: 2.5rem;
    background: #ffec01;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    position: relative;
    z-index: 6;
}
.title > p {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}
.content-block {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.contentmenu {
    background: #eeeeee;
    border-top: 2px #fff solid;
    border-bottom: 2px #fff solid;
}
.contentmenu-items {
    display: table;
    table-layout: fixed;
}
.contentmenu-items-item {
    height: 4.6rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 1.4em;
    border-left: 2px #ffffff solid;
    border-right: 2px #ffffff solid;
    font-size: 1.4em;
    font-weight: 500;
    color: #5e5e5e;
    cursor: pointer;
}
.current.contentmenu-items-item {
    color: #000000;
    background: #ffec01;
}
.contentmenu-items-item h2 {
    color: inherit;
}

.cleanup:after {
    content: "";
    display: block;
    font-size: 0;
    overflow: hidden;
    height: 0;
    clear: both;
}
.cleanup {
    width: 30rem;
    display: inline-block;
    vertical-align: top;
    margin: 0 4rem 8rem 0;
}
.cleanup-preview {
    float: left;
    margin-right: 2rem;
}
.cleanup-name,
.cleanup-text {
    overflow: hidden;
}
.cleanup-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 1.5rem;
}
.cleanup-text {
    font-size: 1.2rem;
    line-height: 1.5;
}

.big_gallery {
    margin: 1rem -1rem;
}
.big_gallery-item {
    display: inline-block;
    vertical-align: bottom;
    margin: 1rem;
    position: relative;
}
.big_gallery-item[href^=http]:after {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url({{ url_for('static', filename='images/bg_video.png') }}) 0 0 no-repeat;
}
.big_gallery-item-preview {
    vertical-align: bottom;
}

.gallery {
    margin: 0 -1em;
}
.gallery-item {
    display: inline-block;
    vertical-align: bottom;
    margin: 1em;
    outline: 1px #ccc solid;
    position: relative;
}
.gallery-item[href^=http]:after {
    content: "";
    display: block;
    width: 96px;
    height: 96px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -48px;
    margin-top: -48px;
    background: url({{ url_for('static', filename='images/fotorama.png') }}) 0px -64px no-repeat;
}
.gallery-item-preview {
    vertical-align: bottom;
}

.calculator {
    position: relative;
    overflow: hidden;
}
.calculator-wrapper {
    padding-left: 9em;
    padding-right: 9em;
}
.calculator-content {
    width: 52%;
}
.calculator-preview {
    position: absolute;
    top: 0;
    left: 52%;
    margin-top: 3em;
    margin-left: 9em;
}
.calculator-footer {
    background: #ffec01;
    padding-top: 1px;
    padding-bottom: 1px;
}


.tabs-head {
    display: table;
    font-size: 1.2em;
    border-collapse: separate;
    border-spacing: 2px;
}
.tabs-head-item {
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
    height: 4.5rem;
    min-width: 11rem;
    padding: 0 1.5rem;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #eeeeee;
    cursor: pointer;
}
.current.tabs-head-item {
    background: #ffec01;
}
.css-tabs-select + .css-tabs-item {
    display: none;
}
.css-tabs-select:checked + .css-tabs-item {
    display: block;
}
.css-tabs-select:checked + .content.css-tabs-item {
    display: table;
}
.css-tabs-select {
    position: fixed;
    right: 200%;
}
.css-tabs-item > .page:first-child > .page-content {
    padding-top: 4rem;
}
.css-tabs-item > .page > .page-content {
    padding-top: 0;
}


.scrolline {
    width: 40%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    z-index: 199;
}
.scrolline-wrapper {
    height: 100%;
    overflow: auto;
}
.scrolline-content {
    display: table;
    height: 100%;
}
.scrolline-content-row {
    display: table-row;
}
.scrolline-content-row-cell {
    display: table-cell;
    vertical-align: middle;
}
.scrolline-content-row-cell--border_left {
    border-left: 2px #c5c7c6 solid;
}
.scrolline-name {
    font-size: 1.4em;
    line-height: 1.5;
    color: #000000;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2.8rem;
    max-width: 24rem;
}
.current .scrolline-icon {
    border-color: #ffec01;
}
.scrolline-icon {
    border-radius: 50%;
    border: 2px #c5c7c6 solid;
    padding: 3px;
    background: #ffffff;
    vertical-align: middle;
}
.scrolline-num {
    border: 0.2rem #c5c7c6 solid;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -1.7rem;
    position: relative;
}
.current .scrolline-num-inner {
    background: #ffec01;
    color: #000000;
}
.scrolline-num-inner {
    width: 2.6rem;
    height: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    font-size: 1.6em;
    color: #ffffff;
    font-weight: bold;
    background: #303030;
    border: 0.2rem #ffffff solid;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.scrolline-line {
    width: 20px;
    height: 2px;
    overflow: hidden;
    font-size: 0;
    background: #c5c7c6;
    display: inline-block;
    vertical-align: middle;
}

.metroline {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    margin-top: 5rem;
}
.metroline-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: 500;
    color: #5e5e5e;
    border-bottom: 2px #ffec01 solid;
    padding-bottom: 22px;
    position: relative;
    word-wrap: break-word;
    cursor: pointer;
}
.metroline-item-dot:after {
    content: ""; 
    display: block;
    width: 26px;
    height: 26px;
    border: 2px #ffffff solid;
    background: transparent;
    border-radius: 55%;
}
.metroline-item-dot {
    border-radius: 50%;
    display: block;
    border: 2px #c5c7c6 solid;
    background: #ffec01;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17px;
    margin-bottom: -17px;
    z-index: 2;
}
.current.metroline-item {
    font-size: 2rem;
    color: #000000;
    border-bottom-color: #c5c7c6;
}
.current.metroline-item:after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    font-size: 0;
    overflow: hidden;
    background: #ffec01;
    position: absolute;
    left: 0%;
    top: 100%;
    z-index: 1;
}
.current.metroline-item ~ .metroline-item {
    border-bottom-color: #c5c7c6;
}
.current.metroline-item ~ .metroline-item > .metroline-item-dot {
    background: #000000;
}

.labelitem {
    display: table;
    margin-right: -1.4em;
}
.labelitem-text,
.labelitem-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.labelitem-text {
    width: 100%;
}
.labelitem-icon {
    text-align: right;
    vertical-align: bottom;
    padding-left: 1.4em;
}


.calcitem {
    display: table;
    margin: 0.5rem 0;
}
.calcitem-left,
.calcitem-right {
    display: table-cell;
    vertical-align: middle;
}
.calcitem-left {
    padding-right: 1.2rem;
}
.calcitem-preview {
    border-radius: 50%;
    border: 1px rgba(0,0,0,0.4) solid;
}
.calcitem-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: none;
    padding: 0;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

button,
input,
textarea,
select {
    font: inherit;
    color: #000000;
    box-sizing: border-box;
    vertical-align: middle;
    outline: none;
    box-shadow: none;
    border: 2px #d4d4d4 solid;
    border-radius: 2px;
    max-width: 100%;
    background: #ffffff;
}
button,
label[for],
input[type=submit],
input[type=button],
input[type=checkbox],
input[type=radio] {
    cursor: pointer;
}
input[type=checkbox],
input[type=radio] {
    width: auto;
}
fieldset {
    border: none;
}
label {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    vertical-align: middle;
}
input {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
input[size] {
    width: auto;
}
input[type=number] {
    width: 9rem;
}
textarea {
    resize: none;
    overflow-y: scroll;
    padding: 0.5rem 1.2rem;
    line-height: 1.5;
    background: #ffffff;
}
select {
    color: #000000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance:none;
    appearance: none;
    background-image: url({{ url_for('static', filename='images/bg_select.png') }});
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-left: 0.8rem;
    padding-right: 21px;
    cursor: pointer;
}
select::-ms-expand{
  display:none;
}
option {
    color: #000000;
    background: #ffffff;
    padding: 0.5rem 1.2rem;
    padding-right: 0;
}
input,
select {
    height: 3.5rem;
}
input,
textarea {
    width: 100%;
}
input,
select,
textarea {
    font-size: 1.4rem;
}
input:disabled,
select:disabled,
textarea:disabled {
    background: #eeeeee;
}

.timeselect,
.postselect {
    position: fixed;
    right: 200%;
}
.postlabel {
    display: inline-block;
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    background: #ffffff;
    border: 3px #000 solid;
}
.timeselect:checked + .timelabel,
.postselect:checked + .postlabel {
    background: #ffec01;
}
.postselect:disabled + .postlabel {
    border-color: #ababab;
    color: #ababab;
    background: #eeeeee;
    cursor: default;
}

.timelabel {
    display: inline-block;
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background: #ffffff;
    border: 3px #000 solid;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.timelabel-text {
}
.timelabel--8:after,
.timelabel--12:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: #000000;
}
.timelabel--8:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    background: #000000;
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}
.timelabel--8 > .timelabel-text,
.timelabel--12 > .timelabel-text {
    display: block;
    width: 50%;
    margin-right: 0;
    margin-left: auto;
}
.timelabel--8 > .timelabel-text {
    padding-bottom: 30%;
    line-height: 2.8rem;
}

.cnfr {
    padding: 3rem 0;
}
.cnfr-menu {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    overflow: hidden;
}
.cnfr-menu-item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 8rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: #000;
    background: #eeeeee;
    position: relative;
    border-left: 2px #fff solid;
}
.disabled.cnfr-menu-item {
    color: #6b6b6b;
    cursor: default; /* for ie */
    pointer-event: none;
}
.current.cnfr-menu-item {
    background: #ffec01;
}
.cnfr-menu-item:first-child > .cnfr-menu-item-tail {
    display: none;
}
.cnfr-menu-item-tail {
    position: absolute;
    width: 1.6rem;
    height: 100%; 
    top: 0%;
    right: 100%;
}
.cnfr-menu-item-tail--up {
}
.cnfr-menu-item-tail--down {
    margin-right: 2px;
}
.cnfr-menu-item-tail:before,
.cnfr-menu-item-tail:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%; 
    left: 0%;
}
.cnfr-menu-item-tail:before {
    top: 0;
}
.cnfr-menu-item-tail:after {
    bottom: 0;
}
.cnfr-menu-item-tail--down:before {
    background: linear-gradient(to left bottom, #ffffff 50%, transparent 50%);
}
.cnfr-menu-item-tail--down:after {
    background: linear-gradient(to right bottom, transparent 50%, #ffffff 50%);
}
.cnfr-menu-item-tail--up:before {
    background: linear-gradient(to left bottom, #eeeeee 50%, transparent 50%);
}
.cnfr-menu-item-tail--up:after {
    background: linear-gradient(to right bottom, transparent 50%, #eeeeee 50%);
}
.current > .cnfr-menu-item-tail--up:before {
    background: linear-gradient(to left bottom, #ffec01 50%, transparent 50%);
}
.current > .cnfr-menu-item-tail--up:after {
    background: linear-gradient(to right bottom, transparent 50%, #ffec01 50%);
}

.cnfr-row {
    margin-top: 5rem;
}

.cnfr-item {
    display: inline-block;
    vertical-align: top; 
    margin-right: 2rem;
    margin-bottom: 3rem;
}
.cnfr-item--nomargin {
    margin-right: 2px;
    margin-bottom: 2px;
}
.cnfr-item--row {
    display: block;
    margin-right: 0;
    margin-bottom: 2rem;
}
.cnfr-item-select {
    position: fixed;
    right: 200%;
}
.cnfr-item-select:checked + .cnfr-item-count,
.cnfr-item-select:checked + .cnfr-item-label:before {
    background-color: #ffec01;
}
.cnfr-item-select:checked + .cnfr-item-icon {
    border-color: #ffec01;
}
.cnfr-item-select:disabled + .cnfr-item-count,
.cnfr-item-select:disabled ~ .cnfr-item-name,
.cnfr-item-select:disabled ~ .cnfr-item-summary {
    opacity: 0.5;
    cursor: default;
}
.cnfr-item-select:disabled + .cnfr-item-icon {
    cursor: default;
}
.cnfr-item-select:disabled + .cnfr-item-icon:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #eeeeee;
    opacity: 0.7;
}

.cnfr-item-label:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 2px #c6c6c6 solid;
    padding: 2px;
    box-sizing: border-box;
    background-clip: content-box;
    margin-right: 1.2rem;
}
.cnfr-item-label {
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
}
.cnfr-item-label-text {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}
.cnfr-item-count {
    display: inline-block;
    vertical-align: top;
    width: 4.5rem;
    height: 4.5rem;
    background: #eeeeee;
    font-size: 2rem;
    font-weight: 500;
    line-height: 4.5rem;
    text-align: center;
    cursor: pointer;
}
.cnfr-item-icon {
    box-sizing: border-box;
    font-size: 0;
    width: 120px;
    height: 120px;
    line-height: 114px;
    border: 3px #eeeeee solid;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.cnfr-item-icon-img {
    vertical-align: middle;
    max-width: 100%;
}
.cnfr-item-name {
    color: #000000;
    font-weight: 500; 
    font-size: 1.2rem;
    line-height: 1.4; 
    padding-top: 1.2rem;
}
.cnfr-item-summary {
    color: #5e5e5e;
    font-size: 1.2rem;
    line-height: 1.4; 
    padding-top: 0.6rem;
}
.cnfr-item-name,
.cnfr-item-summary {
    width: 120px;
    cursor: pointer;
}

.news {
    margin: 2rem -1rem;
}
.news-item {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 3rem 1rem;
}
.news-item-preview {
    vertical-align: bottom;
    max-width: 100%;
}
.news-item-date {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    margin-top: 1.8rem;
}
.news-item-title {
    font-size: 2rem;
    line-height: 1;
    font-weight: 500;
    color: #000000;
    margin-top: 0.5rem;
}
.news-item-summary {
    font-size: 1.2rem;
    line-height: 1.7;
    color: #5e5e5e;
    margin-top: 1.5rem;
}
.news-item-more {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.reviews {
    text-align: justify;
}
.reviews-item {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-bottom: 4rem;
}
.reviews-item-preview {
    float: left;
    width: 120px;
    margin-right: 1.5rem;
    text-align: center;
}
.reviews-item-icon {
    border-radius: 50%;
}
.reviews-item-name {
    color: #000000;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1rem;
}
.reviews-item-text {
    padding: 1rem 1.5rem;
    background: #ffec01;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    position: relative;
    margin-left: 150px;
}
.reviews-item-text:before {
    content: "";
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    border-top: 7px transparent solid;
    border-bottom: 7px #ffec01 solid;
    border-left: 8px transparent solid;
    border-right: 8px #ffec01 solid;
    position: absolute;
    top: 2rem;
    right: 100%;
}
.reviews-more {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
}
.reviews-more-link {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 1.4rem;
}
.reviews-more-link:hover {
    text-decoration: none;
}
.reviews-more-link-image {
    margin-top: 1.2rem;
}

.form-title {
    color: #000000;
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 0.4em;
}
.form-summary {
    color: #474747;
    font-size: 1.2em;
    margin-bottom: 3rem;
}
.form-thelp {
    font-size: 1.2rem;
    color: #474747;
    display: inline-block;
    vertical-align: middle;
}
.form-fieldset {
}
.form-columns {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.form-columns-item {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
}
.form-columns-item:first-child {
    padding-right: 2.5em;
}
.form-columns-item + .form-columns-item {
    padding-left: 2.5em;
}
.form-columns-item > h4 {
    margin-top: 0;
}
.form-line {
    padding: 0.5rem 0;
}
.form-table {
    display: table;
    table-layout: fixed;
}
.form-table-row {
    display: table-row;
}
.form-table-row-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 0.5rem 0;
    box-sizing: border-box;
}
.form-table-row-cell:first-child {
    max-width: 50%;
    padding-right: 2rem;
}

.confirm_button {
    display: inline-block;
    vertical-align: middle;
    box-sizing: content-box;
    border: 3px solid;
    font-size: 1.2rem;
    font-weight: bold;
    min-width: 8.5rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
}
.confirm_button,
.confirm_button:hover {
    color: #000000;
    text-decoration: none;
}
.next_button {
    display: inline-block;
    vertical-align: middle;
    box-sizing: content-box;
    border: 3px solid;
    background: #ffec01;
    font-size: 1.6rem;
    font-weight: bold;
    height: 4.2rem;
    line-height: 4.2rem;
    padding: 0 2.5rem;
    position: relative;
}
.next_button,
.next_button:hover {
    color: #000000;
    text-decoration: none;
}
.next_button-tail {
    position: absolute;
    left: 100%;
}
.next_button-tail--up {
    width: 14px;
    top: 0%;
    bottom: 0%;
}
.next_button-tail--down {
    width: 16px;
    top: -3px;
    bottom: -3px;
    margin-left: 3px; 
}
.next_button-tail:before,
.next_button-tail:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%; 
    left: 0%;
}
.next_button-tail:before {
    top: 0;
}
.next_button-tail:after {
    bottom: 0;
}
.next_button-tail--down:before {
    background: linear-gradient(to left bottom, transparent 50%, #000000 50%);
}
.next_button-tail--down:after {
    background: linear-gradient(to right bottom, #000000 50%, transparent 50%);
}
.next_button-tail--up:before {
    background: linear-gradient(to left bottom, transparent 50%, #ffec01 50%);
}
.next_button-tail--up:after {
    background: linear-gradient(to right bottom, #ffec01 50%, transparent 50%);
}


.pagenav {
    margin: 2rem 0;
}
.pagenav-item {
    display: inline-block;
    vertical-align: middle;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    line-height: 3.5rem;
    margin: 1px;
    color: #000;
    font-weight: 500;
    font-size: 1.4rem;
}
.pagenav-item--arrow {
    font-size: 2.5rem;
    line-height: 3rem;
}
a.pagenav-item {
    background: #eeeeee;
}
.current.pagenav-item {
    background: #ffec01;
}
.disabled.pagenav-item {
    cursor: none;
    pointer-events: none;
    color: #c5c5c5;
    text-decoration: none;
}

.hash-form {
    margin: 2rem 0;
}
.hash-form-select {
    position: fixed;
    right: 200%;
}
.hash-form-label {
    font-size: 1.2rem;
    background: #eeeeee;
    color: #000000;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin: 1px;
    padding: 0.6rem 1.5rem;
}
.hash-form-select:checked + .hash-form-label {
    background: #ffec01;
}

.switcher {
    width: 1020px;
    height: 829px;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    background: url({{ url_for('static', filename='images/blocks/tech/bg_switcher.jpg') }}) 50% 0% no-repeat;
    position: relative;
}
.switcher-pointer {
    position: absolute;
    left: 4px;
    right: 0;
    top: 200px;
    text-align: center;
    z-index: 1;
}
.switcher-pointer-img {
    transform-origin: 87px 112px;
}
.switcher-select {
    position: fixed;
    right: 200%;
}
.switcher-select:checked + .switcher-label {
    background: #ffffff;
    z-index: 5;
}
.switcher-select:checked + .switcher-label > .switcher-label-popup {
    display: block;
}
#switcher_program1:checked ~ .switcher-pointer > .switcher-pointer-img {
    transform: rotate(-27deg);
}
#switcher_program2:checked ~ .switcher-pointer > .switcher-pointer-img {
    transform: rotate(-60deg);
}
#switcher_program3:checked ~ .switcher-pointer > .switcher-pointer-img {
    transform: rotate(-90deg);
}
#switcher_program4:checked ~ .switcher-pointer > .switcher-pointer-img {
    transform: rotate(-120deg);
}
#switcher_program5:checked ~ .switcher-pointer > .switcher-pointer-img {
    transform: rotate(-153deg);
}
#switcher_program6:checked ~ .switcher-pointer > .switcher-pointer-img {
    transform: rotate(27deg);
}
#switcher_program7:checked ~ .switcher-pointer > .switcher-pointer-img {
    transform: rotate(60deg);
}
#switcher_program8:checked ~ .switcher-pointer > .switcher-pointer-img {
    transform: rotate(90deg);
}
#switcher_program9:checked ~ .switcher-pointer > .switcher-pointer-img {
    transform: rotate(120deg);
}
#switcher_program10:checked ~ .switcher-pointer > .switcher-pointer-img {
    transform: rotate(153deg);
}
.switcher-label {
    position: absolute;
    top: 80px;
    z-index: 2;
}
.switcher-label--left {
    right: 50%;
}
.switcher-label--right {
    left: 50%;
}
.switcher-label--center {
    left: 50%;
    margin-left: -35px;
}
.switcher-label-img {
    vertical-align: bottom;
}
.switcher-label-popup {
    position: absolute;
    top: 0;
    margin-top: -6rem;
    border: 2px #000 solid;
    width: 20rem;
    padding: 1.5rem 1.5rem 2rem 2rem;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    background: #ffffff;
    display: none;
}
.switcher-label--left > .switcher-label-popup {
    right: 100%;
    margin-right: 4rem;
}
.switcher-label--right > .switcher-label-popup {
    left: 100%;
    margin-left: 4rem;
}
.switcher-label--left > .switcher-label-popup:after,
.switcher-label--right > .switcher-label-popup:after {
    content: "";
    display: block;
    width: 22px;
    height: 44px;
    position: absolute;
    top: 7rem;
}
.switcher-label--left > .switcher-label-popup:after {
    background: url({{ url_for('static', filename='images/popup_arrow_right.png') }}) 0% 0% no-repeat;
    left: 100%;
}
.switcher-label--right > .switcher-label-popup:after {
    background: url({{ url_for('static', filename='images/popup_arrow_left.png') }}) 0% 0% no-repeat;
    right: 100%;
}
.switcher-label-popup-name {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
.switcher-label-popup-text {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 2rem;
}
.switcher-label-popup-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0;
    padding: 0.3rem;
}

.programme:after {
    content: "";
    display: block;
    height: 0;
    font-size: 0;
    overflow: hidden;
    clear: both;
}
.programme {
    margin-bottom: 6rem;
}
.programme-head {
    display: table;
    table-layout: fixed;
    margin-bottom: 2.5rem;
}
.programme-head-icon,
.programme-head-caption {
    display: table-cell;
    vertical-align: bottom;
}
.programme-head-icon {
    width: 120px;
    height: 120px;
    border: 2px #ffec01 solid;
    text-align: center;
    vertical-align: middle;
}
.programme-head-icon-img {
    vertical-align: middle;
}
.programme-head-caption {
    padding-left: 2rem;
}
.programme-head-caption > h2, 
.programme-head-caption > h4 {
    margin: 0;
}
.programme-head-caption > h2 {
    margin-top: 0.8rem;
    margin-bottom: -0.8rem;
}

.program {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.program-icon {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    line-height: 116px;
    font-size: 0;
    border: 2px #ffec01 solid;
    text-align: center;
}
.program-icon-img {
    vertical-align: middle;
}
.program-name {
    color: #000000;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-top: 1.2rem;
}

.map-form {
    background: #ffec01;
    padding: 2rem 0;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
    position: relative;
    border-collapse: separate;
    z-index: 3;
}
.map-form-label {
    display: block;
    margin-bottom: 0.8rem;
}
.map-form-field {
    border: none;
}
.map-form > h4 {
    margin-top: 0;
    margin-bottom: 2.5rem;
}

.map-list {
    position: relative;
    background: #eeeeee;
}
.map-list > h4 {
    margin-top: -0.5rem;
}
.map-item {
    color: #2d86c2;
}
.map-item:hover {
    color: #175884;
}
.current.map-item {
    color: #000000;
}
.map-item-label {
    font-size: 1.4rem;
    color: inherit;
    font-weight: inherit;
}
.map-item-content {
    display: none;
}

h2 + .map-address {
    margin-top: -1.5rem;
}
.map-address {
    background: url({{ url_for('static', filename='images/blocks/map/icon.png') }}) 0.5rem 100% no-repeat;
    padding-left: 5rem;
    min-height: 4rem;
    margin-bottom: 3rem;
}
.map-address-name {
    font-size: 2rem;
    font-weight: 500;
    color: #919191;
    margin-bottom: 0.8rem;
}
.map-address-all {
    font-size: 1.2rem;
}

.map-target {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    padding: 0.8rem 2rem 0.8rem 9rem;
    position: absolute;
    background: #ffec01;
    top: 0;
    left: 0;
}

#service_yandex_map {
    position: relative;
    z-index: 4;
}
#service_yandex_map:before {
    content: "";
    display: block;
    width: 12px;
    box-shadow: inset 3px -3px 3px rgba(0,0,0,0.4);
    position: absolute;
    top: 12px;
    left: 0;
    bottom: -12px;
    z-index: 2;
}
#service_yandex_map:after {
    content: "";
    display: block;
    height: 12px;
    box-shadow: inset 3px 3px 3px rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.tool {
    margin: 0.8rem;
    white-space: nowrap;
}
.tool-icon {
    border-radius: 50%;
    border: 1px #999999 solid;
    vertical-align: middle;
}
.tool-text {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    font-size: 1.4rem;
    color: #5e5e5e;
    margin-left: 1rem;
}

.props > h4 {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}
.props > p {
    font-size: 1.4rem;
    color: #5e5e5e;
    line-height: normal;
    margin: 0.5rem 0;
}

.faq {
    margin: 0 2rem 0 -1rem;
    font-size: 1.4rem;
}
.faq-item {
    color: #2d86c2;
    line-height: 1.5;
    margin: 0;
    list-style: none;
    position: relative;
}
.faq-item,
.faq-item-label {
    padding: 1rem;
    padding-left: 2rem;
}
.faq-item-label {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    display: block;
    margin: -1rem;
    margin-left: -2rem;
}
.faq-item:hover {
    color: #175884;
}
.faq-item:before {
    content: "•";
    position: absolute;
    left: 0.8rem;
    top: 1rem;
}
.current.faq-item {
    color: #000000;
    cursor: default;
    background: #ffec01;
}
.current.faq-item > .faq-item-label {
    cursor: default;
    pointer-events: none;
}
.current.faq-item:before,
.current.faq-item:after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 50%;
    left: 100%;
}
.current.faq-item:before {
    background: linear-gradient(to left bottom, transparent 50%, #ffec01 50%);
    top: 0;
}
.current.faq-item:after {
    bottom: 0;
    background: linear-gradient(to right bottom, #ffec01 50%, transparent 50%);
}


.common-through_wrapper {
    margin-left: -4em;
    margin-right: -4em;
}
.common-wrapper_left,
.common-wrapper_right,
.common-wrapper_top,
.common-wrapper_bottom,
.common-wrapper_all,
.common-wrapper_all_d2,
.common-wrapper {
    box-sizing: border-box;
}
.common-wrapper_all_d2 {
    padding: 2em;
}
.common-wrapper_all {
    padding: 4em;
}
.common-wrapper {
    padding-left: 4em;
    padding-right: 4em;
}
.common-wrapper_left {
    padding-left: 4em;
}
.common-wrapper_right {
    padding-right: 4em;
}
.common-wrapper_top {
    padding-top: 4em;
}
.common-wrapper_bottom {
    padding-bottom: 4em;
}


.common-marked_head {
    background: #ffec01;
    padding: 0.6em 1em;
}

.common-marker {
    background: #ffec01;
    padding: 0 0.5rem;
    font-weight: 500;
    color: #000000;
}


.common-align_top {
    vertical-align: top;
}
.common-align_middle {
    vertical-align: middle;
}
.common-align_bottom {
    vertical-align: bottom;
}

.common-align_left {
    text-align: left;
}
.common-align_right {
    text-align: right;
}
.common-align_center {
    text-align: center;
}

article .common-float_left {
    margin-right: 3rem;
}
article .common-float_right {
    margin-left: 3rem;
}
.common-float_left {
    float: left;
}
.common-float_right {
    float: right;
}
.fotorama.common-float_left {
    margin-right: 4rem;
}
.fotorama.common-float_right {
    margin-left: 4rem;
}

.common-margined_center {
    margin-left: auto;
    margin-right: auto;
}
.common-margined_left {
    margin-left: 0;
    margin-right: auto;
}
.common-margined_right {
    margin-right: 0;
    margin-left: auto;
}

.common-clear {
    clear: both;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 0;
}

.common-height_100 {
    height: 100%;
}
.common-height_50 {
    height: 50%;
}
.common-height_40 {
    height: 40%;
}
.common-height_auto {
    height: auto;
}

.common-width_100 {
    width: 100%;
}
.common-width_60 {
    width: 60%;
}
.common-width_50 {
    width: 50%;
}
.common-width_40 {
    width: 40%;
}
.common-width_25 {
    width: 25%;
}
.common-width_auto {
    width: auto;
}
.common-max_width_100 {
    max-width: 100%;
}

.common-relative {
    position: relative;
}
.common-nowrap {
    white-space: nowrap;
}

.common-bg_cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.common-bg_contain {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#publish_buttons { display: none; }

img.diagram{
    width: 100%;
    margin-top: -60px;
    margin-bottom: 4rem;
}

.block-images{
    padding: 60px 100px 40px;
}
.block-images:after{
    content: '';
    clear: both;
    display: table;
}
.block-images > div{
    float: left;
    width: 33.3333%;
    box-sizing: border-box;
    padding: 0 10px;
}
.block-images > div img{
    width: 100%;
}

/* Блоки "Технология и оборудование" */
div[data-block_id="16"] .common-wrapper_left h4,
div[data-block_id="110"] .common-wrapper_left h4{
    margin: 0.75em 0 0;
    padding-left: 20px;
}
div[data-block_id="16"] .common-wrapper_left p,
div[data-block_id="110"] .common-wrapper_left p{
    margin-top: 0.75em;
    padding-left: 20px;
    font-size: 1.3rem;
}
div[data-block_id="16"] .blocknote--left_bottom,
div[data-block_id="110"] .blocknote--left_bottom{
    margin-top: 5px;
    padding-left: 4em;
}
div[data-block_id="16"] .blocknote--right_top,
div[data-block_id="110"] .blocknote--right_top{
    margin-bottom: 2.5rem;
    width: 33em;
}
div[data-block_id="16"] .blocknote--right_bottom,
div[data-block_id="110"] .blocknote--right_bottom{
    padding-left: 0;
    margin-top: 0;
    width: 33em;
}
div[data-block_id="16"] .blocknote--right_top h4,
div[data-block_id="110"] .blocknote--right_top h4{
    margin-left: -1.9rem;
}
div[data-block_id="16"] .blocknote--left_bottom a,
div[data-block_id="16"] .blocknote--right_bottom a,
div[data-block_id="110"] .blocknote--left_bottom a,
div[data-block_id="110"] .blocknote--right_bottom a{
    padding: 6px 24px 7px;
    border: 3px solid #000;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
div[data-block_id="16"] .blocknote--left_bottom a,
div[data-block_id="110"] .blocknote--left_bottom a{
    margin-left: 20px;
}

/* Блок "Все под Вашим контролем" */
.your-controls{
    padding-bottom: 4rem;
    padding-top: 2rem;
    vertical-align: top;
}

@media screen and (min-width: 1100px) {
    div[data-block_id="16"],
    div[data-block_id="110"] {
        min-height: 760px;
    }
}
@media screen and (max-width: 1100px) {
    .block-images {
        padding: 65px 30px 40px;
    }
}
@media all and (orientation:portrait) {
    div[data-block_id="16"],
    div[data-block_id="110"]{
        background-size: 125% auto!important;
    }
}

@media screen and (min-height: 700px) {
    div[data-block_id="16"],
    div[data-block_id="110"]{
        background-size: 135% auto!important;
    }
}

/* Блок "Отсутствие долгих очередей" */
div[data-block_id="7"] .common-wrapper > h4:first-child{
    padding: 10px 0 10px 50px;
    background: url({{ url_for('static', filename='images/blocks/hd1im1tx1l/clock.png') }}) left center no-repeat;
}
div[data-block_id="7"] h4 {
    font-weight: normal;
}
div[data-block_id="7"] .common-wrapper > h4 span{
    color: #F5D700;
    font-size: 1.5em;
}
div[data-block_id="7"] .content{
    margin-top: 2rem;
}

/* Блок "Как это работает" */
.wrap-table-content{
    height: 100%;
    margin-left: -2.5em;
    margin-right: -2.5em;
}
.title-content{
    position: absolute;
    padding: 0 3.5em;
    top: 9.5rem;
    left: 0;
}
.title-content h2{
    margin-bottom: 0;
}
.wrap-table-content .common-relative{
    border-collapse: separate;
    border-spacing: 6em 5em;
    padding-top: 6rem;
}
@media screen and (max-height: 700px) {
    .wrap-table-content {
        height: 700px;
        margin-left: -1.5em;
        margin-right: -1.5em;
    }
    .title-content{
        padding: 0 4.5em;
    }
}
.wrap-table-content .common-wrapper_all{
    position: relative;
}
.wrap-table-content  .common-wrapper_all + .common-wrapper_all:before,
.wrap-table-content .common-wrapper_all + .common-wrapper_all:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 45%;
    left: -3.5em;
}
.wrap-table-content .common-wrapper_all + .common-wrapper_all:before{
    border: 12px solid transparent;
    border-left-color: rgba(255,236,1,1);
}
.wrap-table-content .common-wrapper_all + .common-wrapper_all:after{
    margin-top: 2px;
    margin-left: -1px;
    border: 10px solid transparent;
    border-left-color: #fff;
    z-index: 2;
}
.wrap-table-content .blocksummary{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    background: rgba(255,236,1,0.85);
}
.wrap-table-content .blocksummary h4{
    margin: 0;
}
.wrap-table-content .blocksummary h4 a{
    color: #000;
}
.wrap-table-content .blocksummary p{
    display: none;
}
.wrap-table-content .blocksummary:hover h4 {
    margin-bottom: 0.75em;
}
.wrap-table-content .blocksummary:hover p {
    display: block;
}
.wrap-table-content .blockcenter-cell-content, div[data-block_id="151"] .blockcenter{
    display: none;
}

/* Блок с картой */
.filter-map-module, .init-map-form{
    display: none;
}
/* Languages */
.language-toggle{
    padding-right: 13px;
    position: relative;
    background: url({{ url_for('static', filename='images/down.png') }}) right center no-repeat;
}
.language-toggle .language-list{
    display: none;
    position: absolute;
    left: 25%;
    top: 100%;
    padding: 22px 0 0 0;
}
.language-toggle .language-list ul{
    display: block;
    position: relative;
    list-style: none;
    background: #eeeeee;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    text-align: center;
    margin: 0;
    padding: 5px 0;
}
.language-toggle:hover .language-list {
    display: block;
}
.language-toggle .language-list ul:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    border-bottom-color: #eeeeee;
}
.language-toggle .language-list ul li{
    padding: 0;
    margin: 0;
}
.language-toggle .language-list ul a{
    color: #000;
    display: block;
    padding: 3px 25px;
}

/* Блок "Керхер сегодня" */

div[data-block_id="4"] .content-row-cell{
    position: relative;
}
.common-wrapper_all.block-1,
.common-wrapper_all.block-2{
    padding: 3em 4em;
}

div[data-block_id="5"] h2{
    margin-bottom: 0;
}
