{% extends 'admin/common_manage_block_data.html' %}

{% block css -%}
    {{ super() }}
    <style type="text/css">
        .col-resizer { min-width: 25px; }
        .col-title { min-width: 250px; }
    </style>
{%- endblock %}

{% block js -%}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#left_pageblocks_table, #right_pageblocks_table').DataTable({
                'ordering': true,
                'searching': false,
                'paging': false,
                'info': false,
                'columnDefs': [
                    { orderable: true, className: 'reorder', targets: 0 },
                    { orderable: false, targets: '_all' }
                ],
                rowReorder: true
            });
        });
    </script>
{%- endblock %}

{% block inner_content -%}
    <form class="{{ form.meta.class_ if form else 'form-horizontal' }}" action="{{ url_for('admin.manage_pageblock_data', page_id=page_id, pageblock_id=pageblock_id, active_subtab=active_subtab) }}" method="post">
        {% if active_subtab == 'general' -%}
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' -%}
                <div class="form-group">
                    {{ render_field(field) }}
                </div>
            {%- endfor %}
        {% elif active_subtab == 'blocks' -%}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="{{ url_for('admin.manage_epageblock', page_id=page_id, pageblock_id=pageblock_id, active_tab=active_tab, epage_id=current_block.left_epage_id, active_subtab=active_subtab) }}" class="btn btn-default">Добавить левый блок</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="{{ url_for('admin.manage_epageblock', page_id=page_id, pageblock_id=pageblock_id, active_tab=active_tab, epage_id=current_block.right_epage_id, active_subtab=active_subtab) }}" class="btn btn-default">Добавить правый блок</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="container-fluid">
                            <table id="left_pageblocks_table" class="table table-striped table-hover" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="col-resizer text-center"></th>
                                        <th class="col-title">{{ _('Pageblock title column') }}</th>
                                        <th>{{ _('Pageblock data column') }}</th>
                                        <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
                                        <th class="text-center"><span class="glyphicon glyphicon-trash text-danger"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for lb in left_blocks -%}
                                        <tr{{ ' class=alert-warning' if lb.status == 'Trash' else '' }}>
                                            <td class="text-center">{{ lb.position }}</td>
                                            <td><a href="{{ url_for('admin.manage_epageblock', page_id=page_id, pageblock_id=pageblock_id, active_tab=active_tab, epage_id=current_block.left_epage.id, epageblock_id=lb.id, active_subtab=active_subtab) }}">{{ lb.comment }}</a><input type="hidden" name="left_positions" value="{{ lb.id }}" /></td>
                                            <td><a href="{{ url_for('admin.manage_epageblock_data', page_id=page_id, pageblock_id=pageblock_id, epage_id=current_block.left_epage.id, epageblock_id=lb.id, active_tab=active_tab, active_subtab=active_subtab) }}">{{ _('Edit pageblock data link') }}</a>
                                            <td class="text-center">{{ render_bool(lb.published, with_color=True) }}</td>
                                            <td class="text-center"><input class="mark-to-remove" type="checkbox" name="toremove" value="{{ lb.id }}" /></td>
                                        </tr>
                                    {%- endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="container-fluid">
                            <table id="right_pageblocks_table" class="table table-striped table-hover" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="col-resizer text-center"></th>
                                        <th class="col-title">{{ _('Pageblock title column') }}</th>
                                        <th>{{ _('Pageblock data column') }}</th>
                                        <th class="text-center"><span class="glyphicon glyphicon-globe"></span></th>
                                        <th class="text-center"><span class="glyphicon glyphicon-trash text-danger"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rb in right_blocks -%}
                                        <tr{{ ' class=alert-warning' if rb.status == 'Trash' else '' }}>
                                            <td class="text-center">{{ rb.position }}</td>
                                            <td><a href="{{ url_for('admin.manage_epageblock', page_id=page_id, pageblock_id=pageblock_id, active_tab=active_tab, epage_id=current_block.right_epage.id, epageblock_id=rb.id, active_subtab=active_subtab) }}">{{ rb.comment }}</a><input type="hidden" name="right_positions" value="{{ rb.id }}" /></td>
                                            <td><a href="{{ url_for('admin.manage_epageblock_data', page_id=page_id, pageblock_id=pageblock_id, epage_id=current_block.right_epage_id, epageblock_id=rb.id, active_tab=active_tab, active_subtab=active_subtab) }}">{{ _('Edit pageblock data link') }}</a>
                                            <td class="text-center">{{ render_bool(rb.published, with_color=True) }}</td>
                                            <td class="text-center"><input class="mark-to-remove" type="checkbox" name="toremove" value="{{ rb.id }}" /></td>
                                        </tr>
                                    {%- endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {%- endif %}
        <div class="buttons-bar">
            <div class="buttons-bar-content">
                {{ render_save_button(True) }}
                {{ render_save_and_continue_button(True) }}
                {% if active_subtab == 'blocks' -%}
                    <button type="submit" name="trash_selected" class="btn btn-danger">{{ _('Trash selected button') }}</button>
                {%- endif %}
                {{ render_cancel_link(url_for('admin.manage_page', page_id=page_id, active_tab=active_tab)) }}
            </div>
        </div>
    </form>
{%- endblock %}